@import 'color.less';

footer {
	width: 100%;
	position: relative;
	margin-top: 70px;
	// bottom: 0;
	.main-list {
		font-size: 13px;
		color: @helper-color;
		height: 303px;
		background: rgba(0,0,0,0.5);
		// opacity: 0.8;
		.content {
			width: 1400px;
			height: 100%;
			margin: 0 auto;
			padding-top: 10px;
			.lists {
				// width: 945px;
				float: left;
				ul {
					float: left;
					padding-left: 0;
					margin-right: 20px;
					li {
						width: 115px;
						margin: 10px 0;
						&:first-child {
							font-size: 14px;
							border-bottom: 2px solid @helper-color;
							padding: 5px 0;
						}
					}
				}
			}
			.info {
				// width: 405px;
				float: right;
				p {
					&:nth-child(1),&:nth-child(3),&:nth-child(4) {
						font-size: 16px;
					}
					img {
						margin-right: 10px;
					}
				}
			}

			.selections {
				clear: both;
				height: 24px;
				position: absolute;
				bottom: 110px;
				>ul {
					padding-left: 0;
					height: 24px;
					li {
						float: left;
						width: 200px;
						cursor: pointer;
						&:nth-child(-n+4) {
							border-right: 1px solid @helper-color;
						}
						margin-right: 65px;
						.select-list {
							width: 115px;
							height: 24px;
							overflow: hidden;
							// background: @helper-color;
							select {
								width: 115px;
								height: 24px;
								// padding: 5px;
								font-size: 16px;
								border: 1px solid #ccc;
								background: transparent;
							}
						}
					}
				}
			}
		}
	}
	.copyright {
		height: 62px;
		text-align: center;
		line-height: 62px;
		font-size: 12px;
		background: #FFF;
	}
}