@import 'color.less';

header {
	color: #666666;
	.choose-language {
		font-size: 12px;
		height: 42px;
		background: #f8f8f8;
		.content {
			width: 925px;
			height: 100%;
			margin: 0 auto;
			position: relative;
			.qrcode {
				display: inline-block;
				width: 90px;
				height: 21px;
				text-align: center;
				line-height: 21px;
				border: 1px solid #666666;
				border-radius: 3px;
				margin-top: 10px;
				position: absolute;
				right: 165px;
				cursor: pointer;
			}
			.qr-code {
				position: absolute;
				top: 98%;
				right: 16%;
				z-index: 100;
				display: none;

			}
			ul {
				clear: both;
				display: inline-block;
				float: right;
				height: 100%;
				margin: 0;
				line-height: 42px;
				li {
					float: left;
					// display: inline-block;
					// width: 50px;
					padding: 0 3px;
					text-align: center;
					.mid {
						padding: 0 6px;
						border-left: 1px solid #666666;
						border-right: 1px solid #666666;
					}
					// a {
					// 	padding: 4px 7px;
					// }
					
				}
			}
		}
	}

	.head-box {
		clear: both;
		height: 62px;
		.content {
			width: 980px;
			height: 62px;
			margin: 0 auto;
			position: relative;
			.left {
				width: 42%;
				height: 100%;
				padding-left: 15px;
				line-height: 73px;
				float: left;
			}
			.right {
				width: 57%;
				height: 100%;
				float: left;
				padding-left: 148px;	
				padding-top: 15px;
				// padding-right: 7px;
				font-size: 14px;
				line-height: 73px;
				input {
					height: 35px;
					border-radius: 5px;
					border: 1px solid rgba(255,255,255,.2);
					float: left;
					color: #000;
					background: rgba(255,255,255,.5);
				}
				.search {
					float: left;
					width: 80px;
					height: 35px;
					text-align: center;
					line-height: 35px;
					background: rgba(255,255,255,.5);
					border-radius: 5px;
					margin-left: 20px;
					cursor: pointer;
					img {
						margin-right: 5px;
						vertical-align: middle;
					}
				}
				.col-line {
					width: 1px; 
					height: 35px;
					background: @index-gray;
					float: left;
					margin-left: 16px;
					// border: 1px solid @index-blue;
				}
				.login-regist {
					width: 123px;
					height: 35px;
					float: right;
					ul {
						width: 123px;
						height: 35px;
						line-height: 35px;
						background: rgba(255,255,255,.5);
						margin: 0;
						padding: 0;
						border-radius: 5px;
						li {
							float: left;
							width: 50%;
							text-align: center;	
							a {
								padding: 1px 16px;
							}					
							#regist {
								border-right: 1px solid @index-gray;
							}	
						}
					}
				}
			}
		}
	}

	.nav {
		height: 50px;
		background: rgba(255, 255, 255, 0.6);
		color: rgb(102, 102, 102);
		// z-index: 5000;
		.content{
			
			height: 100%;
			ul {
				display: block;
				width: 960px;
				height: 100%;
				margin: 0 auto;
				padding-left: 0;
				position: relative;
				li {
					float: left;
					height: 100%;
					width: 137px;
					padding-top: 8px;
					text-align: center;
					border-right: 1px solid #888f96;
					color: @index-gray;
					&:first-child {
						border-left: 1px solid #888f96;
					}
					
					a{
						width: 100%;
						height: 100%;
					}
					

					p {
						margin: 0;
						font-size: 16px;
						font-family: "Microsoft YaHei";
						font-weight: 600;
						&:last-child {
							font-size: 12px;
							margin-top: 0px;
							font-weight: normal;
							-webkit-transform: scale(0.74,0.74);
						}
					}
				}
				.navactive {
					border-bottom: 4px solid @index-blue !important;
					p {
						color: @index-blue !important;
					}
				}
				
			}
			}

			

		

		}

	.second-nav {
		height: 350px;
		background: @helper-color;
		display: none;
		.activeNav {
			background: @index-blue;
			color: @helper-color;
			i {
				color: @helper-color !important;
			}
		}
		.sec-nav {
			width: 960px;
			height: 100%;
			margin: 0 auto;
			.left {
				float: left;
				width: 28.5%;
				height: 100%;
				ul {
				margin: 0;
				padding: 0;
				width: 275px;
				color: @index-gray;
				li {
					height: 70px;
					line-height: 70px;
					font-size: 16px;
					padding-left: 40px;
					cursor: pointer;
					border-bottom: 1px solid @index-gray;
					i {
						color:@index-gray;
						float: right;
						margin-top: 18px;
						margin-right: 18px;
					}
				}
			}
		}
		.right {
			width: 670px;	
			height: 100%;
			float: left;
			.hide {
				display: none;
			}	
			.show {
				display: block;
			}
			// .nav-content {
			// 	display: none;
			// }
			.fxgk {
				padding-top: 70px;
				img {
					float: left;
					width: 300px;
					height: 210px;
					margin: 0 20px;
				}
				span {
					font-size: 21px;
					color: @index-blue;
					font-weight: bold;
				}
				p {
					margin: 15px 0;
				}
			}
			.fxys {
				padding-left: 55px;
				padding-top: 20px;
				height: 100%;
				div {
					float: left;
					width: 250px;
					height: 90px;
					line-height: 90px;
					font-size: 24px;
					letter-spacing: 10px;
					color: @index-blue;
					text-align: center;
					border: 2px solid @index-blue;
					margin-right: 50px;
					margin-bottom: 20px;
					
					img {
						vertical-align: middle;
					}
					.fxys-a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
				.red {
					color: rgb(219, 86, 94);
					border: 2px solid rgb(219, 86, 94);
				}
			}

			.tsjj {
				height: 100%;
				padding-left: 55px;
				padding-top: 20px;
				div {
					width: 250px;
					float: left;
					margin-right: 50px;
					margin-bottom: 13px;
					img {
						width: 100%;
						height: 120px;
					}
					p {
						text-align: center;
						margin: 0;
					}
				}
			}
			.qwjt {
				height: 100%;
				p {
					margin: 23px 0 !important;
				}
			}
			.zdcy {
				height: 100%;
				div {
					width: 50%;
					height: 100%;
					float: left;
					padding-top: 10px;
					&:first-child {
						padding-left: 35px;
						border-right: 1px solid #e0e0e0;
					}
					&:last-child {
						padding-left: 50px;	
					}
					h2 {
						color: @index-blue;
						font-size: 21px;
					}
					a {
						font-size: 16px;
						color: @index-gray;
						margin: 15px 0;
						margin-right: 44px;
						display: inline-block;
					}
				}
			}

			.cyfb {
				padding-left: 35px;
				padding-top: 20px;
				height: 100%;
				a {
					font-size: 16px;
					display: inline-block;
					color: @index-gray;
					margin-right: 80px;
					margin-bottom: 55px;
					// &:nth-child(3) {
					// 	margin-right: 110px;
					// 	color: red;
					// }
				}
			}
			.land {
				height: 100%;
				padding-left: 35px;
				// padding-top: 20px;
				ul {
					width: 30%;
					height: 100%;
					float: left;
					text-align: center;
					padding: 0;
					margin: 0;
					padding-top: 20px;
					li {
						margin-bottom: 40px;
						&:first-child {
							color: @index-blue;
							font-size: 21px;
							margin-bottom: 15px;
							font-weight: bold;
						}
					}
					&:nth-child(2) {
						border-left: 1px solid #e0e0e0;
						border-right: 1px solid #e0e0e0;
					}
					.more {
						height: 60px;
						text-align: right;
						padding-top: 40px;
					}
				}
			}
			.zdev {
				height: 100%;
				div {
					width: 50%;
					height: 100%;
					padding: 0 35px;
					padding-top: 20px;
					float: left;
					&:first-child {
						border-right: 1px solid #e0e0e0;
					}
					h3 {
						color: @index-blue;
						font-size: 21px;
						margin: 0;
						margin-bottom: 30px;
					}
					ul {

						padding: 0;
						margin: 0;
						li {
							width: 50%;
							height: 55px;
							float: left;
							margin-bottom: 15px;
							img {
								width: 55px;
								height: 55px;
								float: left;
								margin-right: 15px;
							}

							a {
								display: block;
								height: 100%;
								line-height: 55px;
							}
						}
					}
					&:last-child {
						ul li {
							width: 100%;
						}
					}
					.more {
						float: right;
						margin-top: 20px;
					}
				}
			}
			.txlc {
				height: 100%;
				padding-top: 70px;
				padding-left: 25px;
				div {
					width: 200px;
					float: left;
					margin-right: 15px;
					img {
						width: 200px;height: 140px;
					}
					p {
						margin: 0;
						text-align: center;
					}
				}
			}
			.yhzc {
				height: 100%;
				ul {
					width: 137px;
					margin: 0;
					padding: 0;
					float: left;
					border-right: 1px solid #e0e0e0;
					padding-top: 25px;
					li {
						margin-bottom: 15px;
						text-align: center;
						&:first-child {
							color: @index-blue;
							font-size: 21px;
							
						}
					}
				}
			}
			.cgal {
				height: 100%;
				padding-top: 25px;
				padding-left: 25px;
				div {
					width: 140px;
					height: 120px;
					float: left;
					position: relative;
					margin-right: 15px;
					margin-bottom: 15px;
					img {
						width: 100%;
						height: 100%;
					}
					p {
						position: absolute;
						bottom: 0;
						margin: 0;
						width: 100%;
						height: 30px;
						text-align: center;
						color: @helper-color;
						background: rgba(0,0,0,0.5);
					}
				}
				.more {
					display: block;
					float: right;
					margin-right: 36px;
				}
			}
			.xwdt {
				height: 100%;
				div {
					width: 50%;
					height: 100%;
					float: left;
					padding: 0 30px;
					padding-top: 25px;
					h3 {
						color: @index-blue;
						text-align: center;
						width: 260px;
						margin: 12px 0;
						font-size: 21px;
					}
					img {
						width: 260px;
						height: 130px;
					}
					p {
						font-size: 16px;
						width: 260px;
						text-align: center;
					}
				}
			}
			.zlxz {
				height: 100%;
				padding-left: 50px;
				padding-top: 25px;
				div {
					height: 80px;
					// line-height: 80px;
					color: @index-blue;
					margin-bottom: 20px;
					img {
					width: 100px;
					height: 80px;
					float: left;
					}
					span {
						margin: 0 70px;
						display: inline-block;
						margin-top: 30px;
					}
					button {
						display: inline-block;
						width: 80px;
						height: 30px;
						border: 1px solid @index-blue;
					}
				}
				
			}
		}
	}
		}
}