@import "color.less";
#process {
	width: 960px;
	margin: 0 auto;
	font-size: 16px;
	color: rgb(51, 51, 51);
	position: relative;
	.nav {
		width: 100%;
		height: 80px;
		line-height: 80px;
		font-family: "FZLTHJW";
		font-size: 16px;
	}
	ul {
		width: 100%;
		height: 50px;
		padding: 0;
		margin: 0;
		font-size: 18px;
		color: #565656;
		background-color: #fff;
		li {
			float: left;
			width: 33.33333%;
			height: 100%;
			line-height: 50px;
			text-align: center;
			border: 1px solid #e9e9e9;
			border-top: none;
			cursor: pointer;
		}
	}
	.main-box {
		background-color: #fff;
		.box {
			display: none;
		}
		.project-box{
			>div{
				display: inline;
				position: absolute;
				text-align: center;
				border:2px solid @index-blue;
				padding: 8px 2px;
				width: 222px;
				color: @index-blue;
				font-weight: 600;
				font-size: 15px;
				// line-height: 28px;
				p{
					margin: 0;
				}
				button{
					// margin-top: 8px;
					margin-top: 2px;
					background-color: transparent;
					color: @index-blue;
					border:1px solid @index-blue;
					&:hover{
						border:1px solid #fff;
						background-color:@index-blue;
						color:  #fff;
					}
				}
				&:hover{
					background-color: @index-blue;
					color: #fff;
					button{
						border:1px solid #fff;
						background-color:@index-blue;
						color:  #fff;
					}
				}
			}
		}
		.outer-project {
			background-color: #fff;
			height: 1715px;
			background: url(images/process/processouter1.png) no-repeat;
			background-position: 240px 112px;
			.project-box;
			.outer-project1{
				top:204px;
				left: 492px;
			}
			.outer-project2{
				top: 300px;
				left: 492px;
			}
			.outer-project3{
				top: 462px;
				left: 492px;
				height: 90px;
			}
			.outer-project4{
				top: 581px;
				left: 6px;
				width: 503px;
				height: 180px;
			}
			.outer-project5{
				top: 810px;
				left: 492px;
				height: 115px;
			}
			.outer-project6{
				top: 973px;
				left: 492px;
				height: 100px;
			}
			.outer-project7{
				top: 1135px;
				left: 492px;
				height: 80px;
			}
			.outer-project8{
				top: 1278px;
				left: 412px;
				width: 381px;
				height: 102px;
			}
			.outer-project9{
				top: 1447px;
				left: 492px;
			}
		}
		.inner-project{
			height: 1715px;
			background: url(images/process/processinner.png) no-repeat;
			background-position: 170px 70px;
			.project-box;
			.inner-project1{
				top:160px;
				left: 524px;
			}
			.inner-project2{
				top: 260px;
				left: 524px;
				height: 100px;
			}
			.inner-project3{
				top: 419px;
				left: 460px;
				height: 98px;
				width: 360px;
			}
			.inner-project4{
				top: 427px;
				left: 64px;
				width: 222px;
				height: 90px;
			}
			.inner-project5{
				top: 577px;
				left: 64px;
				height: 115px;
				width: 222px;
			}
			.inner-project6{
				top: 577px;
				left: 529px;
				height: 100px;
			}
			.inner-project7{
				top: 735px;
				left: 531px;
				height: 91px;
				border-width: 0px;
				border-radius: 60%;
			}
			.inner-project8{
				top: 747px;
				left: 372px;
				width: 71px;
				height: 51px;
				background-color: #fff;
			}
			.inner-project9{
				top: 863px;
				left: 611px;
				width: 60px;
				background-color: #fff;
			}
			.inner-project10{
				top:857px;
				left:26px;
				width: 510px;
				height: 182px;
			}
			.inner-project11{
				top:1085px;
				left:525px;
				height: 100px;
			}
			.inner-project12{
				top:1243px;
				left:525px;
				height: 100px;
			}
			.inner-project13{
				top:1410px;
				left:525px;
				height: 80px;
			}
			.inner-project14{
				top:1552px;
				left:525px;
			}
			.inner-project15{
				top:1718px;
				left:525px;
			}
		}
		.suggest-project{
			height: 1715px;
			background: url(images/process/buildings.png) no-repeat;
			background-position: -1px 10px;
			.project-box;
			>div{
				border-width: 0px;
			}
			.suggest-project1{
				top:163px;
				left: 120px;
			}
			.suggest-project2{
				top: 157px;
				left: 395px;
			}
			.suggest-project3{
				top: 272px;
				left: 395px;
			}
			.suggest-project4{
				top: 382px;
				left: 120px;
			}
			.suggest-project5{
				top: 522px;
				left: 120px;
			}
			.suggest-project6{
				top: 666px;
				left: 120px;
				border-width: 2px !important;
				background-color: #e7f1f5;
			}
			.suggest-project7{
				top: 665px;
				left: 396px;
			}
			.suggest-project8{
				top: 527px;
				left: 651px;
			}
			.suggest-project9{
				top: 667px;
				left: 651px;
			}
			.suggest-project10{
				top:800px;
				left:650px;
			}
			.suggest-project11{
				top:868px;
				left:120px;
				height: 84px;
			}
			.suggest-project12{
				top:962px;
				left:395px;
			}
			.suggest-project13{
				top:947px;
				left:645px;
				height: 80px;
			}
			.suggest-project14{
				top:1105px;
				left:650px;
			}
			.suggest-project15{
				top:1268px;
				left:652px;
			}
			.suggest-project16{
				top:1165px;
				left:120px;
			}
			.suggest-project17{
				top:1464px;
				left:493px;
				width: 381px;
				height: 135px;
			}
			.suggest-project18{
				top:1472px;
				left:120px;
			}
			.suggest-project19{
				top:1632px;
				left:651px;
				height: 82px;
			}
		}
	}
	.qr-code {
		width: 145px;
		height: 170px;
		position: absolute;
		right: -17%;
		bottom: .3%;
		background: url(images/advantages/qr-code.png);
		border: 1px solid #8a8a8a;
	}

	.active {
		background: #11719c;
		color: #fff;
	}
	.show {
		display: block !important;
	}
}

