@import "color.less";
#process {
	width: 960px;
	margin: 0 auto;
	font-size: 16px;
	color: rgb(51, 51, 51);
	position: relative;
	.nav {
		width: 100%;
		height: 80px;
		line-height: 80px;
		font-family: "FZLTHJW";
		font-size: 16px;
		font-weight: 600;
	}
	ul {
		width: 100%;
		height: 50px;
		padding: 0;
		margin: 0;
		font-size: 18px;
		color: #565656;
		background-color: #fff;
		border-top: 5px solid @index-blue;
		li {
			float: left;
			width: 33.334%;
			height: 100%;
			line-height: 50px;
			text-align: center;
			border: 1px solid #e9e9e9;
			border-top: none;
			cursor: pointer;
		}
	}
	.main-box {
		background-color: #fff;
		.box {
			display: none;
		}
		.project-box{
			>div{
				display: inline;
				position: absolute;
				text-align: center;
				border:2px solid @index-blue;
				padding: 5px 2px;
				width: 222px;
				color: @index-blue;
				font-weight: 600;
				font-size: 15px;
				// background-color: #fff;
				// line-height: 28px;
				p{
					margin: 0;
				}
				
				>div{
					width: 100%;
					position: absolute;
					top: 50%;
				}
				button{
					// margin-top: 8px;
					margin-top: 2px;
					background-color: transparent;
					color: @index-blue;
					border:1px solid @index-blue;
					&:hover{
						border:1px solid #fff;
						background-color:@index-blue;
						color:  #fff;
					}
				}
				&:hover{
					background-color: @index-blue;
					color: #fff;
					button{
						border:1px solid #fff;
						background-color:@index-blue;
						color:  #fff;
					}
				}
			}
		}
		.outer-project {
			background-color: #fff;
			height: 1460px;
			background: url(images/process/processouter1.png) no-repeat;
			background-position: 300px 112px;
			.project-box;
			.outer-project1{
				top:204px;
				left: 552px;
				height: 40px;
				.pd(20px);
			}
			.outer-project2{
				top: 300px;
				left: 552px;
				height: 103px;
				.pd(86px);
			}
			.outer-project3{
				top: 462px;
				left: 552px;
				height: 90px;
				.pd;
			}
			.outer-project4{
				top: 581px;
				left: 56px;
				width: 503px;
				height: 180px;
				.pd(100px);
			}
			.outer-project5{
				top: 810px;
				left: 552px;
				height: 115px;
				.pd(86px);
			}
			.outer-project6{
				top: 973px;
				left: 552px;
				height: 100px;
				.pd(60px);
			}
			.outer-project7{
				top: 1135px;
				left: 552px;
				height: 80px;
				.pd(40px);
			}
			.outer-project8{
				top: 1278px;
				left: 472px;
				width: 381px;
				height: 102px;
				.pd(60px);
			}
			.outer-project9{
				top: 1443px;
				left: 552px;
				height: 80px;
				.pd(40px);
			}
		}
		.inner-project{
			height: 1715px;
			background: url(images/process/processinner.png) no-repeat;
			background-position: 240px 70px;
			.project-box;
			.inner-project1{
				top:160px;
				left: 592px;
				height: 41px;
				.pd(20px);
			}
			.inner-project2{
				top: 260px;
				left: 592px;
				height: 100px;
				.pd(86px);
			}
			.inner-project3{
				top: 419px;
				left: 519px;
				height: 98px;
				width: 360px;
				.pd(60px);
			}
			.inner-project4{
				top: 427px;
				left: 132px;
				width: 222px;
				height: 90px;
				.pd(60px);
			}
			.inner-project5{
				top: 577px;
				left: 134px;
				height: 115px;
				width: 222px;
				.pd(80px);
			}
			.inner-project6{
				top: 577px;
				left: 597px;
				height: 100px;
				.pd(60px);
			}
			.inner-project7{
				top: 735px;
				left: 599px;
				height: 91px;
				.pd(40px);
				border-width: 0px;
				border-radius: 60%;
			}
			.inner-project8{
				top: 747px;
				left: 431px;
				width: 71px;
				height: 51px;
				.pd(20px);
				background-color: #fff;
			}
			.inner-project9{
				top: 863px;
				left: 670px;
				width: 71px;
				height: 51px;
				.pd(20px);
				background-color: #fff;
			}
			.inner-project10{
				top:857px;
				left:94px;
				.pd(100px);
				width: 510px;
				height: 182px;
			}
			.inner-project11{
				top:1085px;
				left:593px;
				.pd(60px);
				height: 100px;
			}
			.inner-project12{
				top:1246px;
				left:593px;
				.pd(60px);
				height: 100px;
			}
			.inner-project13{
				top:1410px;
				left:593px;
				.pd(40px);
				height: 80px;
			}
			.inner-project14{
				top:1552px;
				left:543px;
				width: 330px;
				height: 103px;
				.pd(60px);
			}
			.inner-project15{
				top:1718px;
				left:593px;
				height: 70px;
				.pd(40px);
			}
		}
		.suggest-project{
			height: 1715px;
			background: url(images/process/buildings.png) no-repeat;
			background-position: -1px 10px;
			.project-box;
			>div{
				border-width: 0px;
			}
			.suggest-project1{
				top:163px;
				left: 120px;
			}
			.suggest-project2{
				top: 157px;
				left: 395px;
				padding-top: 9px;
			}
			.suggest-project3{
				top: 272px;
				left: 395px;
			}
			.suggest-project4{
				top: 382px;
				left: 120px;
			}
			.suggest-project5{
				top: 522px;
				left: 120px;
			}
			.suggest-project6{
				top: 666px;
				left: 120px;
				border-width: 2px !important;
				background-color: #e7f1f5;
			}
			.suggest-project7{
				top: 665px;
				left: 396px;
			}
			.suggest-project8{
				top: 527px;
				left: 651px;
			}
			.suggest-project9{
				top: 667px;
				left: 651px;
			}
			.suggest-project10{
				top:800px;
				left:650px;
			}
			.suggest-project11{
				top:868px;
				left:120px;
				height: 84px;
				padding-top: 11px;
				.pmt(14px);
			}
			.suggest-project12{
				top:962px;
				left:395px;
			}
			.suggest-project13{
				top:947px;
				left:645px;
				height: 80px;
				padding-top: 20px;
			}
			.suggest-project14{
				top:1105px;
				left:650px;
			}
			.suggest-project15{
				top:1268px;
				left:652px;
			}
			.suggest-project16{
				top:1165px;
				left:120px;
			}
			.suggest-project17{
				top:1464px;
				left:493px;
				width: 381px;
				height: 135px;
				padding-top: 12px;
			}
			.suggest-project18{
				top:1472px;
				left:120px;
			}
			.suggest-project19{
				top:1632px;
				left:651px;
				height: 82px;
				padding-top: 19px;
				.pmt(11px);
			}
		}
	}
	.qr{
		position: absolute;
		right: -19%;
		bottom: 0;
		.qr-process{
			width: 156px;
			height: 185px;
			text-align: center;
			margin-bottom: -1px;
			margin-left: 2px;
			padding-top: 26px;
			background-color: @index-blue;
			>h3{
				margin: 0;
				color: #fff;
				font-size: 16px;
				&:first-child{
					margin-bottom: 5px;
				}
				&:last-child{
					margin-top: 0;
				}
			}
		 	>div{
		 		margin-top: 11px;
		 		display: inline-block;
		 		width: 80px;
		 		opacity: 0.5;
		 		height: 80px;
		 		background: url(images/advantages/enter.png) no-repeat;
		 		background-size: cover;
		 	}
			border: 1px solid #8a8a8a;
		}
		.qr-code {
			width: 159px;
			height: 193px;
			background: url(images/advantages/qr-code.png) no-repeat;
			background-size: cover;
		}
	}

	.active {
		background: #11719c;
		color: #fff;
	}
	.show {
		display: block !important;
	}
}

.pd(@box-width:40px){
	>div{
		height: @box-width;
		margin-top: -@box-width/2;
	}
}

.pmt(@martop:10px){
	p{
		&:first-child{
			margin-top: @martop;
		}
	}
}