<template name="buildings">
    {{> helper}} 
    {{> header}}
    <div id="buildings">
        <div class="nav">
            <a href="/">首页</a>
             >
            <span class="changed">楼宇资源</span>
        </div>
        <div class="content">
            <div class="info">
                <img src="../images/land/infoimg.png" alt="">
                <div class="text">
                    <h1>工业综合开发区———供销大楼</h1>
                    <p>待租售面积：  18128m²   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;楼宇地址：肖南路318号</p>
                    <p class="area">联系人：陆凯&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系方式：13621918370</p>
                    <button>加入对比</button>
                </div>
            </div>

            <div class="building-data">
				<div class="title">
					<img src="../images/title/楼宇参数.png" alt="">楼宇参数
				</div>
				<div class="textinfo">
					<p>租售面积：18128m <sup>2</sup>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;楼宇栋数：1栋&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					出租层数：2、3层&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;楼层数：6层&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;车位数：315KVA
					</p>
					<hr>
					<p>标准层高：4米&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;楼宇状态：运营</p>
				</div>
			</div>

			<div class="building-intro">
				<div class="title">
					<img src="../images/title/楼宇简介.png" alt="">楼宇简介
				</div>
				<div class="textinfo">
					<p style="text-indent: 2em;">上海海湾文化创意园，由上海海湾科技园发展有限公司投资运作，于2011年初正式投入使用。园区紧紧依托邻海湾大学城，借助华东理工大学、上海师范大学、应用技术学院、上海旅游专科学校等一批高校资源，以文化、旅游、创意产业为主导产业，配有上海市大学生科技基金、奉贤区科技人才基金、海湾旅游区地方引导基金，大力扶持创意创业项目入驻园区。园区总规划10000平方米，包括6000平方米科技园大楼作为创意园主楼，用于企业的办公、培训、普通实验室等；配备园区公共服务中心：包括一站式服务窗口、会议中心、培训教室、背包族办公区、信息图文中心、办公配套服务站等。12000平方米的文化街，用于各类文化企业的会展及工作室。
					周边配套：海湾大学城，商业服务。</p>
					<p>入驻企业：醉仙阁、上海奇太物资经营部、上海强生万士能生物保健公司、上海奉贤数字内容产业促进中心等。</p>
				</div>
			</div>

			<div class="ind-nav">
				<div class="title">
					<img src="../images/title/产业导向.png" alt="">产业导向
				</div>
				<div class="textinfo">
					<div class="item"><img src="../images/buildings/文化.png" alt=""></div>
					<div class="item"><img src="../images/buildings/创意产业.png" alt=""></div>
					<div class="item"></div>
					<div class="item"></div>
				</div>
			</div>

            <div class="main">
                <div class="left">
                    <div class="map">
                        <div class="title">
                            <img src="../images/title/地图简介.png" alt="">地图简介
                        </div>
                        <!--可以用百度地图代替 -->
                        <img src="../images/land/map.png" alt="">
                    </div>
                    <div class="slider">
                        <div class="title">
                            <img src="../images/title/楼宇图片.png" alt="">楼宇图片
                        </div>
                        <div class="pictures">
                            <ul>
                                <li><img src="../images/land/slide1.png" alt="">
                                    <div>查看大图</div>
                                </li>
                                <li><img src="../images/land/slide2.png" alt="">
                                    <div>查看大图</div>
                                </li>
                                <li><img src="../images/land/slide3.png" alt="">
                                    <div>查看大图</div>
                                </li>
                                <li><img src="../images/land/slide4.png" alt="">
                                    <div>查看大图</div>
                                </li>
                            </ul>
                            <span class="arrow-left"><img src="../images/land/arron-left.png" alt=""></span>
                            <span class="arrow-right"><img src="../images/land/arron-right.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="title">
                        <img src="../images/title/加入对比.png" alt="">加入对比
                    </div>
                    <div class="lists">
                        <div class="item">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>绿庭国际大厦</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                        <div class="item">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>绿庭国际大厦</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                        <div class="item">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>绿庭国际大厦</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                        <div class="item">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>绿庭国际大厦</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                        <div class="item">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>绿庭国际大厦</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qr-code">
    </div>
    {{> footer}}
</template>
