<template name="caseDetail">
{{> helper}}
{{> header}}


	<div id="case-detail">

		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">案例详情</span>
		</div>

		<div class="content">
			<div class="left">
				<div class="imgs"></div>
				<div class="text">
					<p style="font-weight: bold">导语：以优秀的人才、优质的产品、优良的文化以及优渥的事业机会不断开创更加广阔的未来，如新————优异，你看得见。</p>
					<p>NU SKIN 如新集团是全球性个人保养品和营养补充品行业的领先企业之一。2003年，正式进入中国大陆市场产品主要包括NU SKIN如新个人保养品和PHARMANEX华茂营养补充品。</p>
					<p>2014年，如新在工业综合开发区建成了世界级的抗衰老研究中心、生产基地与体验中心，正式将大中华创新总部园区落户奉贤，并以5.1亿元纳税额跃居奉贤区“财富百强企业”榜首。近年来公司多次入选福布斯“100家最值得信赖企业榜（中型企业类）”，并获得中国最具成长性企业、全国质量诚信优秀企业等荣誉。</p>
					<p>NU SKIN如新的使命是要在世界各地凝聚一股善的力量，凭借酬报优渥的事业机会、不断创新新的优质产品，和充实积极的优良文化，赋予人们提高生活品质的力量。f截至2015年1月，“NU SKIN 善的力量基金会”在大中华区累计募集及捐赠款物超过9亿元人民币，志愿者服务时间超过7万个小时，捐赠8600多万份蜜儿餐（NU SKIN如新“受饥儿滋养计划”），成功救治超过3450名先心病患儿（NU SKIN如新”中华儿童心脏病基金“），并于2015年4月9日，向中国青少年发展基金会再次捐赠1亿元人民币，在未来十年继续开展先心病患儿救助项目，预计将受益1万名贫困家庭患儿。此外，NU SKIN 如新中国还携手中国扶贫基金会共同合作设立了”NUSKIN如新5.12小额信货基金”，帮助各地灾民重建家园；建立了17所如新希望小学，帮助了逾12,580名贫困儿童圆学习之梦。</p>
				</div>
			</div>
			<div class="right">
				<div class="hot box">
					<div class="title">
						<div class="icon"><img src="../images/invest/icon1.png" alt=""></div>
						<div class="name">热门点击</div>
					</div>
					<div class="lists">
						<ul>
							<li><a href="">· 国务院办公厅关于促进进出口稳......</a></li>
							<li><a href="">· 关于运用工业企业绩效综合评价......</a></li>
							<li><a href="">· 奉贤区出台《关于加快建设中小......</a></li>
							<li><a href="">· 上海市奉贤区人民政府关于进一......</a></li>
							<li><a href="">· 上海市经济信息化委、市财政局......</a></li>
						</ul>
					</div>
				</div>
				<div class="advantages box">
					<div class="title">
						<div class="icon"><img src="../images/invest/icon2.png" alt=""></div>
						<div class="name">奉贤优势</div>
					</div>
					<div class="lists">
						<div class="ad1"><a href=""></a></div>
						<div class="ad2"><a href=""></a></div>
						<div class="ad3"><a href=""></a></div>
						<div class="ad4"><a href=""></a></div>
						<div class="ad5"><a href=""></a></div>
						<div class="ad6"><a href=""></a></div>
					</div>
				</div>
				<div class="tsjj box">
					<div class="title">
						<div class="icon"><img src="../images/invest/icon3.png" alt=""></div>
						<div class="name">特色聚焦</div>
					</div>
					<div class="lists">
						<ul>
							<li><a href=""><img src="../images/invest/slider1.png" alt=""></a></li>
							<li><a href=""></a></li>
							<li><a href=""></a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<div class="qr-code">
			
		</div>
	</div>

{{> footer}}
</template>
