<template name="concessionsDetail">
	{{> helper}}	
	{{> header}}
	<div class="container">
		<div class="nav">
			<a href="/">首页</a>
			&nbsp;>&nbsp;
			<span class="changed">政策详情</span>
		</div>
		<div class="content">
			<ul class="ul-tabs">
				<li>政策原文</li>
				<li>分类标签</li>
				<li>扶持力度</li>
				<li>申报条件</li>
				<li>提交材料</li>
				<li>受理服务</li>
			</ul>
			<div class="wapper">
			 	<div class="share-content">
		    		<h1>奉贤区金融服务业财政扶持办法(试行)</h1>
		    		<h3>(2013年8月发布)</h3>
		    		<!-- JiaThis Button BEGIN -->
		    		<!-- JiaThis Button BEGIN -->
		    		<div class="jiathis_style">
		    			<span class="jiathis_txt">分享到：</span>
		    			<a class="jiathis_button_weixin"></a>
		    			<a class="jiathis_button_tsina"></a>
		    			<a class="jiathis_button_cqq"></a>
		    			<!-- <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a> -->
		    			<!-- <a class="jiathis_counter_style"></a> -->
		    		</div>
		    		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
		    		<!-- JiaThis Button END -->
		    		<!-- JiaThis Button END -->
			 	</div>

			 	<div class="content-text">
			 		<p>
			 			<strong>第一条</strong>  为充分发挥金融在奉贤区“创新驱动、转型发展”和“三化两建设”中的引领带动作用，营造良好的区域金融环境，服务上海国际金融中心建设，根据《关于加强金融服务促进本市经济转型和结构调整的若干意见》（沪府办发〔2010〕32号）文件精神，结合我区实际，制定本办法。
			 		</p>
			 		<p><strong>第二条</strong>  本办法主要遵循以下几项原则：</p>
			 		<p>（一）税收属地原则。享受扶持政策的企业必须注册在我区且税收落地。</p>
			 		<p>（二）政府引导原则。坚持政府引导，充分发挥财政资金杠杆效应。</p>
			 		<p>（三）聚焦重点原则：扶持资金使用突出重点,选择能够完善我区金融环境、促进我区转型发展的企业作为扶持对象。</p>
			 		<p>（四）分级分担原则：开办费由区财政支付，补贴和奖励资金按区、镇(开发区)两级财政实际受益比例分担。</p>
			 		<p><strong>第三条</strong>  本办法的扶持范围包括：</p>
			 		<p>（一）一般金融机构和新型地方金融机构；</p>
			 		<p>（二）融资租赁公司和证券投资类基金管理公司；</p>
			 		<p>（三）各类股权投资机构和资产管理公司、财务公司等金融服务类机构；</p>
			 		<p>（四）改制上市、赴场外市场挂牌交易的企业。</p>
			 		<p><strong>第四条</strong>  金融服务业财政扶持引导资金的来源纳入区、镇（开发区）两级每年财政预算安排。</p>
			 		<p><strong>第五条</strong>  对新批准组建的村镇银行，按照不超过注册资本的1%给予开办费补贴，最高不超过100万元。
                    </p>
			 		<p><strong>第六条</strong>  对总部在本市以外的银行、证券公司、保险公司、期货交易公司等金融机构在我区以独立法人形式设立的专业子公司，给予50万元的开办费补贴。</p>
			 		<p><strong>第七条</strong>  以公司制设立的股权投资类企业，根据其实际到位资金，给予企业补贴：实际到位注册资本在1-5亿元（含1亿元）人民币的，给予最高不超过100万元；实际到位注册资本在5-10亿元（含5亿元）人民币的，给予最高不超过200万元；实际到位注册资本超过10亿元（含10亿元）人民币以上的，给予最高不超过300万元。</p>
			 		<p><strong>第八条</strong>  以合伙制形式设立的股权投资类企业，根据合伙企业实际募集资金的规模，给予合伙企业委托的股权投资管理企业补贴：募集资本在1-5亿元（含1亿元）人民币的，给予最高不超过100万元；募集资本在5-10亿元（含5亿元）人民币的，给予最高不超过200万元；募集资本超过10亿元（含10亿元）人民币以上的，给予最高不超过300万元。</p>
			 		<p><strong>第九条</strong>  对证券投资类基金管理企业，根据其所管理的基金规模给予补贴：管理基金规模在1-5亿元（含1亿元）人民币的，给予最高不超过20万元；管理基金规模在5-10亿元（含5亿元）人民币的，给予最高不超过50万元；管理基金规模超过10亿元（含10亿元）人民币以上的，给予最高不超过100万元。</p>
			 		<p><strong>第十条</strong>  对新设立的小额贷款公司，按其注册资本的1.5‰给予开办费补贴，最高不超过50万元。</p>
			 		<p><strong>第十一条</strong>  对新设立的融资性担保公司，按其注册资本的1.5‰给予开办费补贴，最高不超过50万元。</p>
			 		<p><strong>第十二条</strong>  对融资租赁企业，按照其实际到位注册资本予以开办费补贴：实际到位注册资本在1-5亿元（含1亿元）人民币的，给予最高不超过100万元；实际到位注册资本在5-10亿元（含5亿元）人民币的，给予最高不超过200万元；实际到位注册资本超过10亿元（含10亿元）人民币的，给予最高不超过300万元。</p>
			 		<p><strong>第十三条</strong>  鼓励企业通过公开发行股票的方式上市融资。对已完成股份制改造并在上海证监局辅导备案的企业，给予30万元补贴；对已向中国证监会提交发行上市申请并收到证监会受理函的企业，给予70万元补贴。对新迁入奉贤区的企业，如在迁入之日起两年内上市，除上述奖励外另给予企业50万元奖励。</p>
			 		<p><strong>第十四条</strong>  企业成功上市后3年内，累计直接融资净额的50%以上（含50%）用于本区产业投资且投资额实际到位的，投资额在1-5亿元（含1亿元）人民币的，给予最高100万元人民币的奖励；投资额在5亿元（含5亿元）人民币以上的，给予最高200万元人民币的奖励。已上市企业再融资的奖励比照IPO融资奖励。</p>
			 		<p><strong>第十五条</strong>  鼓励企业在“新三板”和“股交中心”挂牌交易，对成功挂牌的企业，其申请挂牌过程中发生的中介费用，按实际发生额给予扶持，最高不超过100万元。</p>
			 		<p><strong>第十六条</strong>  鼓励已经在“新三板”和“股交中心”挂牌交易的企业申请到主板、中小板和创业板上市，对转板上市的企业，按照上述企业上市有关规定给予奖励。企业在海外上市的比照国内上市享受扶持政策。
					</p>
			 		<p><strong>第十七条</strong>  鼓励区外企业将注册地迁至我区的张江分园或区内其他区域开展“新三板”和“股交中心”挂牌交易，对迁入两年内成功挂牌的企业，除同样适用上述政策外，再给予20万元奖励。</p>
			 		<p><strong>第十八条</strong>  申请上市、场外挂牌交易财政扶持的企业必须是经济效益良好、符合奉贤区的产业发展导向、严格实行规范管理且执行我区节能降耗相关管理规定的企业。</p>
			 		<p><strong>第十九条</strong>  对其他需要扶持的资产管理公司、财务管理公司等金融服务类公司，由企业注册地及主管单位按照我区相关政策予以扶持。
					</p>
			 		<p><strong>第二十条</strong>  对我区发展具有重要引领性作用的企业，采取“一事一议”办法予以扶持。</p>
			 		<p><strong>第二十一条</strong>  上述扶持政策按就高原则执行，不重复计算。</p>
			 		<p><strong>第二十二条</strong>  本办法自发布之日起实施，试行期为三年。</p>
			 		<p><strong>第二十三条</strong>  自本办法施行之日起其他相关政策自动废止。</p>
			 		<p><strong>第二十四条</strong>  本办法由奉贤区金融服务办公室、奉贤区财政局负责解释。</p>
			 	</div>
			</div>
		</div>
		<div class="qr-code">
			
		</div>
	</div>

	{{> footer}}

</template>