<template name="concessions">
	{{> helper}}
	{{> header}}

	<div class="container">
		
		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">园区详情</span>
		</div>
		<div class="content">
			<div class="main-box">
				<div class="left">
					<div class="map">
						<div class="title">
							<img src="/images/concession/logo.png" alt="">
							<div class="inputType">
								<input type="text" name="">
								<button type="" value="">搜索</button>
							</div>
						</div>
						<div id="mapcontainer">
							<div class="ul-text">
								<ul>
									<li>政策级别：</li>
									<li>不限</li>
									<li>奉贤区</li>
									<li>上海市</li>
									<li>国家</li>
								</ul>
							</div>
							<div class="ul-text">
								<ul>
									<li>政策类别：</li>
									<li>不限</li>
									<li>科技创新</li>
									<li>人才激励</li>
									<li>财政服务</li>
									<li>技术改造</li>
									<li>金融服务</li>
								</ul>
							</div>
							<div class="ul-text">
								<ul>
									<li>发布部门：</li>
									<li>不限</li>
									<li>科委</li>
									<li>经委</li>
									<li>信息委</li>
									<li>财政局</li>
									<li>组织部</li>
									<li>人保局</li>
									<li>
										<select name="">
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="" selected="selected"></option>
										</select>
									</li>
								</ul>
							</div>
							<div class="ul-text">
								<ul>
									<li>行业类别：</li>
									<li>不限</li>
									<li>新能源</li>
									<li>新材料</li>
									<li>生物医药</li>
									<li>智能电网</li>
									<li>先进装备</li>
									<li>
										<select name="">
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="">人保局</option>
											<option value="" selected="selected"></option>
										</select>
									</li>
								</ul>
							</div>
							<div class="ul-text">
								<ul>
									<li>重点政策：</li>
									<li>不限</li>
									<li>创业扶持</li>
									<li>千人计划</li>
									<li>中小企业培育</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="title">
						<img src="../images/dev/concessions.png" alt="">
					</div>
					<div class="list">
						<ul>
							<li><a href="/concessions/detail" title="">国务院办公厅关于促进进出口稳......</a></li>
							<li>关于运用工业企业绩效综合评价......</li>
							<li>奉贤区出台《关于加快建设中小......</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="main-box">
				<div class="left">
					<div class="map">
						<div id="mapcontainer">
							<div class="ul-content">
									<ul>
										<li><a href="/concessions/detail" title="">国务院办公厅关于促进进出口稳......</a></li>
										<li>关于运用工业企业绩效综合评价......</li>
										<li>奉贤区出台《关于加快建设中小......</li>
										<li>上海市奉贤区人民政府关于进一.....</li>
										<li>上海市奉贤区人民政府关于进一.....</li>
										<li>上海市奉贤区人民政府关于进一.....</li>
									</ul>
							</div>
							<div class="ul-content">
									<ul>
										<li>国务院办公厅关于促进进出口稳......</li>
										<li>关于运用工业企业绩效综合评价......</li>
										<li>奉贤区出台《关于加快建设中小......</li>
										<li>上海市奉贤区人民政府关于进一.....</li>
										<li>上海市奉贤区人民政府关于进一.....</li>
										<li>上海市奉贤区人民政府关于进一.....</li>
									</ul>
							</div>
							{{> jqPaginator}}
						</div>
					</div>
				</div>		
				<div class="right">
					<div class="title">
						<img src="../images/dev/steps.png" alt="">
					</div>
					<div class="list">
						<div class="item"><a href="">内资企业登记流程</a></div>
						<div class="item"><a href="">外资企业登记流程</a></div>
						<div class="item"><a href="">建筑工程项目审批流程</a></div>
					</div>
				</div>		
			</div>

		</div>

		<div class="qr-code">

		</div>
	</div>

{{> footer}}

</template>


<template name="jqPaginator">
	<div class="jqPaginator">
        <!-- <p id="demo3-text">当前第页</p> -->
        <div id="jqPaginator" class="pagination">
        	<a class="first" href="javascript:void(0);">
        	<i class="fa fa-angle-double-left" aria-hidden="true"></i>
        	</a>
            <a class="prev" href="javascript:void(0);"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="javascript:void(0);" jp-role="page"></a>
            <a class="next" href="javascript:void(0);" ><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="last" href="javascript:void(0);">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
	</div>
</template>