<template name="concessionsDetail1">
	{{> helper}}
	{{> header}}
	<div class="container">
		<div class="nav">
			<a href="/">首页</a>
			>
			<span class="changed">政策详情</span>
		</div>
		<div class="content">
			<ul class="ul-tabs">
				<li class="wapper-active">政策原文</li>
				<li>分类标签</li>
				<li>扶持力度</li>
				<li>申报条件</li>
				<li>提交材料</li>
				<li>受理服务</li>
			</ul>
			<div class="wapper show">
			 	<div class="share-content">
		    		<h1>国家外国专家局、财政部、国家外汇管理局关于外国专家购买外汇有关规定的通知(试行)</h1>
		    		<!-- <h3>(2013年8月发布)</h3> -->
		    		{{> jiathis }}
			 	</div>
			 	<div class="content-text">
					<p style="text-indent:0">各省、自治区、直辖市人民政府：</p>
			 		<p>
			 			今年一月，我国的外汇管理体制进行了改革，根据财政部发布的《非贸易非经营性外汇财务管理暂行规定》和中国人民银行发布的《结汇、售汇及付汇管理暂行规定》，现将 应聘在我国工作的外国专家兑换外汇的有关事项通知如下：
			 		</p>
			 		<p>一、应聘来华工作的外国文教专家（含外籍工作人员和外籍教师，下同）领取的人民币</p>
			 		<p>工 资、生活费和离职补贴费需兑换外汇时，按国家外国专家局、财政部和国家外汇管理局规定的购汇比例，即单身专家月工资的70%，带家属专家月工资的50％，外籍工作人员（外籍教师）月工资的30％，在外汇指定银行购汇。(请见注) 聘期为一（学）年的外国文教专家，合同期满后其离职补贴费（半个月工资）可全部购买外汇。外籍工作人员（外籍教师）不享受离职补贴。 外国经济技术专家按与聘用单位签订的合同或协议规定的购汇人民币限额购买外汇。</p>
			 		<p>二、财政预算内机关、事业单位和社会团体聘请的外国专家，如需购买外汇，按财政部发布的 《非贸易非经营性外汇财务管理暂行规定》执行。</p>
			 		<p>三、贸易和非贸易经营性单位聘请的外国专家，如需购买外汇，按中国人民银行发布的《结汇、售汇及付汇管理暂行规定》办理。外国专家持《外国专家证》（国家外国专家局统一制作）和专家本人的有效身份证件在外汇指定银行购汇。</p>
			 		<p>四、《外国专家证》中的购买外汇卡只限于本通知第三条所指的外国专家，其中“每月限购人民币元”栏，聘用单位应严格按与专家签订的聘用合同或协议规定的购汇人民币限额如实填写，并加盖聘用单位财务公章。</p>
			 		<p>注：外国专家换汇比例请按照国家外国专家局、财政部1996年10月14日外专发[1996] 247号《外国文教专家工资和生活待遇管理办法》第二章第十一条工资支付方式第三款：“工资的70%以内可按月兑换外汇”执行。</p>
			 		<p>(转载自： http://files.shafea.gov.cn/html/7afd7824-947f-43e6-9630-c0aeb47aaa8f.htm）</p>
			 	</div>
			</div>
		</div>
		<div class="qr-code">

		</div>
	</div>

	{{> footer}}

</template>

<template name="concessionsDetail2">
	{{> helper}}
	{{> header}}
	<div class="container">
		<div class="nav">
			<a href="/">首页</a>
			>
			<span class="changed">政策详情</span>
		</div>
		<div class="content">
			<ul class="ul-tabs">
				<li class="wapper-active">政策原文</li>
				<li>分类标签</li>
				<li>扶持力度</li>
				<li>申报条件</li>
				<li>提交材料</li>
				<li>受理服务</li>
			</ul>
			<div class="wapper show">
			 	<div class="share-content">
		    		<h1>关于进一步规范文教类外国专家聘请条件的通知</h1>
		    		<!-- <h3>(2013年8月发布)</h3> -->
		    		{{> jiathis }}
			 	</div>
			 	<div class="content-text">
					<p style="text-indent:0">各有关单位：</p>
			 		<p>
			 			根据国家外国专家局《关于印发国家外国专家局行政许可受理单等七项工作规范的通知》（外专发【2015】73号），该通知对“应聘在中国从事教育、科研、新闻、出版、文化、艺术、卫生、体育等工作的外国籍专业技术或管理人员”的聘请条件做了详细表述，为进一步规范外国文教专家聘请条件，拟在文教类外国专家聘请条件方面作出如下调整：
			 		</p>
			 		<p>一、符合文教类外国专家应取得大学学士学位且具备2年以上相关工作经历；</p>
			 		<p>二、取得硕士及以上专业学位且所学专业与岗位要求相匹配的，可免除工作经历的要求；</p>
			 		<p>三、取得硕士及以上专业学位但所学专业与岗位要求不匹配的，如取得与岗位要求相匹配的相关专业资格证书，可免除工作经历的要求；</p>
			 		<p>四、语言教师应具备大学学士学位且具有2年以上语言教育工作经历，原则上应来自母语国家，来自非母语国家的须取得所教授语言母语国大学学士及以上学位。其中具备教育类或师范类学士及以上学位，可免除工作经历的要求；具备非教育类学士及以上学位并取得所在国教师资格证、国家外国专家局认可的国际语言教学资质证书或TEFL证书的，可免除工作经历的要求。</p>
			 		<p>请各用人单位相互告知，该通知自2016年2月1日起实行。</p>
			 		<p>联系人：王海燕   黄绍燕</p>
			 		<p>电  话：32508152      32518053</p>
					<p>地  址：闸北区梅园路77号上海人才大厦4楼</p>
					<p>电子邮箱：shwgzjj@aliyun.com</p>
					<p style="text-align:right">上海市外国专家局   </p>
					<p style="text-align:right">2016年1月4日   </p>
			 	</div>
			</div>
		</div>
		<div class="qr-code">

		</div>
	</div>

	{{> footer}}

</template>

<template name="concessionsDetail3">
	{{> helper}}
	{{> header}}
	<div class="container">
		<div class="nav">
			<a href="/">首页</a>
			>
			<span class="changed">政策详情</span>
		</div>
		<div class="content">
			<ul class="ul-tabs">
				<li class="wapper-active">政策原文</li>
				<li>分类标签</li>
				<li>扶持力度</li>
				<li>申报条件</li>
				<li>提交材料</li>
				<li>受理服务</li>
			</ul>
			<div class="wapper show">
			 	<div class="share-content">
		    		<h1>上海科创中心系列出入境政策实施细则（2015年7月发布）</h1>
		    		<!-- <h3>(2013年8月发布)</h3> -->
		    		{{> jiathis }}
			 	</div>
			 	<div class="content-text">
					<!-- <p style="text-indent:0">各有关单位：</p> -->
			 		<p>
			 			1、建立市场认定人才机制，畅通人才申请永久居留的市场化渠道。取消就业单位类别和职务级别限制、放宽居住时限要求、挂钩工资和税收等，建立由市场主导、门槛透明简洁的人才申请永久居留市场化渠道。外籍人员在沪已连续工作满4年、每年在中国境内实际居住累计不少于6个月，有稳定生活保障和住所，工资性年收入和年缴纳个人所得税达到规定标准，经工作单位推荐，可以申请在华永久居留（注：工资性年收入标准和纳税标准按照上一年度上海市人均水平倍数进行调整）。
			 		</p>
			 		<p>2、对重点领域、行业引进的外籍人才和科技创新团队成员，完善从就业居留向永久居留资格的转换机制并缩短审批时限。在保留现有永久居留资格申请途径基础上，对经上海人才主管部门认定的外籍高层次人才、上海科技创新主管部门制定的科技创新职业清单所属单位聘雇并担保的行业高级专业人才（不受60周岁年龄限制），签发5年有效期的工作类居留许可，工作满3年后，经单位推荐可以申请在华永久居留，并进一步缩短审批时限。</p>
			 		<p>3、扩大高层次人才在口岸和境内申请办理人才签证的范围，提供入境和停居留便利。进一步扩大人才签证的申请范围，简化申请手续。对上海市人才主管部门认定的外籍高层次人才、上海科技创新职业清单所属单位聘雇的行业高级专业人才或者其他邀请单位出具证明属于高层次人才的外国人，未持签证来华的，可以向抵达口岸签证机关申请人才签证，入境后可按规定办理居留许可；持其他签证来华的，入境后可以申请变更为人才签证或者按规定办理居留许可。</p>
			 		<p>4、支持外国留学生在我国高等院校应届毕业后直接在上海创新创业，吸引在华外籍优秀高校毕业生的智力资源。具有在上海创新创业意愿的外国留学生，可以凭高等院校毕业证书等材料申请有效期2年以内的私人事务类居留许可，进行毕业实习及创新创业活动。期间，被有关单位聘雇的，可以按规定办理工作类居留许可。</p>
			 		<p>5、进一步简化来上海创新创业外国人的入境和居留手续，从境外吸引外国人才资源。简化现有审批流程和手续，提供签证便利，吸引更多外籍人员来沪创业就业。一是对持有人社、外专部门签发的工作许可证明来上海工作的外国人，允许其在入境后直接凭工作许可证明申请有效期1年以内的工作类居留许可；也可以向抵达口岸签证机关申请工作签证，入境后按规定办理相应期限的工作类居留许可。二是对计划来上海投资或者创新创业的外国人，来不及办理工作许可证明的，可凭投资证明或者创业计划、生活来源证明等，向抵达口岸签证机关申请私人事务签证，入境后可以申请私人事务类居留许可。 </p>
			 		<p>6、扩大长期居留许可签发范围，使在上海工作的外国人享受更为稳定的居留预期。对于在上海工作的外国人，如其已连续两次申请办理工作类居留许可，且无违法违规问题的，第三次申请工作类居留许可，可以按规定签发有效期5年以内的工作类居留许可，使其享受更为稳定的居留预期。</p>
			 		<p>7、结合上海居住证政策，扩大非上海户籍居民在上海申请出入境证件的范围。在现有政策基础上，允许持上海市居住证的人员，凭居民身份证即可在沪申请办理各类出入境证件（赴港澳台定居除外），进一步便利人才在沪居住生活。</p>
			 		<p>8、授权上海市公安机关制定港澳居民特殊人才及家属来上海定居政策并实施审批。授权上海市公安局出入境管理局制定港澳居民特殊人才及家属来上海定居政策，并授权上海市公安局进行审批，以提高审批效率，更好地吸引港澳人才。</p>
					<p>9、对外籍高层次人才随行的外籍私人服务人员提供居留便利，满足个人工作生活需求。对已获得在华永久居留资格或持有工作类居留许可的外籍高层次人才和创新创业人才，提供个人担保和雇佣合同，可以为其随行的外籍私人服务人员签发相应期限的私人事务类居留许可，满足外籍高层次人才和创新创业人才实际生活需求。</p>
					<p>10、推动完善上海口岸和长三角地区外国人过境免签政策，构建更为便捷宽松的商务旅游环境。积极支持上海市向国务院申请实施部分国家人员过境免签政策停留期限从72小时延长至144小时，从空港口岸扩大至海陆空港口岸，并实现长三角相关口岸过境免签政策联动。</p>
					<p> 11、探索研究外国旅游团乘坐邮轮经上海入境免签政策，全力支持发展邮轮经济。参考有关国家邮轮经济发展经验和我国在广东、海南、桂林等地实施外国旅游团免签入境的实践作法，积极支持上海市向国务院申请对乘坐邮轮抵达上海的外国旅游团实施免签入境政策。　 </p>
					<p>12、公安部和上海市政府建立部市协作机制，持续推动和支持上海科创中心建设。公安部和上海市政府建立部市协作机制，就促进上海科创中心建设涉及公安工作进行定期协商，加强日常工作联系，及时了解和评估各项政策效能发挥情况，并根据实际需要进行调整完善。公安部出入境管理局与张江国家自主创新示范区建立定点联系合作机制，合作开展出入境管理服务企业发展和科技创新相关课题研究，为公安部决策提供支持。</p>
					<p>来源：http://www.mps.gov.cn/n16/n1237/n1342/n803715/4477835.html</p>
			 	</div>
			</div>
		</div>
		<div class="qr-code">

		</div>
	</div>

	{{> footer}}

</template>

<template name="concessionsDetail4">
	{{> helper}}
	{{> header}}
	<div class="container">
		<div class="nav">
			<a href="/">首页</a>
			>
			<span class="changed">政策详情</span>
		</div>
		<div class="content">
			<ul class="ul-tabs">
				<li class="wapper-active">政策原文</li>
				<li>分类标签</li>
				<li>扶持力度</li>
				<li>申报条件</li>
				<li>提交材料</li>
				<li>受理服务</li>
			</ul>
			<div class="wapper show">
			 	<div class="share-content">
		    		<h1>上海市优秀学科带头人计划管理办法</h1>
		    		<!-- <h3>(2013年8月发布)</h3> -->
		    		{{> jiathis }}
			 	</div>
			 	<div class="content-text">
					<p><strong>第一章 总则</strong></p>
			 		<p>
			 		第一条 为实现上海市科技发展的总体目标，培养和选拔一批进入世界科技前沿的学科带头人，上海市科学技术委员会（以下简称市科委）特设立上海市优秀学科带头人计划。
			 		</p>
			 		<p>第二条 上海市优秀学科带头人计划是上海市科技人才培养工程的重要环节，是构筑上海市人才高地核心的重要举措，是实施建设上海市高素质科研梯队等人才工作计划的基础。</p>
			 		<p>第三条 凡符合本办法第二章规定的申请条件且没有得到过本计划资助的在沪高校或科研院所的杰出科技工作者均可提出申请。</p>
			 		<p>第四条 本计划以项目形式申报，采用个人申请，单位审核择优推荐，专家评审考核，科委审定公布的方式进行遴选。</p>
			 		<p>第五条 本计划项目经费主要用于资助上海市优秀学科带头人以自由选题形式开展的学科前沿探索和多学科交叉研究项目，尤其是与国内外知名科研机构开展的此类合作交流项目；项目经费还可用于支持出版此类研究成果的学术著作。 </p>
			 		<p><strong>第二章 申请条件</strong></p>
			 		<p>第六条 上海市优秀学科带头人是指在某一学科、专业技术领域做出过具有国际水平的研究成果；或对本学科以及相关学科领域发展有较大影响，被国内外同行公认有创新性成果或业绩者；或掌握某一学科、专业技术领域能影响高新技术产业化的关键技术并对上海市经济和社会发展做出突出贡献者。</p>
			 		<p>第七条 申请者必须热爱社会主义祖国，具有良好的科研道德和团队协作精神，并符合以下条件之一者：</p>
					<p>1、国家“973”、“863”等重大重点项目的首席科学家和一级子课题负责人；</p>
					<p>2、国家、中央部委、上海市重点实验室或工程技术研究中心负责人或者科研骨干；</p>
					<p>3、上海市科委重大项目负责人； </p>
					<p>4、上海市自然科学领域重点学科带头人；</p>
					<p>5、市科委优秀启明星和市、部委办人才计划重点资助者；</p>
					<p>第八条 一般应获得硕士以上学位，并具有教授或相当于教授级的专业技术职称。</p>
					<p>第九条 申请者应是受理申请当年1月1日年龄未满50周岁。</p>
					<p><strong>第三章 申报与评审</strong></p>
					<p>第十条 上海市优秀学科带头人计划每年申报评选一次，采用网上发布，集中受理方式进行。</p>
					<p>第十一条 申请者在“上海科技”网填报《上海市科学技术委员会科研计划项目课题可行性方案（人才计划）》，在线打印后连同有关附件材料，报送所在单位审核推荐。网上填报并提交成功、报送的书面材料签章齐全且与网上提交的电子文档内容一致的申请为有效申请。</p>
					<p>第十二条 申请者所在单位应认真审核申报材料并对申请者进行考评，如实填写单位意见，择优报送主管部门审核后，集中向市科委推荐。</p>
					<p>第十三条 市科委受理申请并组织专家对申请者及其项目进行考核评审，经市科委审定批准后，正式列入上海市优秀学科带头人计划的申请者将予以公布。</p>
					<p><strong>第四章 管理与考核</strong></p>
					<p>第十四条 列入上海市优秀学科带头人计划的人员将获得专项经费资助，资助期限一般为两年；经费按年度拨款，专款专用；获得资助者由市科委与其推荐单位签订合同，对经费资助项目进行跟踪管理。</p>
					<p>第十五条 推荐单位应创造良好科研环境和条件，支持并督促受资助者认真开展科研工作，按合同要求及时提交总结报告。</p>
					<p>第十六条 凡得到优秀学科带头人计划经费资助所取得的成果或发表的文章，均应标注中文“上海市优秀学科带头人计划支持”，英文为“Sponsored by Program of Shanghai Subject Chief Scientist”。</p>
					<p>第十七条 资助期结束后三个月内，由推荐单位填报经费使用情况表，审核项目工作总结报告，报送市科委。</p>
					<p>第十八条 在同等条件下，市科委重大重点科研计划项目优先考虑由受资助者承担或牵头组织实施。</p>
					<p>第十九条 上海市优秀学科带头人计划获得资助者不得替换，资助经费不得转让。</p>
					<p>第二十条 如发现受资助者弄虚作假骗取资助，经市科委核实后，将撤消其资格，追回资助经费，并取消其三年的申请资格，情节严重者给予通报批评。</p>
					<p><strong>第五章 附则</strong></p>
					<p>第二十一条 本办法自发布之日起施行，市科委颁布的沪科（94）第318号《上海市优秀学科带头人资助计划管理办法》同时废止。</p>
					<p>第二十二条 本办法由上海市科学技术委员会解释。</p>
					<p style="text-align:right">（转载自：http://www.stcsm.gov.cn/structure/xxgk/zcfg/shdfxfg_info_zwzy2185_1.htm）</p>
			 	</div>
			</div>
		</div>
		<div class="qr-code">

		</div>
	</div>

	{{> footer}}

</template>

<template name="concessionsDetail5">
	{{> helper}}
	{{> header}}
	<div class="container">
		<div class="nav">
			<a href="/">首页</a>
			>
			<span class="changed">政策详情</span>
		</div>
		<div class="content">
			<ul class="ul-tabs">
				<li class="wapper-active">政策原文</li>
				<li>分类标签</li>
				<li>扶持力度</li>
				<li>申报条件</li>
				<li>提交材料</li>
				<li>受理服务</li>
			</ul>
			<div class="wapper show">
			 	<div class="share-content">
		    		<h1>张江中小企业信用担保中心实施办法和流程</h1>
		    		<!-- <h3>(2013年8月发布)</h3> -->
		    		{{> jiathis }}
			 	</div>
			 	<div class="content-text">
					<p><strong>一、服务对象和条件</strong></p>
			 		<p>
			 			注册地和税收户管在张江功能区域范围内的中小型企业。原则上企业需符合以下条件之一：
			 		</p>
			 		<p>1、符合张江园区产业发展导向的高科技类中小企业；</p>
			 		<p>2、有市场、有订单、有效益，具备一定的高成长性企业；</p>
			 		<p>3、已获得风险投资的各类产业项目；</p>
			 		<p>4、园区高新技术企业、高新技术成果转化项目、科技部和市科委立项的创新基金资助项目优先支持。</p>
			 		<p><strong>二、担保额度和收费标准</strong></p>
			 		<p>原则上贷款担保额度一般不超过1200万元，贷款周期一般为一年。年保费具体费率依据担保项目的风险程度、担保期限、担保金额及运营成本等因素具体确定，一般为0.5―1.5%。并根据相应政策在贷款如期偿还后给予退还或减免。</p>
			 		<p><strong>三、担保形式</strong></p>
					<p>一般以“先资产后信用，先有形后无形”原则接受企业反担保申请；试行订单、股权和知识产权质押等反担保手段；对提供无形资产作为反担保措施的企业，一般要求企业主要经营者提供个人无限责任担保。</p>
					<p><strong>四、业务程序</strong></p>
					<p>1、意向企业向担保中心进行申请并提交相应材料；</p>
					<p>2、担保业务部在核对客户资料并对企业进行初审后，提出是否受理的建议，并在两天内给予客户反馈意见；</p>
					<p>3、业务部对已提交符合要求资料的初审合格企业进行详细的保前信用调查，并在七个工作日后出具《贷款担保调查报告》；</p>
					<p>4、在中心管理层和贷款银行预审核通过的前提下，担保中心报投贷审核委员会最终审核；</p>
					<p>5、中心与审核通过的企业签订相应担保合同，并与客户共同办妥反担保措施的抵押、质押、公证和保险等的相关手续；</p>
					<p>6、要求贷款银行依据合同放款，业务部与贷款银行共同进行相应保后管理。</p>
					<p>何先生 50807831 heb@zhangjiang.net  h1b23jok@hotmail.com</p>
					<p>金先生 50801061 jinxj@zhangjiang.net  conner.jin@hotmail.com  </p>
			 	</div>
			</div>
		</div>
		<div class="qr-code">

		</div>
	</div>

	{{> footer}}

</template>

<template name="jiathis">
	<!-- JiaThis Button BEGIN -->
	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style">
		<span class="jiathis_txt">分享到：</span>
		<a class="jiathis_button_weixin"></a>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_cqq"></a>
		<!-- <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a> -->
		<!-- <a class="jiathis_counter_style"></a> -->
	</div>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
	<!-- JiaThis Button END -->
	<!-- JiaThis Button END -->
</template>
