<template name="concessions">
	{{> helper}}
	{{> header}}

	<div class="container">
		
		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">优惠政策</span>
		</div>
		<div class="content">
			<div class="main-box">
				<div class="left">
					<div class="map">
						<div class="top-title">
							<!-- <img src="/images/concession/logo.png" alt=""> -->
							<span></span>
							<span>政策搜索</span>
							<div class="inputType">
								<input type="text" name="">
								<button type="" value="">搜索</button>
							</div>
						</div>
						<div id="mapcontainer">
							<div class="ul-text">
								<ul>
									<li>政策级别：</li>
									<li><input type="checkbox" name="" value="不限">不限</li>
									<li><input type="checkbox" name="" value="不限">奉贤区</li>
									<li><input type="checkbox" name="" value="不限">上海市</li>
									<li><input type="checkbox" name="" value="不限">国家</li>
								</ul>
							</div>
							<div class="ul-text">
								<ul>
									<li>政策类别：</li>
									<li><input type="checkbox" name="" value="不限">不限</li>
									<li><input type="checkbox" name="" value="不限">科技创新</li>
									<li><input type="checkbox" name="" value="不限">人才激励</li>
									<li><input type="checkbox" name="" value="不限">财政服务</li>
									<li><input type="checkbox" name="" value="不限">技术改造</li>
									<li><input type="checkbox" name="" value="不限">金融服务</li>
								</ul>
							</div>
							<div class="ul-text">
								<ul>
									<li>发布部门：</li>
									<li><input type="checkbox" name="" value="不限">不限</li>
									<li><input type="checkbox" name="" value="不限">科委</li>
									<li><input type="checkbox" name="" value="不限">经委</li>
									<li><input type="checkbox" name="" value="不限">信息委</li>
									<li><input type="checkbox" name="" value="不限">财政局</li>
									<li><input type="checkbox" name="" value="不限">组织部</li>
									<li><input type="checkbox" name="" value="不限">人保局</li>
									<span id="upSpan1"></span>
								</ul>
							</div>
							<div class="ul-text" id="showUltext1">
								<ul>
									<li></li>
									<li></li>
									<li style="margin-left: 39px;"><input type="checkbox" name="" value="不限">发改委</li>
									<li><input type="checkbox" name="" value="不限">住建局</li>
									<li><input type="checkbox" name="" value="不限">经信委</li>
									<li><input type="checkbox" name="" value="不限">商务委</li>
									<li><input type="checkbox" name="" value="不限">国资委</li>
									<li><input type="checkbox" name="" value="不限">其他</li>
								</ul>
							</div>
							<div class="ul-text">
								<ul>
									<li>行业类别：</li>
									<li><input type="checkbox" name="" value="不限">不限</li>
									<li><input type="checkbox" name="" value="不限">新能源</li>
									<li><input type="checkbox" name="" value="不限">新材料</li>
									<li><input type="checkbox" name="" value="不限">生物医药</li>
									<li><input type="checkbox" name="" value="不限">智能电网</li>
									<li><input type="checkbox" name="" value="不限">先进装备业</li>
									<span id="upSpan2"></span>
								</ul>
							</div>
							<div class="ul-text" id="showUltext2">
								<ul>
									<li></li>
									<li></li>
									<li style="margin-left: 59px;"><input type="checkbox" name="" value="不限">现代商贸服务业</li>
									<li><input type="checkbox" name="" value="不限">平台与电子商务业</li>
									<li><input type="checkbox" name="" value="不限">文创旅游业</li>
									<li><input type="checkbox" name="" value="不限">金融服务业</li>
									<li style="margin-left: 112px;margin-top: 20px;"><input type="checkbox" name="" value="不限">生产性服务业</li>
									<li><input type="checkbox" name="" value="不限">其他</li>
								</ul>
							</div>
							<div class="ul-text">
								<ul>
									<li>重点政策：</li>
									<li><input type="checkbox" name="" value="不限">不限</li>
									<li><input type="checkbox" name="" value="不限">创业扶持</li>
									<li><input type="checkbox" name="" value="不限">千人计划</li>
									<li><input type="checkbox" name="" value="不限">中小企业培育</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="top-title">
						<span></span>
						<span>最新政策</span>
					</div>
					<div class="list">
						<ul>
							<li><a href="" title="">国务院办公厅关于促进进出口稳......</a></li>
							<li><a href="">关于运用工业企业绩效综合评价......</a></li>
							<li><a href="">奉贤区出台《关于加快建设中小......</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="main-box">
				<div class="left">
					<div class="map">
						<div id="mapcontainer">
							<div class="ul-content">
									<ul>
										<li><a href="" title="">国务院办公厅关于促进进出口稳......</a></li>
										<li><a href="">关于运用工业企业绩效综合评价......</a></li>
										<li><a href="">奉贤区出台《关于加快建设中小......</a></li>
										<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
										<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
										<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
									</ul>
							</div>
							<div class="ul-content">
									<ul>
										<li><a href="">国务院办公厅关于促进进出口稳......</a></li>
										<li><a href="">关于运用工业企业绩效综合评价......</a></li>
										<li><a href="">奉贤区出台《关于加快建设中小......</a></li>
										<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
										<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
										<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
									</ul>
							</div>
							{{> jqPaginator}}
						</div>
					</div>
				</div>		
				<div class="right">
					<div class="invest-title">
						<span></span>
						<span>投资流程</span>
					</div>
					<div class="list">
						<div class="item-box">
							<div class="item"><a href="">内资企业登记流程</a></div>
							<div class="item"><a href="">外资企业登记流程</a></div>
							<div class="item"><a href="">建筑工程项目审批流程</a></div>
							<div class="item"><a href="">企业办事大厅入口</a></div>
						</div>
					</div>
				</div>		
			</div>

		</div>

		<div class="qr-code">

		</div>
	</div>

{{> footer}}

</template>


<template name="jqPaginator">
	<div class="jqPaginator">
        <!-- <p id="demo3-text">当前第页</p> -->
        <div id="jqPaginator" class="pagination">
        	<a class="first" href="javascript:void(0);">
        	<i class="fa fa-angle-double-left" aria-hidden="true"></i>
        	</a>
            <a class="prev" href="javascript:void(0);"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="javascript:void(0);" jp-role="page"></a>
            <a class="next" href="javascript:void(0);" ><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="last" href="javascript:void(0);">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
	</div>
</template>