<template name="aboutus">
	{{> helper}}	
	{{> header}}

	<div id="contact-us">
		<div class="nav">
			<a href="/">首页</a>
			>
			<a href="#">联系我们</a>
			>
			<span class="changed">关于我们</span>
		</div>

		<div class="content">
			<ul class="tabs">
				<a href="/contactus/aboutus"><li class="active">关于我们</li></a>
				<a href="/contactus/advice"><li>项目咨询</li></a>
				<a href="/contactus/contact"><li>联系方式</li></a>
				<a href="/contactus/map"><li>交通路线</li></a>
			</ul>
			<div class="main-box">
		    	<div class="box aboutus">
		    		<p>奉贤区行政服务管理办公室（招商办）简介</p>
					<div class="midinfo">“上海市奉贤区行政服务管理办公室”与“上海市奉贤区人民政府招商办公室”合署办公，于2015年4月搬迁至奉贤区望园南路新址。</div>
		    		<p>领导班子信息公开</p>
		    		<table>
		    			<tr>
		    				<td>姓名</td>
		    				<td>职务</td>
		    				<td>联系电话</td>
		    			</tr>
		    			<tr>
		    				<td>陈帅</td>
		    				<td>区行政服务管理办公室党组书记、主任，区政府招商办公室主任</td>
		    				<td>021—67137501</td>
		    			</tr>
		    			<tr>
		    				<td>汤剧华</td>
		    				<td>区行政服务管理办公室党组成员、调研员，区行政服务中心主任、区招商服务中心主任</td>
		    				<td>021—67137502</td>
		    			</tr>
		    			<tr>
		    				<td>王大可</td>
		    				<td>区行政服务管理办公室党组成员、副主任，区政府招商办公室副主任</td>
		    				<td>021—67137503</td>
		    			</tr>
		    			<tr>
		    				<td>徐雪峰</td>
		    				<td>区行政服务管理办公室党组成员、副主任，区政府招商办公室副主任</td>
		    				<td>021—67137505</td>
		    			</tr>
		    			<tr>
		    				<td>张群贤</td>
		    				<td>区行政服务管理办公室党组成员、副主任，区政府招商办公室副主任</td>
		    				<td>021—67137506</td>
		    			</tr>
		    		</table>
		    		<div class="org">
		    			<ul>
		    				<li>
		    					<h3>综合科</h3>
		    					<p>承担日程政务和有关事务的联络接待工作。</p>
		    					<p>联系方式:021-67137508</p>
		    				</li>
		    				<li>
		    					<h3>产业招商科</h3>
		    					<p>负责全区重点实体产业项目招商策划工作，负责全区招商进度统计工作并指导基层各产业区开展招商引资工作。</p>
		    					<p>联系方式:021-67137522</p>
		    				</li>
		    				<li>
		    					<h3>园区管理科</h3>
		    					<p>负责指导经济园区的招商引资管理、协调、指导和服务工作，负责全区商贸型招商工作的组织、推进、协调、考核等。</p>
		    					<p>联系方式：021-67137527</p>
		    				</li>
		    				<li>
		    					<h3>创业服务科</h3>
		    					<p>负责“千人计划”及海外高端人才项目接待、分析、筛选，项目信息的收集、跟踪和判断以及落户项目的服务。</p>
		    					<p>联系方式：021-37195625</p>
		    				</li>
		    				<li>
		    					<h3>投资促进科</h3>
		    					<p>负责宣传推介奉贤投资环境，组织重大招商活动，维护官方网站，编制宣传资料；参与制定全区投资促进战略及指导性意见；负责驻外办事机构的协调联络工作。</p>
		    					<p>联系方式:021-67137517</p>
		    				</li>
		    				<li>
		    					<h3>协调管理科</h3>
		    					<p>负责行政审批（包括行政许可、非许可审批和行政服务等）事项的协调管理。</p>
		    					<p>联系方式：021-67137511</p>
		    				</li>
		    				<li>
		    					<h3>服务监管科</h3>
		    					<p>督促检查各类审批事项管理暂行办法的执行情况，负责对各纳入中心管理的部门及工作人员的考核。</p>
		    					<p>联系方式：021-67137512</p>
		    				</li>
		    				<li>
		    					<h3>信息技术科</h3>
		    					<p>负责制定中心信息化工作计划并组织实施。</p>
		    					<p>联系方式：021-67137518</p>
		    				</li>
		    				<li>
		    					<h3>运行保障科</h3>
		    					<p>负责进驻部门开展窗口业务的服务保障工作。</p>
		    					<p>联系方式：021-67137520</p>
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
			</div>
		</div>
		<div class="qr-code">
		</div>
	</div>

	{{> footer}}
</template>

<template name="advice">
	{{> helper}}	
	{{> header}}

	<div id="contact-us">
		<div class="nav">
			<a href="/">首页</a>
			>
			<a href="#">联系我们</a>
			>
			<span class="changed">项目咨询</span>
		</div>

		<div class="content">
			<ul class="tabs">
				<a href="/contactus/aboutus"><li>关于我们</li></a>
				<a href="/contactus/advice"><li class="active">项目咨询</li></a>
				<a href="/contactus/contact"><li>联系方式</li></a>
				<a href="/contactus/map"><li>交通路线</li></a>
			</ul>
			<div class="main-box">
				<div class="box advice">
					<form action="">
						<p>姓名/单位  <input type="text" id="name"/></p>
						<p>联系方式 <input type="text" id="phone" /><button>验证码</button></p>
						<p><input type="text" id="verify"><button class="confirm">确认</button></p>
						<p>咨询内容</p>
						<textarea name="" id="" cols="55" rows="10"></textarea>
						<p>
						<input type="submit" value="提交">
						<input type="reset" value="重置">
						</p>
					</form>
				</div>
			</div>
		</div>
		<div class="qr-code">
			
		</div>
	</div>

	{{> footer}}
</template>

<template name="contact">
	{{> helper}}	
	{{> header}}

	<div id="contact-us">
		<div class="nav">
			<a href="/">首页</a>
			>
			<a href="#">联系我们</a>
			>
			<span class="changed">联系方式</span>
		</div>

		<div class="content">
			<ul class="tabs">
				<a href="/contactus/aboutus"><li>关于我们</li></a>
				<a href="/contactus/advice"><li>项目咨询</li></a>
				<a href="/contactus/contact"><li class="active">联系方式</li></a>
				<a href="/contactus/map"><li>交通路线</li></a>
			</ul>
			<div class="main-box">
				<div class="box contact">
					<div class="info">
						<h2>上海市奉贤区人民政府招商办公室</h2>
						<h3>地址：上海市奉贤区望园南路1529弄2号</h3>
						<h3>电话：8621-67137517</h3>
						<h3>传真：8621-67137529</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="qr-code">
			
		</div>
	</div>

	{{> footer}}
</template>

<template name="map">
	{{> helper}}	
	{{> header}}

	<div id="contact-us">
		<div class="nav">
			<a href="/">首页</a>
			>
			<a href="#">联系我们</a>
			>
			<span class="changed">交通路线</span>
		</div>

		<div class="content">
			<ul class="tabs">
				<a href="/contactus/aboutus"><li>关于我们</li></a>
				<a href="/contactus/advice"><li>项目咨询</li></a>
				<a href="/contactus/contact"><li>联系方式</li></a>
				<a href="/contactus/map"><li class="active">交通路线</li></a>
			</ul>
			<div class="main-box">
				<div class="box map show">
					<ul class="transport">
						<li>公交</li>
						<li class="map-active">自驾</li>
					</ul>
					<div class="map-info">
						<div class="bus"></div>
						<div class="self">
							<div class="self-route"></div>
							<div class="line"></div>
							<div class="all-routes">
								<div class="title">市内  ——上海奉贤招商办</div>
								<div class="item">
									<div class="item-title">路线1</div>
									<div class="item-info">
										<p>浦东国际机场 —— 上海奉贤招商办</p>
										<p>途径：申嘉湖高速公路、上海绕城高速公路</p>
									</div>
									<div class="item-total">
										共计<br>
										<span>57.9</span><br>
										公里
									</div>
								</div>
								<div class="item">
									<div class="item-title">路线2</div>
									<div class="item-info">
										<p>市区 —— 上海奉贤招商办</p>
										<p>途径：沪闵高架路、沪金高速公路</p>
									</div>
									<div class="item-total">
										共计<br>
										<span>44.2</span><br>
										公里
									</div>
								</div>
								<div class="item">
									<div class="item-title">路线3</div>
									<div class="item-info">
										<p>上海虹桥机场 —— 上海奉贤招商办</p>
										<p>途径：嘉闵高架路、沪金高速公路</p>
									</div>
									<div class="item-total">
										共计<br>
										<span>39.3</span><br>
										公里
									</div>
								</div>
							</div>
							<div class="all-routes">
								<div class="title">周边  ——上海奉贤招商办</div>
								<div class="item">
									<div class="item-title">路线1</div>
									<div class="item-info">
										<p>洋山深水港 —— 上海奉贤招商办</p>
										<p>途径：沪芦高速公路、上海绕城高速公路</p>
									</div>
									<div class="item-total">
										共计<br>
										<span>47.1</span><br>
										公里
									</div>
								</div>
								<div class="item">
									<div class="item-title">路线2</div>
									<div class="item-info">
										<p>苏州 —— 上海奉贤招商办</p>
										<p>途径：京沪高速公路、沪金高速公路</p>
									</div>
									<div class="item-total">
										共计<br>
										<span>126.5</span><br>
										公里
									</div>
								</div>
								<div class="item">
									<div class="item-title">路线3</div>
									<div class="item-info">
										<p>嘉兴 —— 上海奉贤招商办</p>
										<p>途径：亭枫高速公路、上海绕城高速公路</p>
									</div>
									<div class="item-total">
										共计<br>
										<span>83.9</span><br>
										公里
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="qr-code">
		</div>
	</div>

	{{> footer}}
</template>
