 <template name="counter">
{{> helper}}	
{{> header}}

<div id="counter">
	<div class="nav">
		<a href="/">首页</a>
		>
		<a href="#">成本计算器</a>
	</div>

	<div class="content">
		<ul id="task" class="task_ul">
		    <li><a>1</a></li>
		    <li><a>2</a></li>
		    <li><a>3</a></li>
		    <li><a>4</a></li>
		    <li><a>5</a></li>
		    <li><a>6</a></li>
		</ul>
		<div class="changecontent showcontent" value="1">
			<div class="intro">
				<p>Q:请选择您的投资区域</p>
			</div>
			<div class="pic">
				<div class="img" style="background-image: url('/images/counter/nanqiao.jpg');">
					<div class="shadow">
						<p>南桥</p>
					</div>
				</div>
				<div class="img" style="background-image: url('/images/counter/haigang.jpg');">
					<div class="shadow">
						<p>海港</p>
					</div>
				</div>	
				<div class="img" style="background-image: url('/images/counter/nanqiao.jpg');">
							
					<div class="shadow">
						<p>奉城</p>
					</div>
				</div>	
				<div class="img" style="background-image: url('/images/counter/nanqiao.jpg');">
							
					<div class="shadow">
						<p>青村</p>
					</div>
				</div>	
				<div class="img" style="background-image: url('/images/counter/situan.jpg');">
							
					<div class="shadow">
						<p>四团</p>
					</div>
				</div>	
				<div class="img" style="background-image: url('/images/counter/jinhui.jpg');">
							
					<div class="shadow">
						<p>金汇</p>
					</div>
				</div>		
			</div>
		</div>
		
		<div class="changecontent" value= "2">
			<div class="intro">
				<p>Q:请选择您的投资区域</p>
			</div>
			<div class="pic">
				<div class="img" style="background-image: url('/images/counter/nanqiao.jpg');">
					<div class="shadow">
						<p>南桥</p>
					</div>
				</div>
				<div class="img" style="background-image: url('/images/counter/haigang.jpg');">
					<div class="shadow">
						<p>海港</p>
					</div>
				</div>	
				<div class="img" style="background-image: url('/images/counter/nanqiao.jpg');">
							
					<div class="shadow">
						<p>奉城</p>
					</div>
				</div>	
				<div class="img" style="background-image: url('/images/counter/nanqiao.jpg');">
							
					<div class="shadow">
						<p>青村</p>
					</div>
				</div>	
				<div class="img" style="background-image: url('/images/counter/situan.jpg');">
							
					<div class="shadow">
						<p>四团</p>
					</div>
				</div>	
				<div class="img" style="background-image: url('/images/counter/jinhui.jpg');">
							
					<div class="shadow">
						<p>金汇</p>
					</div>
				</div>		
			</div>
		</div>

		<div class="form">
			<button type="" class="white-button">提交</button>
			<button type="" class="blue-button" id="next">下一步</button>
		</div>
	</div>
	<div class="qr-code">
		
	</div>
</div>

{{> footer}}
</template>
