<template name="devDetail">

	{{> helper}}
	{{> header}}

	<div id="dev-detail">

		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">开发区详情</span>
		</div>
		<div class="content">

			<div class="info">
				<img src="../images/land/infoimg.png" alt="">
				<div class="text">
					<h1>工业综合开发区</h1>
					<p>成立时间：2000年</p>
					<p>面积：20.8平方公里</p>
					<p class="address">地址：奉贤区环城西路1931号</p>
				</div>
			</div>

			<div class="ind-nav">
				<div class="title">
					<img src="../images/title/厂房参数.png" alt="">产业导向
				</div>
				<div class="textinfo">
					<span>输配电设备、电子电器和IT产业（主要是通讯设备制造业）、机械制造（汽车配件制造业和机电装配）、高科技产业，以及生物医药及中草药等；并优先发展输配电设备、电子电器和IT及光仪电产业，逐步将其发展为特强产业。</span>
				</div>
			</div>
			<div class="project">
				<div class="title">
					<img src="../images/title/招商项目.png" alt="">招商项目
				</div>
				<div class="textinfo">
					<span>闵行出口加工区、千人计划创业园、欧洲中小企业园、张江奉贤工业综合园、生产性服务业、生活性服务业、国际商贸园、中小企业孵化基地</span>
				</div>
			</div>
			<div class="main-box">
				<div class="left">
					<div class="company">
						<div class="title">
							<img src="../images/title/入驻企业.png" alt="">入驻企业
						</div>
						<div class="textinfo">
							<span>400余家，其中包括多家世界五百强企业、知名跨国公司和国内著名企业。<br>如美国通用电气、如新； 德国宝马格机械、马勒滤清；日本先锋电器、松下电工；国内的：凯宝药业、雷允上药业、柘中集团等。</span>
							<p></p><p></p>
							<img src="../images/dev/company-list.png" alt="">
						</div>
					</div>
					<div class="map">
						<div class="title">
							<img src="../images/title/地图简介.png" alt="">地图简介
						</div>
						<div id="mapcontainer"></div>
					</div>
				</div>
				<div class="right">
					<div class="list">
						<ul>
							<li class="active list-tab">相关企业</li>
							<li class="list-tab">相关园区</li>
						</ul>
						<div class="twotab">
						<div class="box co">
							<div class="item">
								<img src="../images/dev/coitem1.png" alt="">
								<p class="item-title">上海紫麟涂装有限公司</p>
								<p class="item-area">面&nbsp;&nbsp;&nbsp;&nbsp;积：3200m <sup>2</sup></p>
							</div>
							<div class="item">
								<img src="../images/dev/coitem1.png" alt="">
								<p class="item-title">上海紫麟涂装有限公司</p>
								<p class="item-area">面&nbsp;&nbsp;&nbsp;&nbsp;积：3200m <sup>2</sup></p>
							</div>
							<div class="item">
								<img src="../images/dev/coitem1.png" alt="">
								<p class="item-title">上海紫麟涂装有限公司</p>
								<p class="item-area">面&nbsp;&nbsp;&nbsp;&nbsp;积：3200m <sup>2</sup></p>
							</div>
							<div class="item">
								<img src="../images/dev/coitem1.png" alt="">
								<p class="item-title">上海紫麟涂装有限公司</p>
								<p class="item-area">面&nbsp;&nbsp;&nbsp;&nbsp;积：3200m <sup>2</sup></p>
							</div>
						</div>
						<div class="box area" style="display:none">
							<div class="item">
								<img src="../images/dev/coitem1.png" alt="">
								<p class="item-title">上海紫麟涂装有限公司YQ</p>
								<p class="item-area">面&nbsp;&nbsp;&nbsp;&nbsp;积：3200m <sup>2</sup></p>
							</div>
							<div class="item">
								<img src="../images/dev/coitem1.png" alt="">
								<p class="item-title">上海紫麟涂装有限公司</p>
								<p class="item-area">面&nbsp;&nbsp;&nbsp;&nbsp;积：3200m <sup>2</sup></p>
							</div>
							<div class="item">
								<img src="../images/dev/coitem1.png" alt="">
								<p class="item-title">上海紫麟涂装有限公司</p>
								<p class="item-area">面&nbsp;&nbsp;&nbsp;&nbsp;积：3200m <sup>2</sup></p>
							</div>
							<div class="item">
								<img src="../images/dev/coitem1.png" alt="">
								<p class="item-title">上海紫麟涂装有限公司</p>
								<p class="item-area">面&nbsp;&nbsp;&nbsp;&nbsp;积：3200m <sup>2</sup></p>
							</div>
						</div>
						</div>
					</div>
					<div class="contact">
						<div class="title">
							<img src="../images/title/联系方式.png" alt="">联系方式
						</div>
						<div class="textinfo contactinfo">
							<p>地址：奉贤区环城西路1999号</p>
							<p>电话：021—33655665</p>
							<p>网址：www.fengpu.com</p>
							<p>微信号：shanghaifengpu</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="qr-code">

		</div>
	</div>

{{> footer}}


</template>
