<template name="distribution">
	{{> helper}} 
    {{> header}}
	<div id="distribution">
		<div class="nav">
            <a href="/">首页</a>
          	>
            <span class="changed">重点产业</span>
        </div>
        <div class="content">
			<div class="left-list">
				<ul class="important">
					<li><img src="../images/title/重点产业.png" alt="">重点产业</li>
					<li id="importantIndus" val="importantContent">先进制造业</li>
					<li id="nowaday" val="nowaday">现代服务业</li>
				</ul>
				<ul class="distribute">
					<li><img src="../images/title/产业分布.png" alt="">产业分布</li>
					<li id="east">东部</li>
					<li id="middle">中部</li>
					<li id="south">南部</li>
					<li id="west">西部</li>
				</ul>
			</div>
			<div>
				<!-- 重点产业 -->
				<div class="right-content making" id = "rightImportant">
					<div id="importantContent" class="hide">
						<div class="slider">
							<div class="arrow-left"></div>
							<div class="arrow-right"></div>
							<div class="slider-content" id="importantslider">
								<ul>
									<li data-con="xincailiao"><img src="/images/distribution/xincailiao.jpg" alt=""></li>
									<li data-con="xinnengyuan"><img src="/images/distribution/xinnengyuan.jpg" alt=""></li>
									<li data-con="shengwuyiyao"><img src="/images/distribution/shengwuyiyao.jpg" alt=""></li>
									<li data-con="zhinengzhizao"><img src="/images/distribution/zhinengzhizao.jpg" alt=""></li>
									<li data-con="xianjin"><img src="/images/distribution/xianjin.jpg" alt=""></li>
									<li data-con="zhineng"><img src="/images/distribution/zhineng.jpg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="news">
							<div id="xincailiao">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide" id="xinnengyuan">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>111111111111新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide"  id="shengwuyiyao">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤222222222222222222区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide" id="zhinengzhizao">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide" id="xianjin">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide" id="zhineng">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
						</div>
						<div class="cos">
							<div class="top-title">
								<span></span>
								<span>入驻企业</span>
							</div>
							<div class="content" id="getinCo">
								<ul>
									<li><a href=""><img src="../images/co1.png" alt=""></a></li>
									<li><a href=""><img src="../images/co2.png" alt=""></a></li>
									<li><a href=""><img src="../images/co3.png" alt=""></a></li>
									<li><a href=""><img src="../images/co4.png" alt=""></a></li>
									<li><a href=""><img src="../images/co4.png" alt=""></a></li>
								</ul>
							</div>
								<div class="arrow-left"></div>
								<div class="arrow-right"></div>
						</div>
					</div>
					<div id="nowaday" class="hide">
						<div class="slider">
							<div class="arrow-left"></div>
							<div class="arrow-right"></div>
							<div class="slider-content" id="importantslider">
								<ul>
									<li data-con="wenchuang"><img src="/images/distribution/wenchuang.jpg" alt=""></li>
									<li data-con="shengchan"><img src="/images/distribution/shengchan.jpg" alt=""></li>
									<li data-con="jinrong"><img src="/images/distribution/jinrong.jpg" alt=""></li>
									<li data-con="xiandaishang"><img src="/images/distribution/xiandaishang.jpg" alt=""></li>
									<li data-con="pingtaidianzi"><img src="/images/distribution/pingtaidianzi.jpg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="news">
							<div id="wenchuang">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>文创现代服务业奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide" id="shengchan">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>生产111111111111新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide"  id="jinrong">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤222222222222222222区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide" id="xiandaishang">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide" id="pingtaidianzi">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
						</div>
						<div class="cos">
							<div class="top-title">
								<span></span>
								<span>入驻企业</span>
							</div>
							<div class="content" id="getinCo">
								<ul>
									<li><a href=""><img src="../images/co1.png" alt=""></a></li>
									<li><a href=""><img src="../images/co2.png" alt=""></a></li>
									<li><a href=""><img src="../images/co3.png" alt=""></a></li>
									<li><a href=""><img src="../images/co4.png" alt=""></a></li>
									<li><a href=""><img src="../images/co4.png" alt=""></a></li>
								</ul>
							</div>
								<div class="arrow-left"></div>
								<div class="arrow-right"></div>
						</div>
					</div>
				</div>
				<!-- 产业分布 -->
				<div class="right-content making hide" id="industrialD">
					<div class="banner">
					</div>
					<div class="fourboxs">
						<div class="box" data-dir="east">
							<div class="top">
								<h2>东部</h2>
								<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
							</div>
							<div class="tabs">
								<ul>
									<li>简介</li>
									<li>园区</li>
									<li>企业</li>
								</ul>
							</div>
							<div class="list">
								<div class="colist">
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									
								</div>
							</div>
						</div>
						<div class="box hide" data-dir="middle">
							<div class="top">
								<h2>中部</h2>
								<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
							</div>
							<div class="tabs">
								<ul>
									<li>简介</li>
									<li>园区</li>
									<li>企业</li>
								</ul>
							</div>
							<div class="list">
								<div class="colist">
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									
								</div>
							</div>
						</div>
						<div class="box hide" data-dir="south">
							<div class="top">
								<h2>南部</h2>
								<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
							</div>
							<div class="tabs">
								<ul>
									<li>简介</li>
									<li>园区</li>
									<li>企业</li>
								</ul>
							</div>
							<div class="list">
								<div class="colist">
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									
								</div>
							</div>
						</div>
						<div class="box hide" data-dir="west">
							<div class="top">
								<h2>西部</h2>
								<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
							</div>
							<div class="tabs">
								<ul>
									<li>简介</li>
									<li>园区</li>
									<li>企业</li>
								</ul>
							</div>
							<div class="list">
								<div class="colist">
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									
								</div>
							</div>
						</div>
						{{> jqPaginator }}
					</div>
				</div>
			</div>
        </div>
        <div class="qr-code">
        </div>
	</div>
	{{> footer}}
</template>
