<template name="distribution">
	{{> helper}} 
    {{> header}}
	
	<div id="distribution">
			
		<div class="nav">
            <a href="/">首页</a>
            >
<!--             <a href="#">产业集群</a> &nbsp;>&nbsp; -->
            <span class="changed">重点产业</span>
        </div>

        <div class="content">
        	
			<div class="left-list">
				<ul class="important">
					<li><img src="../images/重点产业.png" alt=""></li>
					<li class="active">先进制造业</li>
					<li>现代服务业</li>
				</ul>
				<ul class="distribute">
					<li><img src="../images/产业分布.png" alt=""></li>
					<li>东部</li>
					<li>中部</li>
					<li>南部</li>
					<li>西部</li>
				</ul>
			</div>
			<div>
<!-- 			<div class="right-content">
				
				<div class="banner">
					<img src="../images/disbanner.png" alt="">
				</div>
				<div class="fourboxs">
					<div class="box east">
						<div class="top">
							<h2>东部</h2>
							<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
						</div>
						<div class="tabs">
							<ul>
								<li>简介</li>
								<li>园区</li>
								<li>企业</li>
							</ul>
						</div>
						<div class="list">
							<div class="colist">
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="pages">
					                <a class="prev active" href="javascript:void(0);" jp-role="prev" jp-data="">&lt;</a>
					                <a href="javascript:void(0);" jp-role="page" jp-data=""></a>
					                <a class="next" href="javascript:void(0);" jp-role="next" jp-data="">&gt;</a>
								</div>
							</div>
							<div class="colist">
								
							</div>
							<div class="colist">
								
							</div>
						</div>
					</div>
					<div class="box middle">
						<div class="top">
							<h2>中部</h2>
							<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
						</div>
						<div class="tabs">
							<ul>
								<li>简介</li>
								<li>园区</li>
								<li>企业</li>
							</ul>
						</div>
						<div class="list">
							<div class="colist">
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
							</div>
							<div class="colist">
								
							</div>
							<div class="colist">
								
							</div>
						</div>
					</div>
					<div class="box south">
						<div class="top">
							<h2>南部</h2>
							<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
						</div>
						<div class="tabs">
							<ul>
								<li>简介</li>
								<li>园区</li>
								<li>企业</li>
							</ul>
						</div>
						<div class="list">
							<div class="item">
								<img src="../images/list1.png" alt="">
								<p>上海南郊生产性服务业园区</p>
							</div>
						</div>
					</div>
					<div class="box west">
						<div class="top">
							<h2>西部</h2>
							<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
						</div>
						<div class="tabs">
							<ul>
								<li>简介</li>
								<li>园区</li>
								<li>企业</li>
							</ul>
						</div>
						<div class="list">
							<div class="colist">
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
								<div class="item">
									<img src="../images/list1.png" alt="">
									<p>上海南郊生产性服务业园区</p>
								</div>
							</div>
							<div class="colist">
								
							</div>
							<div class="colist">
								
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<div class="right-content making">
				
				<div class="slider">
					<div class="arrow-left"></div>
					<div class="arrow-right"></div>
					<ul>
						<li><a href=""><img src="../images/新材料.png" alt=""></a></li>
						<li><a href=""><img src="../images/新能源.png" alt=""></a></li>
						<li><a href=""><img src="../images/生物医药.png" alt=""></a></li>
						<li><a href=""><img src="../images/智能制造.png" alt=""></a></li>
					</ul>
				</div>
				<div class="news">
					<div class="title">
						<img src="../images/产业资讯.png" alt="">
					</div>
					<div class="content">
						<img src="../images/bayer.png" alt="">
						<span>奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
					</div>
				</div>
<!-- 				<div class="policy">
					<div class="title">
						<img src="../images/政策解读.png" alt="">
					</div>
					<div class="content">
						<ul>
							<li>• 国务院办公厅关于促进进出口稳定增长的若干意见</li>
							<li>• 关于运用工业企业绩效综合评价标准推进工业(服务业)用地二次开发的实施意见(试行)</li>
							<li>• 关于促进本市生产性服务业功能区发展的指导意见</li>
							<li>• 奉贤区出台《关于加快建设中小企业科技创新活力区的意见》</li>
							<li>• 上海市奉贤区人民政府关于进一步鼓励支持和引导民营经济发展的实施意见</li>
						</ul>
					</div>
				</div> -->
				<div class="cos">
					<div class="top-title">
						<!-- <img src="../images/合作企业.png" alt=""> -->
						<span></span>
						<span>入驻企业</span>
					</div>
					<div class="content">
						<div class="arrow-left"></div>
						<div class="arrow-right"></div>
						<ul>
							<li><a href=""><img src="../images/co1.png" alt=""></a></li>
							<li><a href=""><img src="../images/co2.png" alt=""></a></li>
							<li><a href=""><img src="../images/co3.png" alt=""></a></li>
							<li><a href=""><img src="../images/co4.png" alt=""></a></li>
						</ul>
					</div>

				</div>
				
			</div>

			</div>

        </div>

        <div class="qr-code">
        	
        </div>

	</div>

	
	{{> footer}}
</template>