<template name="distribution">
	{{> helper}}
    {{> header}}
	<div id="distribution">
		<div class="nav">
            <a href="/">首页</a>
          	>
            <span class="changed">重点产业</span>
        </div>
        <div class="content">
			<div class="left-list">
				<ul class="important">
					<li><img src="../images/title/重点产业.png" alt="">重点产业</li>
					<li id="importantIndus" val="importantContent" class="active">先进制造业</li>
					<li id="nowaday" val="nowaday">现代服务业</li>
				</ul>
				<ul class="distribute">
					<li><img src="../images/title/产业分布.png" alt="">产业分布</li>
					<li id="east">东部</li>
					<li id="middle">中部</li>
					<li id="south">南部</li>
					<li id="west">西部</li>
				</ul>
			</div>
			<div>
				<!-- 重点产业 -->
				<div class="right-content making" id = "rightImportant">
					<div id="importantContent" class="hide">
						<div class="slider">
							<div class="arrow-left"></div>
							<div class="arrow-right"></div>
							<div class="slider-content" id="importantslider">
								<ul>
									<li data-con="xincailiao"><img src="/images/distribution/xincailiao.jpg" alt=""></li>
									<li data-con="xinnengyuan"><img src="/images/distribution/xinnengyuan.jpg" alt=""></li>
									<li data-con="shengwuyiyao"><img src="/images/distribution/shengwuyiyao.jpg" alt=""></li>
									<li data-con="xianjin"><img src="/images/distribution/xianjin.jpg" alt=""></li>
									<li data-con="zhineng"><img src="/images/distribution/zhineng.jpg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="news">
							<div id="xincailiao">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区新材料产业主要以新型化工材料为主,已经拥有上海康宁、同创普润等知名企业。重点发展特种金属功能材料、高分子材料、环保节能材料、高性能复合材料等。积极发展为航空、航天等产业配套的高强高模碳纤维、高温合金、钛合金等新材料；大力发展可持续发展和节能环保的新材料；加快发展电站、船舶等支柱产业配套的高性能精品钢等关键材料。</span>
								</div>
							</div>
							<div class="hide" id="xinnengyuan">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>新能源产业是国家和上海市确定的重点支持发展的高新技术产业，也是奉贤区优先发展、重点扶持的主导产业之一。目前，区内已有协鑫集成、晶澳太阳能、德朗能等一批新能源优势企业。</span>
									<span>重点发展太阳能、风能、潮汛发电装备、氢燃料电池、锂电池和核电站配套装备、配件、材料，推动奉贤新能源产业又好又快发展。</span>
								</div>
							</div>
							<div class="hide"  id="shengwuyiyao">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤正在打造美丽健康产业的新地标——东方美谷。美容护肤品、香水、日化用品、保健品、生物医药等多个门类的美丽健康产业集群已经形成。在总量规模方面，2015年，区内美丽健康相关产业规模以上产值达到178.3亿元，贡献税收18.6亿元。在上海全市253家化妆品企业中，有65家就在奉贤，占比超过四分之一。2015年全市化妆品生产销售总量中奉贤的占比接近40%。在企业品牌方面，区内集聚了以如新、伽蓝、韩束、科丝美诗、莹特菲勒、凯宝药业、莱士血液等国内外知名企业为核心的产业集群。在配套服务方面，中国香精香料研究所、华东理工大学检测中心等服务机构云集。在奉贤，一条集研发设计、检测认证、原料采购、生产制造、营销推广的全产业链已经基本形成并拥有巨大的发展潜力。</span>
								</div>
							</div>
							<div class="hide" id="xianjin">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区六大新兴产业中的新材料、重大装备，以及八大主导产业中汽车配件、物流装备、游艇设备、电子信息、光仪电等均具有一定基础。已初步集聚三一重工、上海日野发动机、开维喜阀门有限公司等一批先进装备企业。重点发展3D打印设备、航空发动机配件、智能机器人、工业4.0装备、大型工程机械、高档数控机床、精密仪器仪表等领域。</span>
								</div>
							</div>
							<div class="hide" id="zhineng">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>奉贤区在智能电网领域已经具有一定的产业基础，形成了输配电“一业特强”局面，汇聚了高低压开关设备制造、变压器、电缆、电池制造、电工器具等领域共94家规模以上企业，集聚了上海通用广电电气、柘中电气、中发依帕股份有限公司等重点企业。重点发展新能源发电并网系统和大容量储能系统、电力设备（含智能电网设备）、智能化变电站、电表和管理软件等，以及核电设备、风电设备、光电设备、高压输变电设备与智能电网设备等领域。</span>
								</div>
							</div>
						</div>
						<div class="cos">
							<div class="top-title">
								<span></span>
								<span>入驻企业</span>
							</div>
							<div class="content" id="getinCo">
								<ul>
									<li><a href=""><img src="../images/co1.png" alt=""></a></li>
									<li><a href=""><img src="../images/co2.png" alt=""></a></li>
									<li><a href=""><img src="../images/co3.png" alt=""></a></li>
									<li><a href=""><img src="../images/co4.png" alt=""></a></li>
									<li><a href=""><img src="../images/co4.png" alt=""></a></li>
								</ul>
							</div>
								<div class="arrow-left"></div>
								<div class="arrow-right"></div>
						</div>
					</div>
					<div id="nowaday" class="hide">
						<div class="slider">
							<div class="arrow-left"></div>
							<div class="arrow-right"></div>
							<div class="slider-content" id="importantslider">
								<ul>
									<li data-con="wenchuang"><img src="/images/distribution/wenchuang.jpg" alt=""></li>
									<li data-con="shengchan"><img src="/images/distribution/shengchan.jpg" alt=""></li>
									<li data-con="jinrong"><img src="/images/distribution/jinrong.jpg" alt=""></li>
									<li data-con="xiandaishang"><img src="/images/distribution/xiandaishang.jpg" alt=""></li>
									<li data-con="pingtaidianzi"><img src="/images/distribution/pingtaidianzi.jpg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="news">
							<div id="wenchuang">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>紧抓上海市加快建设国际文化大都市和“设计之都”的发展机遇，充分挖掘“贤文化”的内涵，强化“想休闲到奉贤”的旅游品牌，发挥文创旅游产业集聚资源要素的功能，培育和形成具有奉贤特色优势的新型文创旅游产业体系。我区拥有上海十分稀缺的环杭州湾地区滨海区域，区内拥有碧海金沙、渔人码头、都市菜园、海湾国家森林公园等高等级旅游资源和设施，具有发展会展旅游产业的独特地理优势。目前区内以南桥新城、海湾旅游区、庄行镇为布局重点，形成了3个文化创意产业集聚区（3集聚区）和3个文化创意旅游点（3点）组成的“3+3”布局。</span>
								</div>
							</div>
							<div class="hide" id="shengchan">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>大力发展生产性服务业，聚焦产业链高端，重点推进总部经济、金融服务业、研发设计服务业、信息服务业和专业服务业，推动奉贤区先进制造业和现代服务业融合发展，加速推进产业结构调整。</span>
								</div>
							</div>
							<div class="hide"  id="jinrong">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>我区金融产业基地是上海市“十二五”金融发展集聚区布局规划，是上海市首批十个服务业综合改革试点区之一。基地包括830亩商业金融用地。目前基地已经与中国国际金融有限公司签订战略协议，合作打造中金私募基金产业园。依托金融产业基地的发展，重点聚焦财富和资产管理、风险投资、科技金融、文化金融、互联网金融、物流金融、金融后台等服务业。</span>
								</div>
							</div>
							<div class="hide" id="xiandaishang">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>聚焦南桥新城和重点新市镇，以各类已建在建重点商业项目为依托，以连锁化、品牌化、网络化为引领，优化空间布局，整合优势资源，推进建成具有鲜明地域特色、与长三角现代化综合性新型城市相匹配的商贸服务体系，充分体现繁荣繁华、安居乐业的城市功能。</span>
								</div>
							</div>
							<div class="hide" id="pingtaidianzi">
								<div class="title">
									<img src="../images/产业资讯.png" alt="">
								</div>
								<div class="content">
									<img src="../images/bayer.png" alt="">
									<span>我区已拥有电子商务企业近千家（含注册型）。发展模式日趋多元，包括B2B平台型企业、制造业电商融合型企业、行业服务型企业和B2C平台型企业。南郊石油化工交易平台、泰昌、水星家纺、环讯等平台和企业已经成为代表我区特色的知名电商品牌。同时，区内已有南上海电子商务产业园、上海海湾电商总部产业园等专业园区及平台机构。紧密结合实体经济的发展，通过网络和电子信息技术搭建平台，汇聚各类服务功能，整合产业链要素与资源，进而带动制造业转型升级、服务业快速发展。</span>
								</div>
							</div>
						</div>
						<!-- <div class="cos">
							<div class="top-title">
								<span></span>
								<span>入驻企业</span>
							</div>
							<div class="content" id="getinCo">
								<ul>
									<li><a href=""><img src="../images/co1.png" alt=""></a></li>
									<li><a href=""><img src="../images/co2.png" alt=""></a></li>
									<li><a href=""><img src="../images/co3.png" alt=""></a></li>
									<li><a href=""><img src="../images/co4.png" alt=""></a></li>
									<li><a href=""><img src="../images/co4.png" alt=""></a></li>
								</ul>
							</div>
								<div class="arrow-left"></div>
								<div class="arrow-right"></div>
						</div> -->
					</div>
				</div>
				<!-- 产业分布 -->
				<div class="right-content making hide" id="industrialD">
					<div class="banner">
					</div>
					<div class="fourboxs">
						<div class="box" data-dir="east">
							<div class="top">
								<h2>东部</h2>
								<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
							</div>
							<div class="tabs">
								<ul>
									<li>简介</li>
									<li>园区</li>
									<li>企业</li>
								</ul>
							</div>
							<div class="list">
								<div class="colist">
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>

								</div>
							</div>
						</div>
						<div class="box hide" data-dir="middle">
							<div class="top">
								<h2>中部</h2>
								<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
							</div>
							<div class="tabs">
								<ul>
									<li>简介</li>
									<li>园区</li>
									<li>企业</li>
								</ul>
							</div>
							<div class="list">
								<div class="colist">
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>

								</div>
							</div>
						</div>
						<div class="box hide" data-dir="south">
							<div class="top">
								<h2>南部</h2>
								<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
							</div>
							<div class="tabs">
								<ul>
									<li>简介</li>
									<li>园区</li>
									<li>企业</li>
								</ul>
							</div>
							<div class="list">
								<div class="colist">
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>

								</div>
							</div>
						</div>
						<div class="box hide" data-dir="west">
							<div class="top">
								<h2>西部</h2>
								<span>生物医药、汽车配件、智能电网产业和总部集聚区</span>
							</div>
							<div class="tabs">
								<ul>
									<li>简介</li>
									<li>园区</li>
									<li>企业</li>
								</ul>
							</div>
							<div class="list">
								<div class="colist">
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>
									<div class="item">
										<img src="../images/list1.png" alt="">
										<p>上海南郊生产性服务业园区</p>
									</div>

								</div>
							</div>
						</div>
						{{> jqPaginator }}
					</div>
				</div>
			</div>
        </div>
        <div class="qr-code">
        </div>
	</div>
	{{> footer}}
</template>
