<template name = "focus">
	{{> helper}}	
	{{> header}}
	<div class="container">
				<div class="nav">
					<a href="/">首页</a>
					>
					<span class="changed">特色聚焦</span>
				</div>
				<div class="content">
					<ul class="ul-tabs">
						<div class="border"></div>
						<li>千人计划</li>
						<li>创新创业</li>
						<li>服务平台</li>
						<li>东方美谷</li>
					</ul>
					<div class="wapper">
					 	<div class="wapper-content">
				    		<div class="left-img">
				    			<div style="background-image: url('/images/select/focus/1.jpg');"></div>
				    		</div>
				    		<div class="right-img">
				    			<div style="background-image: url('/images/select/focus/2.jpg');"></div>
				    			<div style="background-image: url('/images/select/focus/3.jpg');"></div>
				    			<div style="background-image: url('/images/select/focus/4.jpg');"></div>
				    			<div style="background-image: url('/images/select/focus/5.jpg');"></div>
				    		</div>
					 	</div>
						<div class="content-text">
							<p>2008年12月23日，中共中央办公厅转发《中央人才工作协调小组关于实施海外高层次人才引进计划的意见》。海外高层次人才引进计划（简称“千人计划”），主要是围绕国家发展战略目标， 千人计划的组织领导 海外高层次人才引进工作小组负责千人计划的组织领导和统筹协调。工作小组由中央组织部、人力资源和社会保障部会同教育部、科技部、中国人民银行、国资委、中国科学院、中央统战部、外交部、发改委、工业和信息化部、公安部、财政部、侨办、中国工程院、自然科学基金委、外专局、共青团中央、中国科协等单位组成。</p>
							<p>在中央组织部人才工作局设立海外高层次人才引进工作专项办公室，作为工作小组的日常办事机构，负责千人计划的具体实施。 在符合条件的中央企业、大学和科研机构以及部分国家级高新技术产业开发区，建立海外高层次人才创新创业基地，推进产学研紧密结合，探索实行国际通行的科学研究和科技开发、创业机制，集聚一批海外高层次创新创业人才和团队。</p>
							<p>国家有关部门要继续做好做强“长江学者奖励计划”、“百人计划”、“国家杰出青年科学基金”等人才引进项目。同时，要制定实施专项计划，重点引进推进本行业本领域发展急需和紧缺的高层次人才。</p>
							<p>各省（区、市）要结合本地区经济社会发展和产业结构调整的需要，有针对性地引进一批海外高层次人才。有条件的地方特别是东部沿海地区和中心城市，要依托经济技术开发区、高新技术产业开发区、留学人员创业园、大学科技园等，推出一批特色项目，大力吸引海外高层次人才回国（来华）创业。国家支持、鼓励非公有制企业和民办非企业单位开展引进海外高层次人才工作。</p>
							<p>实施背景</p>
							<p>以留学人才为主体的海外人才是我国高层次人才队伍的重要来源，在社会主义现代化建设进程中发挥了积极作用。建国之初，以钱学森、李四光、邓稼先、吴文俊等杰出科学家为代表的海外留学人才回到祖国，为发展新中国的工业、科研、教育和国防建设事业建立了卓越功勋。国家重点项目学重点大学引进海外一流人才科带头人中的72%是“海归”，81%的中科院院士、54%的工程院院士也是“海归”。在全国创办的60多个留学人员创业园中，留学人员创办企业5000多家，年产值逾100亿元。2006年，国家自然科学奖获奖项目的第一完成人中的67%、国家技术发明奖第一完成人中的40%、国家科技进步奖项目第一完成人中的30%是留学回国人员。</p>
							<p>采取积极措施吸引海外人才是世界主要发达国家和新兴发展中国家壮大本国人才队伍的通行做法，也是在较短时间内突破技术瓶颈，提升科研水平的一条宝贵经验。改革开放以来，我国出国留学人数不断增多。据有关方面统计，我国在主要发达国家约有20多万人学成后留在海外工作，其中45岁以下、具有助理教授或相当职务以上的约6．7万人；就职于国际知名企业、高水平大学和科研机构，具有副教授或相当职务以上的高层次留学人才约1．5万人。这些留学人员虽然长期在海外工作、生活，但其中许多人始终心系祖国，有回国工作和为国服务的愿望。</p>
							<p>随着改革开放的深入推进，我国各项事业蓬勃发展，为各方面优秀人才提供了前所未有的发展空间和广阔舞台，吸引大批海外高层次人才的时机已经到来。因此，中央提出要统筹资源、完善政策、健全机制，组织实施海外高层次人才引进计划，大力引进海外高层次人才回国（来华）创新创业。</p>
						</div>
					</div>
				</div>
				<div class="qr-code">
					
				</div>
	</div>
	{{> footer}}
</template>