<template name = "focus">
	{{> helper}}	
	{{> header}}
	<div class="container">
				<div class="nav">
					<a href="/">首页</a>
					>
					<span class="changed">特色聚焦</span>
				</div>
				<div class="content">
					<ul class="ul-tabs">
						<div class="border"></div>
						<li class="wapper-active">千人计划</li>
						<li>创新创业</li>
						<li>服务平台</li>
						<li>东方美谷</li>
					</ul>
					<div class="four-items">
						<div class="wapper show">
						 	<div class="wapper-content">
					    		<div class="left-img">
					    			<div style="background-image: url('/images/select/focus/1.jpg');"></div>
					    		</div>
					    		<div class="right-img">
					    			<div style="background-image: url('/images/select/focus/2.jpg');"></div>
					    			<div style="background-image: url('/images/select/focus/3.jpg');"></div>
					    			<div style="background-image: url('/images/select/focus/4.jpg');"></div>
					    			<div style="background-image: url('/images/select/focus/5.jpg');"></div>
					    		</div>
						 	</div>
							<div class="content-text">
								<p>随着上海建设具有全球影响力科新中心号角的吹响，奉贤区积极响应，找准自身定位，努力打造成为科创中心的重要组成部分。作为目前上海唯一的千人计划创业园所在地，奉贤在针对海外高层次人才科技创新创业基地的建设方面，有着得天独厚的优势。千人计划创业园聚焦于战略性新兴产业和现代服务业，且引才类型为具有较大创新潜力、有望突破核心技术、能提升我区产业整体水平的中央和地方（省级）“千人计划”创业型人才或者相应高水平海外领军人才，与此相关的项目也在同一领域内起着行业领军人的作用。</p>
								<p>2012年8月，首届“上海国际英才创新创业活动周”在上海市奉贤区隆重举行，同时上海唯一的千人计划创业园落户奉贤，极大的推动上海的科技创新创业精神，深入实施人才强市战略，吸引更高层次、更广领域的海外高层次人才来沪发展。</p>
								<p>创业园为广大人才提供场地补贴、开办补贴、生活安居、创业激励等扶持政策。</p>
								<p>了解更多：www.1000plan.com（待定）</p>
							</div>
						</div>
						<div class="wapper show">
							 	<div class="wapper-content">
						    		<div class="left-img">
						    			<div style="background-image: url('/images/select/focus/11.jpg');"></div>
						    		</div>
						    		<div class="right-img">
						    			<div style="background-image: url('/images/select/focus/22.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/33.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/44.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/55.jpg');"></div>
						    		</div>
							 	</div>
								<div class="content-text">
									<p>奉贤区位于国际化大都市上海，长江三角洲的圆心，拥有广阔的经济腹地。据统计，至2015年末奉贤总共有20余万中小企业，占全区企业总量的99%以上。中小企业纳税占全区税收收入比重达91%，吸纳了95%的劳动力就业。中小企业是奉贤经济发展的重要依托，在经济社会发展中具有举足轻重的作用。同时，中小企业众多也反映出奉贤是一片富有创业精神的热土。</p>
									<p>在“双创”精神的引领下，这里涌现出越来越多的创业孵化基地，为创业者提供低成本的创业空间和高质量的创业服务。</p>
									<p>2016年，奉贤区正式启动创业型城区的创建工作，并发布《上海市奉贤区人民政府关于进一步做好新形势下本区就业创业工作的意见》，《意见》对创业扶持进行了政策的“加码”，不仅给创业者带来了很多福利，创业园区、服务平台、服务机构等也将获得实在的补贴。</p>
								</div>
						</div>
						<div class="wapper show">
							 	<div class="wapper-content">
						    		<div class="left-img">
						    			<div style="background-image: url('/images/select/focus/111.jpg');"></div>
						    		</div>
						    		<div class="right-img">
						    			<div style="background-image: url('/images/select/focus/222.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/333.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/444.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/555.jpg');"></div>
						    		</div>
							 	</div>
								<div class="content-text">
									<p>奉贤区为投资者提供了政务服务、投融资服务、企业信息服务和创新服务四大平台。</p>
								</div>
						</div>
						<div class="wapper show">
							 	<div class="wapper-content">
						    		<div class="left-img">
						    			<div style="background-image: url('/images/select/focus/1111.jpg');"></div>
						    		</div>
						    		<div class="right-img">
						    			<div style="background-image: url('/images/select/focus/2222.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/3333.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/4444.jpg');"></div>
						    			<div style="background-image: url('/images/select/focus/5555.jpg');"></div>
						    		</div>
							 	</div>
								<div class="content-text">
									<p>“东方美谷”是一个以奉贤区全域为载体，以“美丽健康”概念相关的产品轴、服务轴、产业轴3大坐标系构成的“三维立体产业体系”。在产品轴坐标上，由包括研发、生产、包装、销售等环节构成；在服务轴坐标上，由包括原料采购、ODM设计、OEM生产、检验检测、营销策划、品牌推广等配套功能构成；在产业轴坐标上，通过产品展示、用户体验、美容护理、医药保健、贸易流通、互动咨询等业态实现了以美容健康产品为基础，以“产品+服务”的形式实现应用拓展和价值链延伸，构成一个多层次立体系统。</p>
									<p>“东方美谷”通过“跨界以至无界”理念和方式把总部经济、文化创意、旅游休闲、电子商务、体育运动、金融服务、时尚产业、奢侈品等跨界产业整合形成一个以美丽健康产业为核心，多种产业共生共赢的“美丽健康产业联盟”。它是一个通过全区域覆盖、全功能整合、全产业配套、全要素服务来实现“都市产业生态圈”。</p>
									<p>政策上，针对美谷内的相关行业企业量身定制。通过国家、上海市、奉贤区内三层优惠政策叠加，对美谷概念的企业在土地、人才、公共服务资源方面全方位扶持，政策配套上做到人无我有、人有我优。 服务上，我们将以企业需求为导向。按照“X+1”、“X-1”配套设计。X+1，即政策和服务效率比人家高一分； X-1，即企业发展过程中来自管理部门的阻力比人家少一分。两者相加就是2X。即入驻企业1份投入将实现2倍收益。</p>
									<p>了解更多：http://www.fengxian.gov.cn/shfx/dfmg/</p>
								</div>
						</div>
					</div>
				</div>
				<div class="qr-code">
					
				</div>
	</div>
	{{> footer}}
	<script type="text/javascript">
		$(function() {
			$(".ul-tabs li").click(function(e) {
				var target = e.target;
				var index = $(".ul-tabs li").index(target);
				$(this).addClass("wapper-active").siblings().removeClass("wapper-active");
				$(".four-items .wapper").eq(index).addClass("show").siblings().removeClass("show");
			})
		})
	</script>
</template>