<template name="fxAdvantages">
	{{> helper}}	
	{{> header}}

	<div id="advantages">
		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="/">选择奉贤</a>
			&nbsp;>&nbsp; -->
			<a href="#">奉贤优势</a>
		</div>
		<div class="content">
			<div class="pictures">
			<h2>
				<img src="../images/advantages/title.png" alt="">
			</h2>
				<div class="img7" data-next="img7" is="false" newUrl="images/advantages/img7_click.png" oldUrl="images/advantages/img7.png">
				</div>
				<div class="img1" data-next="img1" is="false"   newUrl="images/advantages/img1_click.png" oldUrl="images/advantages/img1.png">

				</div>
				<div class="img2" data-next="img2"  is="false" newUrl="images/advantages/img2_click.png" oldUrl="images/advantages/img2.png">
					
				</div>
				<div class="img3" data-next="img3" is="false"  newUrl="images/advantages/img3_click.png" oldUrl="images/advantages/img3.png">

				</div>
				<div class="img4"  data-next="img4" is="false" newUrl="images/advantages/img4_click.png" oldUrl="images/advantages/img4.png">

				</div>
				<div class="img5" data-next="img5"  is="false" newUrl="images/advantages/img5_click.png" oldUrl="images/advantages/img5.png">

				</div>
				<div class="img6" data-next="img6"  is="false" newUrl="images/advantages/img6_click.png" oldUrl="images/advantages/img6.png">
				</div>

			</div>
			<div class="content-detail">
				<div id="img1">		
					<div class="text">
						<article>
							奉贤非公经济活跃，我们正在努力营造宽松、健康的企业生态环境。大力推进行政审批制度改革，产业项目行政审批期限缩短比法定的571个工作日提速近七成；大力推进行政审批制度改革在全市率先实现行政审批服务“三集中、三到位”。主动对接上海自贸区的发展，积极推进政府审批的负面清单制度。持续加大企业的服务力度，构建中小企业“大联动”服务体系，全力打造“企业服务信息互动平台”、“融资公共服务平台”等六大平台，实现对企业服务的“全天候”、“零距离”。奉贤还是上海法制和治安环境最好的地区之一。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
				<div id="img2" style="display: none;">		
					<div class="text">
						<article>
							奉00000000000贤非公经济活跃，我们正在努力营造宽松、健康的企业生态环境。大力推进行政审批制度改革，产业项目行政审批期限缩短比法定的571个工作日提速近七成；大力推进行政审批制度改革在全市率先实现行政审批服务“三集中、三到位”。主动对接上海自贸区的发展，积极推进政府审批的负面清单制度。持续加大企业的服务力度，构建中小企业“大联动”服务体系，全力打造“企业服务信息互动平台”、“融资公共服务平台”等六大平台，实现对企业服务的“全天候”、“零距离”。奉贤还是上海法制和治安环境最好的地区之一。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="qr-code">
			
		</div>
	</div>

	{{> footer}}
</template>