<template name="fxAdvantages">
	{{> helper}}	
	{{> header}}

	<div id="advantages">
		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="/">选择奉贤</a>
			&nbsp;>&nbsp; -->
			<a href="#">奉贤优势</a>
		</div>
		<div class="content">
			<div class="pictures">
			<h2>
				<img src="../images/advantages/title.png" alt="">
			</h2>
				<div class="img7" data-next="img7" is="false" newUrl="images/advantages/img7_click.png" oldUrl="images/advantages/img7.png">
				</div>
				<div class="img1" data-next="img1" is="false"   newUrl="images/advantages/img1_click.png" oldUrl="images/advantages/img1.png">

				</div>
				<div class="img2" data-next="img2"  is="false" newUrl="images/advantages/img2_click.png" oldUrl="images/advantages/img2.png">
					
				</div>
				<div class="img3" data-next="img3" is="false"  newUrl="images/advantages/img3_click.png" oldUrl="images/advantages/img3.png">

				</div>
				<div class="img4"  data-next="img4" is="false" newUrl="images/advantages/img4_click.png" oldUrl="images/advantages/img4.png">

				</div>
				<div class="img5" data-next="img5"  is="false" newUrl="images/advantages/img5_click.png" oldUrl="images/advantages/img5.png">

				</div>
				<div class="img6" data-next="img6"  is="false" newUrl="images/advantages/img6_click.png" oldUrl="images/advantages/img6.png">
				</div>

			</div>
			<div class="content-detail">
				<div id="img1">		
					<div class="text">
						<article>
							奉贤非公经济活跃，我们正在努力营造宽松、健康的企业生态环境。大力推进行政审批制度改革，产业项目行政审批期限缩短比法定的571个工作日提速近七成；大力推进行政审批制度改革在全市率先实现行政审批服务“三集中、三到位”。主动对接上海自贸区的发展，积极推进政府审批的负面清单制度。持续加大企业的服务力度，构建中小企业“大联动”服务体系，全力打造“企业服务信息互动平台”、“融资公共服务平台”等六大平台，实现对企业服务的“全天候”、“零距离”。奉贤还是上海法制和治安环境最好的地区之一。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
				<div id="img2" style="display: none;">		
					<div class="text">
						<article>
							奉贤区处于上海市南部，长三角地区的地理圆心位置，南临杭州湾，北枕黄浦江，拥有31公里海岸线和13公里黄浦江岸线，通江达海，得天独厚，是上海对接江浙沿海的南大门和重要交通枢纽。奉贤距虹桥、浦东两大国际机场均在40分钟车程以内，也是除浦东以外距离洋山深水港最近的区域。
							境内路网发达，已建成高等级、综合性、枢纽型的现代化交通设施体系。公路交通，S4、S2、G1501等高速公路贯穿全境；已建成的奉浦大桥、闵浦二桥、金海路越江隧道，以及即将建设的S3、奉浦东桥、嘉闵高架南延伸、昆阳路大桥等工程，进一步方便与上海市区的联接。公共交通，五号线延伸段将在2017年竣工，全市首条BRT快速公交即将开工。铁路，浦东铁路横贯奉贤东西，是中国沿海交通大动脉的重要组成部分。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
				<div id="img3" style="display: none;">		
					<div class="text">
						<article>
							奉贤区处于上海市南部，长三角地区的地理圆心位置，南临杭州湾，北枕黄浦江，拥有31公里海岸线和13公里黄浦江岸线，通江达海，得天独厚，是上海对接江浙沿海的南大门和重要交通枢纽。奉贤距虹桥、浦东两大国际机场均在40分钟车程以内，也是除浦东以外距离洋山深水港最近的区域。
							境内路网发达，已建成高等级、综合性、枢纽型的现代化交通设施体系。公路交通，S4、S2、G1501等高速公路贯穿全境；已建成的奉浦大桥、闵浦二桥、金海路越江隧道，以及即将建设的S3、奉浦东桥、嘉闵高架南延伸、昆阳路大桥等工程，进一步方便与上海市区的联接。公共交通，五号线延伸段将在2017年竣工，全市首条BRT快速公交即将开工。铁路，浦东铁路横贯奉贤东西，是中国沿海交通大动脉的重要组成部分。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
				<div id="img4" style="display: none;">		
					<div class="text">
						<article>
							奉贤区处于上海市南部，长三角地区的地理圆心位置，南临杭州湾，北枕黄浦江，拥有31公里海岸线和13公里黄浦江岸线，通江达海，得天独厚，是上海对接江浙沿海的南大门和重要交通枢纽。奉贤距虹桥、浦东两大国际机场均在40分钟车程以内，也是除浦东以外距离洋山深水港最近的区域。
							境内路网发达，已建成高等级、综合性、枢纽型的现代化交通设施体系。公路交通，S4、S2、G1501等高速公路贯穿全境；已建成的奉浦大桥、闵浦二桥、金海路越江隧道，以及即将建设的S3、奉浦东桥、嘉闵高架南延伸、昆阳路大桥等工程，进一步方便与上海市区的联接。公共交通，五号线延伸段将在2017年竣工，全市首条BRT快速公交即将开工。铁路，浦东铁路横贯奉贤东西，是中国沿海交通大动脉的重要组成部分。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
				<div id="img5" style="display: none;">		
					<div class="text">
						<article>
							奉贤区处于上海市南部，长三角地区的地理圆心位置，南临杭州湾，北枕黄浦江，拥有31公里海岸线和13公里黄浦江岸线，通江达海，得天独厚，是上海对接江浙沿海的南大门和重要交通枢纽。奉贤距虹桥、浦东两大国际机场均在40分钟车程以内，也是除浦东以外距离洋山深水港最近的区域。
							境内路网发达，已建成高等级、综合性、枢纽型的现代化交通设施体系。公路交通，S4、S2、G1501等高速公路贯穿全境；已建成的奉浦大桥、闵浦二桥、金海路越江隧道，以及即将建设的S3、奉浦东桥、嘉闵高架南延伸、昆阳路大桥等工程，进一步方便与上海市区的联接。公共交通，五号线延伸段将在2017年竣工，全市首条BRT快速公交即将开工。铁路，浦东铁路横贯奉贤东西，是中国沿海交通大动脉的重要组成部分。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
				<div id="img6" style="display: none;">		
					<div class="text">
						<article>
							奉贤区处于上海市南部，长三角地区的地理圆心位置，南临杭州湾，北枕黄浦江，拥有31公里海岸线和13公里黄浦江岸线，通江达海，得天独厚，是上海对接江浙沿海的南大门和重要交通枢纽。奉贤距虹桥、浦东两大国际机场均在40分钟车程以内，也是除浦东以外距离洋山深水港最近的区域。
							境内路网发达，已建成高等级、综合性、枢纽型的现代化交通设施体系。公路交通，S4、S2、G1501等高速公路贯穿全境；已建成的奉浦大桥、闵浦二桥、金海路越江隧道，以及即将建设的S3、奉浦东桥、嘉闵高架南延伸、昆阳路大桥等工程，进一步方便与上海市区的联接。公共交通，五号线延伸段将在2017年竣工，全市首条BRT快速公交即将开工。铁路，浦东铁路横贯奉贤东西，是中国沿海交通大动脉的重要组成部分。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
				<div id="img7" style="display: none;">		
					<div class="text">
						<article>
							奉贤区处于上海市南部，长三角地区的地理圆心位置，南临杭州湾，北枕黄浦江，拥有31公里海岸线和13公里黄浦江岸线，通江达海，得天独厚，是上海对接江浙沿海的南大门和重要交通枢纽。奉贤距虹桥、浦东两大国际机场均在40分钟车程以内，也是除浦东以外距离洋山深水港最近的区域。
							境内路网发达，已建成高等级、综合性、枢纽型的现代化交通设施体系。公路交通，S4、S2、G1501等高速公路贯穿全境；已建成的奉浦大桥、闵浦二桥、金海路越江隧道，以及即将建设的S3、奉浦东桥、嘉闵高架南延伸、昆阳路大桥等工程，进一步方便与上海市区的联接。公共交通，五号线延伸段将在2017年竣工，全市首条BRT快速公交即将开工。铁路，浦东铁路横贯奉贤东西，是中国沿海交通大动脉的重要组成部分。
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="qr-code">
			
		</div>
	</div>

	{{> footer}}
</template>