<template name="fxAdvantages">
	{{> helper}}	
	{{> header}}

	<div id="advantages">
		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="/">选择奉贤</a>
			&nbsp;>&nbsp; -->
			<a href="#">奉贤优势</a>
		</div>
		<div class="content">
			<div class="pictures">
			<h2>
				<img src="../images/advantages/title.png" alt="">
			</h2>
				<div class="img7" data-next="img7" is="false" newUrl="images/advantages/img7_click.png" oldUrl="images/advantages/img7.png">
				</div>
				<div class="img1" data-next="img1" is="false"   newUrl="images/advantages/img1_click.png" oldUrl="images/advantages/img1.png">

				</div>
				<div class="img2" data-next="img2"  is="false" newUrl="images/advantages/img2_click.png" oldUrl="images/advantages/img2.png">
					
				</div>
				<div class="img3" data-next="img3" is="false"  newUrl="images/advantages/img3_click.png" oldUrl="images/advantages/img3.png">

				</div>
				<div class="img4"  data-next="img4" is="false" newUrl="images/advantages/img4_click.png" oldUrl="images/advantages/img4.png">

				</div>
				<div class="img5" data-next="img5"  is="false" newUrl="images/advantages/img5_click.png" oldUrl="images/advantages/img5.png">

				</div>
				<div class="img6" data-next="img6"  is="false" newUrl="images/advantages/img6_click.png" oldUrl="images/advantages/img6.png">
				</div>

			</div>
			<div class="content-detail">
				<div id="img1" class="cc">		
					<div class="text">
						<article>
							<p>奉贤非公经济活跃，我们正在努力营造宽松、健康的企业生态环境。大力推进行政审批制度改革，产业项目行政审批期限缩短比法定的571个工作日提速近七成；大力推进行政审批制度改革在全市率先实现行政审批服务“三集中、三到位”。主动对接上海自贸区的发展，积极推进政府审批的负面清单制度。持续加大企业的服务力度，构建中小企业“大联动”服务体系，全力打造“企业服务信息互动平台”、“融资公共服务平台”等六大平台，实现对企业服务的“全天候”、“零距离”。</p><p>奉贤还是上海法制和治安环境最好的地区之一，公众安全感和群众满意度连续7年名列全市前茅。</p>
						</article>
					</div>
					<div class="data">
						<div class="box">
							审期缩短<br>
							<span>182</span>个<br>
							工作日
						</div>
						<div class="box">
							全区企业<br>
							<span>99</span>%<br>
							中小企业
						</div>
						<div class="box">
							公众安全感+群众满意度<br>
							<span>7</span>年<br>
							名列全市前茅
						</div>
					</div>
				</div>
				<div id="img2" class="cc" style="display: none;">		
					<div class="text">
						<article>
							<p>奉贤区处于上海市南部，长三角地区的地理圆心位置，南临杭州湾，北枕黄浦江，拥有31公里海岸线和13公里黄浦江岸线，通江达海，得天独厚，是上海对接江浙沿海的南大门和重要交通枢纽。奉贤距虹桥、浦东两大国际机场均在40分钟车程以内，也是除浦东以外距离洋山深水港最近的区域。</p>
							<p>境内路网发达，已建成高等级、综合性、枢纽型的现代化交通设施体系。公路交通，S4、S2、G1501等高速公路贯穿全境；已建成的奉浦大桥、闵浦二桥、金海路越江隧道，以及即将建设的S3、奉浦东桥、嘉闵高架南延伸、昆阳路大桥等工程，进一步方便与上海市区的联接。公共交通，五号线延伸段将在2017年竣工，全市首条BRT快速公交即将开工。铁路，浦东铁路横贯奉贤东西，是中国沿海交通大动脉的重要组成部分。</p>
						</article>
					</div>
					<div class="data">
						<div class="box">
							拥有<br>
							<span>31</span>公里<br>
							海岸线
						</div>
						<div class="box">
							距离机场<br>
							<span>40</span>分钟<br>
							车程 
						</div>
						<div class="box">
							拥有<br>
							<span>13</span>公里<br>
							黄浦江岸线
						</div>
					</div>
				</div>
				<div id="img3" class="cc" style="display: none;">		
					<div class="text">
						<article>
							<p>奉贤区中小企业众多，门类齐全，有利利于企业就近找到产业链上下游配套服务提供者。此外，中小企业往往能够根据市场需求及时调整自己的战略定位、产品结构等抢占市场先机，发展更加具有活力。</p>
							<p>据统计，奉贤非公经济活跃，至2015年末区内共有20余万中小企业，占全区企业总量的99%以上。中小企业纳税占全区税收收入比重达91%，吸纳了95%的劳动力就业。中小企业是奉贤经济发展的重要依托，在经济社会发展中具有举足轻重的作用。同时，中小企业众多也反映出奉贤是一片富有创业精神的热土。</p>
						</article>
					</div>
					<div class="data">
						<div class="box">
							区内有<br>
							<span>20</span>余万<br>
							中小企业
						</div>
						<div class="box">
							占全区总量<br>
							<span>99</span>%<br>
							以上
						</div>
						<div class="box">
							吸纳<br>
							<span>95</span>%<br>
							劳动力就业
						</div>
					</div>
				</div>
				<div id="img4" class="cc" style="display: none;">		
					<div class="text">
						<article>
							<p>生态环境优美，林地总面积4.5万亩，绿化覆盖率45%，全年空气质量优良率为95%，空气降尘量是市区的1/10，是上海空气质量最好的地区之一，拥有海湾国家森林公园、碧海金沙生态海岸线和人造沙滩、上海之鱼、申隆生态园、南桥新城中央林地等丰富的生态资源。</p>
							<p>近年来，以南桥新城建设为突破，奉贤社会公共事业全面推进，城市功能愈发成熟。拥有明德外国语小学、格致中学、上海交通大学附属第六人民医院南院等优质教育、医疗资源。各类服务业集聚，拥有百联南桥购物中心、南方国际广场、宝龙城市广场等一批城市综合体项目，碧海金沙等星级景区5家，南郊宾馆等星级酒店7家，“想休闲,到奉贤”的品牌知名度与美誉度日益提升。为投资者提供了良好的创业生活环境。</p>
						</article>
					</div>
					<div class="data">
						<div class="box">
							 林地<br>
							<span>4.5</span>万亩<br>
							面积
						</div>
						<div class="box">
							绿化达到<br>
							<span>45</span>%<br>
							覆盖率   
						</div>
						<div class="box">
							全年空气质量<br>
							<span>95</span>%<br>
							优良率
						</div>
					</div>
				</div>
				<div id="img5" class="cc" style="display: none;">		
					<div class="text">
						<article>
							<p>奉贤，是上海这座国际化大都市的发展腹地，能充分利用这座日新月异的超大城市的人才流、物流、资金流、信息流、技术流，从而获得高速发展。</p>
							<p>奉贤区紧紧抓住国际产业转移、上海经济结构优化升级以及新一轮城市布局调整的机遇，其土地资源、发展空间的优势依旧存在，且后发优势进一步凸显。在当今上海产业用地负增长的情况下，我区目前仍有可开发的工业用途建设用地17平方公里，其中已经办理农转用手续、还未出让的工业用地约1000余亩。作为“十二五”期间重点建设的郊区新城，南桥新城正在成为上海杭州湾北岸板块的综合性服务型核心新城、服务长三角南翼以及大浦东地区的重要枢纽和门户。南桥新城将引入100万人口，以产城融合的理念打造“低碳·生态·智慧·宜居”的郊区新城。</p>
						</article>
					</div>
					<div class="data">
						<div class="box">
							拥有<br>
							<span>17</span>平方公里<br>
							可开发的工业用途建设用地
						</div>
						<div class="box">
							拥有<br>
							<span>1000</span>余亩<br>
							未出让工业用地 
						</div>
						<div class="box">
							将引入<br>
							<span>100</span>万人口<br>
							进入南桥新城
						</div>
					</div>
				</div>
				<div id="img6" class="cc" style="display: none;">		
					<div class="text">
						<article>
							<p>奉贤产业门类众多，配套能力强，高新技术领域和传统制造业在奉贤都能寻找到配套企业。全区拥有各类企业数量达到20多万家，其中规模以上工业企业1100余家，超亿元税收企业19户，世界500强企业8家，规上工业总产值近1600亿元。初步形成了以生物医药、新能源、新材料、智能电网、先进装备五大产业为主导的先进制造产业体系，产业集聚度高，产业向园区的集中度达到80%以上。现代服务业保持良好发展势头，重点发展五大产业：现代商贸、平台及电子商务、文创旅游休闲、金融服务业和生产性服务业。以先进制造业、现代服务业为重点，二、三产业融合发展、共同推进的滨海产业集聚区正在形成。</p>
						</article>
					</div>
					<div class="data">
						<div class="box">
							全区拥有<br>
							<span>20</span>余万家<br>
							各类企业 
						</div>
						<div class="box">
							规上工业总值<br>
							<span>1600</span>亿元<br>
							总产值
						</div>
						<div class="box">
							 产业向园区<br>
							<span>80</span>%以上<br>
							集中度
						</div>
					</div>
				</div>
				<div id="img7" class="cc" style="display: none;">		
					<div class="text">
						<article>
							<p>奉贤人才荟萃，知识汇聚，各类人才达到20.3万人，其中国务院特殊津贴专家、“千人计划”人才、市领军人才以及区领军人才近百名。区内拥有华东理工大学、上海师范大学等9所高等院校。坚持推进区校融合发展，鼓励开展多种形式的产学研合作，大力支持上海交通大学国家大学科技园南桥园、上海生物制造产业技术研究院、中国香精香料研究所等科研成果产业化基地建设。2012年，全国首家、上海唯一的“千人计划创业园”落户奉贤，截至2015年末已有74个项目落户，项目集中在智能制造及新能源、新材料、生物医药、信息技术等高精尖领域。同时，积极推动产业和资本融合，设立“上海国际人才创业投资基金”、“上海红土创投政府引导基金”、“上海奉贤久有创业投资基金”等，已累计投资9个项目8000余万元。始终支持企业加大科技创新和技术改造投入力度，截止2015年末，区内共有国家级、市级、区级企业技术中心101家，拥有上海市著名商标100件、中国驰名商标12件、上海名牌122个。</p>
						</article>
					</div>
					<div class="data">
						<div class="box">
							千人计划创业园<br>
							<span>74</span>个<br>
							项目落户
						</div>
						<div class="box">
							区内共有<br>
							<span>101</span>家<br>
							国家、市、区级企业技术中心
						</div>
						<div class="box">
							累计投资<br>
							<span>9</span>个项目<br>
							共计800余万元
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="qr-code">
			
		</div>
	</div>

	{{> footer}}
</template>