<template name="home">
	
	
	{{> helper}}	
	{{> header}}
	<div style="background: url(images/index/home-bg.png);">
	<div id="home">

		<section class="slider">
			
			<ul>
				<li><a href=""><img src="images/index/slider1.png" alt=""></a></li>
				<li><a href=""><img src="images/index/slider1.png" alt=""></a></li>
				<li><a href=""><img src="images/index/slider1.png" alt=""></a></li>
				<li><a href=""><img src="images/index/slider1.png" alt=""></a></li>
				<li><a href=""><img src="images/index/slider1.png" alt=""></a></li>
			</ul>

			<div class="slider-nav">
				<span class=""></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>

		</section>
		<div class="news-nav">
			<section class="news-list">
				<div class="title">
					<img src="images/index/新闻动态.png" alt="">
<!-- 					<span>新闻动态</span> -->
				</div>
				<div class="news">
					<ul>
						<li><a href="">杨雄主持市政府常务会部署今年产业结构共同发展向上，有关方向会于今天向大家告知...</a></li>
					</ul>
				</div>
				<div class="arrow">
					<img src="images/index/news-arrow.png" alt="">
				</div>
			</section>
		</div>
		<section class="main" style="clear: both;">
			<div class="item-list item1">
				<div class="left">
					<div class="box">
						<div class="title">
							<div>	
								<img src="images/index/重点产业.png" alt="">
								<!-- <span class="t2">重点产业</span> -->
<!-- 								<a href="" ></a> -->
								<a href="" class="more"><img src="images/index/重点产业）更多.png" alt=""></a>
							</div>
						</div>
						<div class="box-item">
							<a href="">
							<div class="first">
								<img src="images/index/新能源.png" alt=""><br>
<!-- 								<span>新能源</span> -->
							</div>
							</a>
							<a href="">
							<div class="first">
								<img src="images/index/现代商贸.png" alt=""><br>
<!-- 								<span>现代商贸</span> -->
							</div>
							</a>
							<a href="">
							<div class="first">
								<img src="images/index/生物医药.png" alt=""><br>
<!-- 								<span>生物医药</span> -->
							</div>
							</a>
							<a href="">
							<div class="first">
								<img src="images/index/文创旅游.png" alt=""><br>
<!-- 								<span>文创旅游</span> -->
							</div>
							</a>
						</div>

					</div>
					<div class="box">
						<div class="title">
							<div>
								<img src="images/index/成功案例.png" alt="">
								<!-- <span class="t2">重点产业</span> -->
<!-- 								<a href="" ></a> -->
								<a href="" class="more"><img src="images/index/重点产业）更多.png" alt=""></a>
							</div>
						</div>
						<div class="box-item">
							<a href="">
							<div style="background-image: url(images/index/demo1.png)" class="b1">
								<div class="case">如新</div>
							</div>
							</a>
							<a href="">
							<div style="background-image: url(images/index/demo2.png)" class="b1">
								<div class="case">日野</div>
							</div>
							</a>
							<a href="">
							<div style="background-image: url(images/index/demo3.png)" class="b1">
								<div class="case">拜耳</div>
							</div>
							</a>
							<a href="">
							<div style="background-image: url(images/index/demo4.png)" class="b1">
								<div class="case">巴斯夫</div>
							</div>
							</a>
						</div>

					</div>
				</div>
				<div class="right">
					<div class="box">
						<div class="title">

							<div>
								<img src="images/index/信息查询.png" alt="">
								<!-- <span class="t2">重点产业</span> -->
<!-- 								<a href="" ></a> -->
								<a href="" class="more"><img src="images/index/信息查询）更多.png" alt=""></a>
							</div>
						</div>
						<div class="box-item">
							<a href="">
							<div>
								<img src="images/index/设立公司.png" alt=""><br>
								<!-- <span>设立公司</span> -->
							</div>
							</a>
							<a href="">
							<div>
								<img src="images/index/投资流程.png" alt=""><br>
								<!-- <span>投资流程</span> -->
							</div>
							</a>
							<a href="">
							<div>
								<img src="images/index/政策查询.png" alt=""><br>
								<!-- <span>政策查询</span> -->
							</div>
							</a>
							<a href="">
							<div>
							
								<img src="images/index/成本计算器.png" alt=""><br>
			<!-- 					<span>成本计算器</span></a> -->
							</div>
							</a>
						</div>

					</div>
				</div>
			</div>
			<div class="item-list item2">
				<div class="left">
					<div class="box">
						<div class="title">
							<ul class="tabs">
								<li class="tab active">厂房信息</li>
								<li class=" tab">土地信息</li>
								<li class="tab">商务楼宇</li>
							</ul>
							<a href="" class="more"><img src="images/index/蓝色更多.png" alt="" style="margin-left: 196px;"></a>
						</div>
						<div class="tab-items">
						<div class="box-item cf  ">
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td1.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路cf</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td2.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td3.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td4.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
						</div>
						<div class="box-item td tab-items hide">
							<div class="tab-item  white-bg">
								<div class="pic">
									<img src="images/index/td1.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路td</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td2.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td3.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td4.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
						</div>	
						<div class="box-item sw hide tab-items">
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td1.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路sw</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td2.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td3.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td4.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000平方米</p>
									<p>租售价格：3元/天/平方米</p>
								</div>
							</div>
						</div>			
						</div>		

					</div>
				</div>
				<div class="right">
					<div class="box">
						<div class="title">
							<div>
								<img src="images/index/交通地图.png" alt="">
								<!-- <span class="t2">重点产业</span> -->
<!-- 								<a href="" ></a> -->
								<a href="" class="more"><img src="images/index/交通地图）详情.png" alt=""></a>
							</div>

						</div>
						<div class="box-item">
<!-- 							<img src="images/index/map.png" alt=""> -->
						</div>

					</div>
				</div>
			</div>
			<div class="item-list item3">
				<div class="left">
					<div class="box">
						<div class="title">
							<div style="width: 626px">
								<img src="images/index/特色聚焦.png" alt="">
							<!-- 	<span class="t2">特色聚焦</span> -->
								<a href="" class="more"><img src="images/index/信息查询）更多.png" alt="" style="margin-left: 420px;"></a>
							</div>	
						</div>
						<div class="box-item">
							<div class="b1">
								<div class="detail">
									<p>科技氛围浓厚，人才不断集聚</p>
									<p>在长三角经济发展带中，上海是龙头，
奉贤则是长三角其他地区的企业进入
上海的“桥头堡”。</p>
								</div>
							</div>
							<div class="b2 detail">
								<div>	
									<p>发展充满活力，前景十分广阔</p>
									<p>全区可开发产业用地达20平方公里，其中
南桥新城已建成及在建商务楼宇面积超过
200万平方米，发展总部经济、研发中心、
“四新”经济和众创空间潜力巨大。</p>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="right">
					<div class="box">
						<div class="title">
							<div>
								<img src="images/index/三分钟了解奉贤.png" alt="">
<!-- 								<span class="t2">三分钟了解奉贤</span> -->
							</div>
						</div>
						<div class="box-item">	
							<img src="images/index/video-icon.png" alt="" style="margin-left: 15px;">
							<!-- <div>
								<img src="images/index/xxcx1.png" alt=""><br>
								<span>新能源</span>
							</div>
							<div>
								<img src="images/index/xxcx2.png" alt=""><br>
								<span>现代商贸</span>
							</div>
							<div>
								<img src="images/index/xxcx3.png" alt=""><br>
								<span>生物医药</span>
							</div>
							<div>
								<img src="images/index/xxcx4.png" alt=""><br>
								<span>文创旅游</span>
							</div> -->
						</div>

					</div>
				</div>
			</div>
		</section>

	</div>

	{{> footer}}
	</div>
</template>


