<template name="home">
	{{> helper}}
	{{> header}}
	<div style="background: url(images/index/home-bg.jpg); background-size: cover;">
	<div id="home">
		<section class="slider">
			<a href="javascript:;" class="arrow" id="prev">
				<img src="images/index/left-naviarrow.png" alt="">
			</a>
			<a href="javascript:;" class="arrow" id="next">
				<img src="images/index/right-naviarrow.png" alt="">
			</a>

			<ul class="lists">
				<li><a href="javascript:;"><img src="images/index/slider1.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/index/slider2.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/index/slider3.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/index/slider4.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/index/slider5.jpg" alt=""></a></li>
			</ul>
			<div class="slider-nav">
				<span class="active"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</section>
		<div class="news-nav">
			<section class="news-list">
				<div class="title">
					<img src="images/index/新闻动态.png" alt="">
					<span>新闻动态</span>
				</div>
				<div class="news-slider">
					<ul>
						<li><a href="">杨雄主持市政府常务会部署今年产业结构共同发展向上，有关方向会于今天向大家告知...</a></li>
						<li><a href="">杨雄主持市政府常务会部署今年产业结构共同发展向上，有关方向会于今天向大家告知...2</a></li>
						<li><a href="">杨雄主持市政府常务会部署今年产业结构共同发展向上，有关方向会于今天向大家告知...3</a></li>
						<li><a href="">杨雄主持市政府常务会部署今年产业结构共同发展向上，有关方向会于今天向大家告知...4</a></li>
						<li><a href="">杨雄主持市政府常务会部署今年产业结构共同发展向上，有关方向会于今天向大家告知...5</a></li>
					</ul>
				</div>
				<div class="arrow">
					<img src="images/index/news-arrow.png" alt="">
				</div>
			</section>
		</div>
		<section class="main" style="clear: both;">
			<div class="item-list item1">
				<div class="left">
					<div class="box">
						<div class="title" style="width: 98%">
							<div>
								<img src="images/index/重点产业.png" alt="">
								<span class="t2">重点产业</span>
								<a href="/indutryCluster/distribution" class="more">更多</a>
							</div>
						</div>
						<div class="box-item zd">
							<a href="/indutryCluster/distribution">
							<div class="first">
								<img src="images/index/新能源.png" alt=""><br>
								<span src="images/index/新能源w.png" oldsrc="images/index/新能源.png">新能源</span>
							</div>
							</a>
							<a href="/indutryCluster/distribution">
							<div class="first" style="width: 48%;">
								<img src="images/index/现代商贸.png" alt=""><br>
								<span src="images/index/现代商贸w.png" oldsrc="images/index/现代商贸.png">现代商贸</span>
							</div>
							</a>
							<a href="/indutryCluster/distribution">
							<div class="first" >
								<img src="images/index/生物医药.png" alt=""><br>
								<span src="images/index/生物医药w.png" oldsrc="images/index/生物医药.png">美丽健康</span>
							</div>
							</a>
							<a href="/indutryCluster/distribution">
							<div class="first" style="width: 48%;">
								<img src="images/index/文创旅游.png" alt=""><br>
								<span src="images/index/文创旅游w.png" oldsrc="images/index/文创旅游.png">文创旅游</span>
							</div>
							</a>
						</div>

					</div>
					<div class="box">
						<div class="title">
							<div>
								<img src="images/index/成功案例.png" alt="">
								<span class="t2">成功案例</span>
								<a href="/investGuide/successCases" class="more">更多</a>
							</div>
						</div>
						<div class="box-item">
							<a href="/investGuide/successCases">
							<div style="background-image: url(images/index/demo1.png)" class="b1">
								<div class="case">如新</div>
							</div>
							</a>
							<a href="/investGuide/successCases">
							<div style="background-image: url(images/index/demo2.png)" class="b1">
								<div class="case">日野</div>
							</div>
							</a>
							<a href="/investGuide/successCases">
							<div style="background-image: url(images/index/demo3.png)" class="b1">
								<div class="case">拜耳</div>
							</div>
							</a>
							<a href="/investGuide/successCases">
							<div style="background-image: url(images/index/demo4.png)" class="b1">
								<div class="case">巴斯夫</div>
							</div>
							</a>
						</div>

					</div>
				</div>
				<div class="right">
					<div class="box">
						<div class="title">

							<div>
								<img src="images/index/信息查询.png" alt="">
								<span class="t2">信息查询</span>
<!-- 								<a href="" class="more">更多</a> -->
							</div>
						</div>
						<div class="box-item xx">
							<a href="/investGuide/zdev">
							<div>
								<img src="images/index/设立公司.png" alt=""><br>
								<span src="images/index/设立公司w.png" oldsrc="images/index/设立公司.png">设立公司</span>
							</div>
							</a>
							<a href="/process">
							<div>
								<img src="images/index/投资流程.png" alt=""><br>
								<span src="images/index/投资流程w.png" oldsrc="images/index/投资流程.png">投资流程</span>
							</div>
							</a>
							<a href="/searchPolicy">
							<div>
								<img src="images/index/政策查询.png" alt=""><br>
								<span src="images/index/政策查询w.png" oldsrc="images/index/政策查询.png">政策查询</span>
							</div>
							</a>
							<a href="/counter">
							<div>

								<img src="images/index/成本计算器.png" alt=""><br>
								<span src="images/index/成本计算器w.png" oldsrc="images/index/成本计算器.png">成本计算器</span>
							</div>
							</a>
						</div>

					</div>
				</div>
			</div>
			<div class="item-list item2">
				<div class="left">
					<div class="box">
						<div class="title">
							<ul class="tabs">
								<li class="tab active">厂房信息</li>
								<li class=" tab">土地信息</li>
								<li class="tab">商务楼宇</li>
							</ul>
							<a href="/indutryResource/plant" class="more" style="margin-left: 170px">更多</a>
						</div>
						<div class="tab-items">
						<div class="box-item cf    white-bg">
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td1.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路cf</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td2.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td3.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td4.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
						</div>
						<div class="box-item td tab-items hide   white-bg">
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td1.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路td</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td2.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td3.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td4.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
						</div>
						<div class="box-item sw hide tab-items   white-bg">
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td1.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路sw</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td2.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item ">
								<div class="pic">
									<img src="images/index/td3.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
							<div class="tab-item">
								<div class="pic">
									<img src="images/index/td4.png" alt="">
								</div>
								<div class="detail">
									<p>海尚路</p>
									<p>占地面积：20000m²</p>
									<p>租售价格：3元/天/m²</p>
								</div>
							</div>
						</div>
						</div>

					</div>
				</div>
				<div class="right">
					<div class="box">
						<div class="title">
							<div>
								<img src="images/index/交通地图.png" alt="">
								<span class="t2">交通地图</span>
								<a href="/select/transportation" class="more">更多</a>
							</div>

						</div>
						<a href="/select/transportation">
						<div class="box-item">
<!-- 							<img src="images/index/map.png" alt=""> -->
						</div>
						</a>
					</div>
				</div>
			</div>
			<div class="item-list item3">
				<div class="left">
					<div class="box">
						<div class="title">
							<div>
								<img src="images/index/特色聚焦.png" alt="">
								<span class="t2">特色聚焦</span>
								<a href="/select/focus" class="more" style="margin-left: 428px">更多</a>
							</div>
						</div>
						<div class="box-item">
							<div class="b1 detail">
								<p>创新创业</p>
							</div>
							<div class="b2 detail">
								<p>服务平台</p>
							</div>
						</div>

					</div>
				</div>
				<div class="right">
					<div class="box">
						<div class="title">
							<div>
								<img src="images/index/三分钟了解奉贤.png" alt="">
								<span class="t2">三分钟了解奉贤</span>
							</div>
						</div>
						<div class="box-item video">
							<img src="images/index/video-icon.png" alt="" style="margin-left: 15px;">
							<!-- <div>
								<img src="images/index/xxcx1.png" alt=""><br>
								<span>新能源</span>
							</div>
							<div>
								<img src="images/index/xxcx2.png" alt=""><br>
								<span>现代商贸</span>
							</div>
							<div>
								<img src="images/index/xxcx3.png" alt=""><br>
								<span>生物医药</span>
							</div>
							<div>
								<img src="images/index/xxcx4.png" alt=""><br>
								<span>文创旅游</span>
							</div> -->
						</div>

					</div>
				</div>
			</div>
		</section>

	</div>

	{{> footer}}
	</div>
</template>
