<template name="introduction">
    {{> helper}} {{> header}}
    <div id="introduction">
        <div class="nav">
            <a href="/">首页</a>
            >
<!--             <a href="#">选择奉贤</a> &nbsp;>&nbsp; -->
            <span class="changed">奉贤概况</span>
        </div>
        <div class="content">
        	
        	<div class="slider">
        		
        		<ul>
        			<li><img src="../images/introduction/slider1.png" alt=""></li>
        			<li><img src="../images/introduction/slider2.png" alt=""></li>
        			<li><img src="../images/introduction/slider3.png" alt=""></li>
        			<li><img src="../images/introduction/slider1.png" alt=""></li>
        			<li><img src="../images/introduction/slider2.png" alt=""></li>
        		</ul>

        		<span class="arrow-left"><img src="../images/land/arron-left.png" alt=""></span>
				<span class="arrow-right"><img src="../images/land/arron-right.png" alt=""></span>

        	</div>
        	<p>2500多年前，孔子弟子言偃来此地游历讲学，传播儒家文化。海隅之地，思贤若渴。为纪念这位人民崇奉的贤人，即起地名为“奉贤”，形成了“敬奉贤人，见贤思齐”的城市精神。</p>
        	<p class="title">魅力无限的滨海新城</p>
        	<p>（标签：全国文明城区、国家绿色生态示范城区、国家园林城区、国家卫生区）</p>
			<p>奉贤，位于中国经济最具活力的长三角东南端，地处国际化大都市上海南部，北枕黄浦江，南临杭州湾，东部紧临上海自由贸易试验区和洋山港。</p>
			<p>全区区域面积733平方公里，海域面积400多平方公里，常住人口116万。境内有31.6公里的杭州湾岸线和13.7公里的黄浦江岸线。奉贤土地资源丰富，自然环境优美，发展潜力巨大。</p>
			<br>
			<p>这里，发展迅猛的产业和熠熠悠远的人文和谐共生；</p>
			<p>这里，江南烟雨的灵秀和现代都市的活力相得益彰。</p>
			<br>
			<p>美丽的滨海新城——奉贤，正乘势而上，成为长三角南翼、杭州湾北岸一颗璀璨的明珠。</p>
			<a href=""><img src="../images/introduction/tag.png" alt=""></a>
        </div>
        <div class="qr-code">
   		</div>
    </div>
    
    {{> footer}}
</template>
