<template name="landDetail">
{{> helper}}
{{> header}}

	<div id="land-detail">
		<div class="nav">
			<a href="/">首页</a>
			&nbsp;>&nbsp;
<!-- 			<a href="#">产业资源</a>
			&nbsp;>&nbsp; -->
			<span class="changed">土地详情</span>
		</div>

		<div class="content">
			<div class="info">
				<img src="../images/land/infoimg.png" alt="">
				<div class="text">
					<h1>50亩土地可租可售</h1>
					<p>土地面积：50亩</p>
					<p>土地性质：国有出让土地</p>
					<p>租售价格：面议</p>
					<p class="area">所在区域：四团镇新四平公路1208号</p>
					<button>加入对比</button>
				</div>
			</div>
			<div class="main">
				<div class="left">
					<div class="map">
						<div class="title">
						<img src="../images/land/map-icon.png" alt="" >
						地图简介</div>

						<!--可以用百度地图代替 -->
						<img src="../images/land/map.png" alt="">
					</div>
					<div class="slider">
						<div class="title">
							<img src="../images/land/house.png" alt="">厂房照片
						</div>
						<div class="pictures">
							<ul>
								<li><img src="../images/land/slide1.png" alt="">
									<div>查看大图</div>
								</li>
								<li><img src="../images/land/slide2.png" alt="">
									<div>查看大图</div>
								</li>
								<li><img src="../images/land/slide3.png" alt="">
									<div>查看大图</div>
								</li>
								<li><img src="../images/land/slide4.png" alt="">
									<div>查看大图</div>
								</li>
							</ul>
							<span class="arrow-left"><img src="../images/land/arron-left.png" alt=""></span>
							<span class="arrow-right"><img src="../images/land/arron-right.png" alt=""></span>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="title">
						<img src="../images/land/compare-icon.png" alt="">加入对比
					</div>
					<div class="lists">
						<div class="item">
							<img src="../images/land/compare1.png" alt="">
							<h4>泰日欢乐路</h4>
							<p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
							<button>加入对比</button>
						</div>
						<div class="item">
							<img src="../images/land/compare1.png" alt="">
							<h4>泰日欢乐路</h4>
							<p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
							<button>加入对比</button>
						</div>
						<div class="item">
							<img src="../images/land/compare1.png" alt="">
							<h4>泰日欢乐路</h4>
							<p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
							<button>加入对比</button>
						</div>
						<div class="item">
							<img src="../images/land/compare1.png" alt="">
							<h4>泰日欢乐路</h4>
							<p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
							<button>加入对比</button>
						</div>
						<div class="item">
							<img src="../images/land/compare1.png" alt="">
							<h4>泰日欢乐路</h4>
							<p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
							<button>加入对比</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="qr-code">

	</div>

{{> footer}}
</template>
