<template name="mediaCenter">

	{{> helper}}
	{{> header}}

	<div class="container">
		<div class="nav">
			<a href="/">首页</a>
			>
			<span class="changed">媒体中心</span>
		</div>

		<div class="content">

			<div class="newsleft">
				<div class="news">
					<div class="lastest-title">
						<!-- <img src="../images/mediacenter/新闻动态.png" alt=""> -->
						<span></span>
						<span>最新项目</span>
					</div>
					<div class="news-list">
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>浦尚制造项目</h3>
							<p>投资人：浦尚工业设备上海有限公司</p>
							<p>投资额：18亿元</p>
							<p>时间：2016-04-12</p>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>浦尚制造项目</h3>
							<p>投资人：浦尚工业设备上海有限公司</p>
							<p>投资额：18亿元</p>
							<p>时间：2016-04-12</p>
						</div>
					</div>
				</div>
				<div class="doc">
					<div class="download-title">
						<span></span>
						<span>资料下载</span>
						<a href="" title="">更多</a>
						<!-- <a href="" class="more"><img src="../images/mediacenter/更多.png" alt=""></a> -->
					</div>
					<div class="doc-list">
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>

					</div>
				</div>
			</div>
			<div class="project">
				<div class="news-title">
					<!-- <img src="../images/mediacenter/最新项目.png" alt=""> -->
					<span></span>
					<span>新闻动态</span>
				</div>
				<div class="project-list">
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
						<p>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</p>
					</div>
				</div>
				{{> jqPaginator}}
			</div>

		</div>






		<div class="qr-code"></div>
	</div>




	{{> footer}}
</template>
