<template name="mediaCenter">
	
	{{> helper}}
	{{> header}}
	
	<div class="container">
		<div class="nav">
			<a href="/">首页</a>
			>
			<span class="changed">媒体中心</span>
		</div>

		<div class="content">
			
			<div class="newsleft">
				<div class="news">
					<div class="title">
						<img src="../images/mediacenter/新闻动态.png" alt="">
					</div>
					<div class="news-list">
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>国务院办公厅关于促进进出口稳定增长的若干意见</h3>
							<span>天津市、市政府着眼天津未来长远发展，着力优化空间布局。</span>
						</div>
						<ul>
							<li>• 国务院办公厅关于促进进出口稳定增长的若干意见</li>
							<li>• 关于运用工业企业绩效综合评价标准推进工业</li>
							<li>• 关于促进本市生产性服务业功能区发展的指导意见</li>
							<li>• 奉贤区出台《关于加快建设中小企业科技创新活力区</li>
						</ul>
					</div>
				</div>
				<div class="doc">
					<div class="title">
						<img src="../images/mediacenter/资料下载.png" alt="">
						<a href="" class="more"><img src="../images/mediacenter/更多.png" alt=""></a>
					</div>
					<div class="doc-list">
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>
						<div class="new">
							<img src="../images/mediacenter/news.png" alt="">
							<h3>2015南桥新城点线面动画片</h3>
							<span>日期：2016-01-01</span>
							<button class="download">下载</button>
						</div>

					</div>
				</div>
			</div>
			<div class="project">
				<div class="title">
					<img src="../images/mediacenter/最新项目.png" alt="">
				</div>
				<div class="project-list">
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>晨光文具互联网项目</h3>
						<p>投资人：上海晨光文具股份有限公司</p>
						<p>投资额：18亿元</p>
						<p>时间：2016-04-12</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>晨光文具互联网项目</h3>
						<p>投资人：上海晨光文具股份有限公司</p>
						<p>投资额：18亿元</p>
						<p>时间：2016-04-12</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>晨光文具互联网项目</h3>
						<p>投资人：上海晨光文具股份有限公司</p>
						<p>投资额：18亿元</p>
						<p>时间：2016-04-12</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>晨光文具互联网项目</h3>
						<p>投资人：上海晨光文具股份有限公司</p>
						<p>投资额：18亿元</p>
						<p>时间：2016-04-12</p>
					</div>
					<div class="new">
						<img src="../images/mediacenter/news.png" alt="">
						<h3>晨光文具互联网项目</h3>
						<p>投资人：上海晨光文具股份有限公司</p>
						<p>投资额：18亿元</p>
						<p>时间：2016-04-12</p>
					</div>
				</div>
				{{> jqPaginator}}
			</div>

		</div>






		<div class="qr-code"></div>
	</div>


	

	{{> footer}}
</template>