<template name="news">
	{{> helper}}
	{{> header}}

	<div class="container">
		
		<div class="nav">
			<a href="/">首页</a>
			>
			<a href="#">投资指南</a>
			>
			<span class="changed">新闻详情</span>
		</div>
		<div class="content">
			<div class="main-box">
				<div class="left">
					<div class="map">
						<div class="news-content">
							<div class="newsTitle">
								<h1>"莹特丽"，做东方美谷的旗帜</h1>
								<time>2015-04-13</time>
							</div>
							<div class="news-text">
								<p>世界最大的化妆品贴牌制造商莹特丽集团计划在奉扩大投资。4月11日，区长庄木弟接待意大利莹特丽集团董事长Dario Ferrari一行，双方就该公司在奉贤区进一步扩大投资进行洽谈。</p>
								<p>“希望你们成为东方美谷的一面旗帜。”庄木弟对莹特丽集团在奉投资兴业表示欢迎，他全面介绍了奉贤的投资环境、市场潜力和优惠政策，希望双方能相互交融发展，让公司在奉贤树立起行业的标杆，为东方美谷添彩。</p>
								<p>Dario Ferrari十分喜欢“东方美谷”的概念，同时对扩大项目投资信心满满，他认为未来10年亚洲将成为最大的彩妆市场，计划将技术转移到奉贤，也期待“东方美谷”能为企业提供完整的供应链服务。</p>
								<p>据悉，2007年落户庄行镇的莹特菲勒化妆品公司，是莹特丽集团旗下的上海子公司，专业生产化妆笔。2008年至今，公司产出销售从1300万元扩大到1.25亿元，亩均税收260多万元。莹特丽集团主要专注于彩妆和护肤品开发生产，并为国内外各大品牌提供代工服务，经过40多年发展，莹特丽在彩妆方面的研发创新及生产能力已领先全球。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="hot-pointer">
						<span></span>
						<span>热门点击</span>
					</div>
					<div class="list">
						<ul>
							<li><a href="" title="">国务院办公厅关于促进进出口稳</a></li>
							<li><a href="">关于运用工业企业绩效综合评价......</a></li>
							<li><a href="">奉贤区出台《关于加快建设中小......</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
							<li><a href="">上海市奉贤区人民政府关于进一.....</a></li>
						</ul>
					</div>
				</div>
				<div class="right">
					<div class="hot-park">
						<span></span>
						<span>热门园区</span>
					</div>
					<div class="right-wapper">
						<div class="right-img">
							<img src="/images/counter/nanqiao.jpg" alt="">
							<img src="/images/counter/nanqiao.jpg" alt="">
						</div>
						<div class="right-title">
							上海临港产业区奉贤园区
						</div>
						<p>园区地址：新杨公路1800号</p>
						<p>占地面积：17.04km²</p>
						<p>产业类型：工程机械...</p>
					</div>
				</div>
			</div>
		</div>

		<div class="qr-code">

		</div>
	</div>

{{> footer}}

</template>