<template name="plantDetail">

    <!--css  buildings.less-->
    {{> helper}} 
    {{> header}}
    <div id="buildings">
        <div class="nav">
            <a href="/">首页</a> 
            >
<!--             <a href="#">产业资源</a> &nbsp;>&nbsp; -->
            <span class="changed">厂房详情</span>
        </div>
        <div class="content">
            <div class="info">
                <img src="../images/land/infoimg.png" alt="">
                <div class="text">
                    <h1>上海东班源实业有限公司</h1>
                    <p>厂房类型：  单层厂房   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厂房面积：4000m <sup>2</sup></p>
                    <p class="area">厂房结构：砖瓦&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;租售价格：0.55/m <sup>2</sup>/天</p>
                    <button>加入对比</button>
                </div>
            </div>

            <div class="building-data">
				<div class="title">
					<img src="../images/buildings/厂房参数.png" alt="">
				</div>
				<div class="textinfo">
					<p>独立门户：否&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;行车设备：无&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					附带电梯：是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;楼层数：6层&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天然气：500KVA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;配电容量：500KVA
					</p>
					<hr>
					<p>标准层高：4米&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;楼宇状态：运营</p>
				</div>
			</div>
            <div class="main">
                <div class="left">
                    <div class="map">
                        <div class="title">
                            <img src="../images/dev/map.png" alt="">
                        </div>
                        <!--可以用百度地图代替 -->
                        <img src="../images/land/map.png" alt="">
                    </div>
                    <div class="slider">
                        <div class="title">
                            <img src="../images/buildings/厂房图片.png" alt="">
                        </div>
                        <div class="pictures">
                            <ul>
                                <li><img src="../images/land/slide1.png" alt="">
                                    <div>查看大图</div>
                                </li>
                                <li><img src="../images/land/slide2.png" alt="">
                                    <div>查看大图</div>
                                </li>
                                <li><img src="../images/land/slide3.png" alt="">
                                    <div>查看大图</div>
                                </li>
                                <li><img src="../images/land/slide4.png" alt="">
                                    <div>查看大图</div>
                                </li>
                            </ul>
                            <span class="arrow-left"><img src="../images/land/arron-left.png" alt=""></span>
                            <span class="arrow-right"><img src="../images/land/arron-right.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="title">
                        <img src="../images/buildings/加入对比.png" alt="">
                    </div>
                    <div class="lists">
                        <div class="item-plant">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>上海荧天实业有限公司</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                        <div class="item-plant">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>上海荧天实业有限公司</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                        <div class="item-plant">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>上海荧天实业有限公司</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                        <div class="item-plant">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>上海荧天实业有限公司</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                        <div class="item-plant">
                            <img src="../images/land/compare1.png" alt="">
                            <h4>上海荧天实业有限公司</h4>
                            <p>面&nbsp;&nbsp;积: 10000m<sup>2</sup></p>
                            <button>加入对比</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qr-code">
    </div>
    {{> footer}}
</template>
