<template name="processModal">
	<div class="modal-body">
		<div class="modal-title">
			③外商投资的公司设立登记
			<button class="close-modal">X</button>
		</div>
		<div class="modal-info">
			<p>实施单位：奉贤区市场监管局受上海市工商局委托，负责登记本区（县）行政区域内除由上海市工商行政管理局登记以外的外商投资的公司。</p>
			<p>提交材料：</p>
			<p>1、《外商投资企业设立登记申请书》（原件）；</p>
			<p> 2、指定代表或者共同委托代理人的证明</p>
			<p>3、审批机关的批准文件（批复和批准证书副本1）（原件）；</p>
			<p>申请人应自收到批准证书之日起90日内到登记机关办理登记注册手续;但以中外合作、外商合资、外商独资形式设立公司的，申请人应自收到批准证书之日起30日内到登记机关办理登记注册手续;募集方式设立的股份有限公司公开发行股票的，还应提交国务院证券监督管理机构的核准文件原件或有效复印件。</p>
			 <p>4、公司章程（原件）；</p>
			<p>公司章程需投资各方法定代表人或其授权人签字、盖章的原件，投资者为自然人的由本人签字。提交的公司章程应与审批部门批准的相一致。</p>
			<p>5、《名称预先核准通知书》（原件）；</p>
			<p>《名称预先核准通知书》应在有效期内，且内容与拟设立公司申请的相关事项吻合。</p>
			<p>6、投资者的主体资格证明或自然人身份证明；</p>
			<p>中方投资者应提交由本单位加盖公章的营业执照/事业单位法人登记证书/社会团体法人登记证/民办非企业单位证书复印件作为主体资格证明；外国投资者的主体资格证明或身份证明应当经当地公证机关公证，并由我国驻该国使领）馆认证。如其本国与我国没有外交关系，则应当经与我国有外交关系的第三国驻该国使（领）馆认证，再由我国驻该第三国使（领）馆认证。某些国家的海外属地出具的文书，应先在该属地办妥公证，再经该国外交机构认证，最后由我国驻该国使（领）馆认证。香港或澳门企业提交的证明应当由香港或澳门的中国委托公证人公证，并经中国法律服务（香港）有限公司或中国法律服务（澳门）有限公司审核签章转递。台湾地区投资者的证明应当按照协议依法提供当地公证机构的公证文件。</p>
			<p>7、董事、监事和经理的任职文件及身份证明复印件；</p>
			<p>董事、监事和经理的产生应当符合公司章程的规定。</p>
			<p>8、法定代表人任职文件和身份证明复印件；</p>
			<p>法定代表人的产生应当符合公司章程的规定。</p>
			<p> 9、依法设立的验资机构出具的验资证明（原件）；</p>
			<p>仅适用于以募集方式设立的股份有限公司。</p>
			<p>10、股东首次出资是非货币财产的，提交已办理财产权转移手续的证明文件；</p>
			<p>仅适用于以募集方式设立的股份有限公司。</p>
			<p>11、住所（经营场所）使用证明；</p>
			<p>自有房产提交产权证复印件,并提交原件核对；租赁房屋提交租赁协议原件及出租方的产权证复印件，以上不能提供产权证复印件的，提交能够证明产权归属的其他房屋产权使用证明复印件。</p>
			<p>12、创立大会的会议记录（原件）；</p>
			<p>仅适用于以募集方式设立的股份有限公司。</p>
			<p>13、前置审批文件或证件；</p>
			<p>指有关前置许可的批准文件或者许可证书复印件或许可证明，适用于经营范围中有法律、行政法规和国务院决定规定必须在登记前报经批准的项目的外商投资的公司。</p>
			<p>14、法律文件送达授权委托书；</p>
			<p>由外国投资者（授权人）与境内法律文件送达接受人（被授权人）签署。该委托书应当明确授权境内被授权人代为接受法律文件送达，并载明被授权人地址、联系方式。被授权人可以是外国投资者在境内设立的分支机构、拟设立的公司（被授权人为拟设立的公司的，公司设立后委托生效）或者其他境内有关单位或个人。</p>
			<p>15、其他有关文件。</p>
		</div>
		<div class="modal-footer">
			<p><span style="color: red">注</span>：以上文件除标明复印件外，应提交原件。提交文件如为外文，需提交中文译文，并加盖翻译单位公章。</p>		
			<p>办理地点：上海市奉贤区望园南路1529弄A楼2层企业注册大厅</p>
			<p>收费标准：本项业务不收费</p>
		</div>
	</div>
</template>

<template name="registerModal">
	<div class="modal-body">
		<div class="modal-title">
			①企业名称预先核准登记
			<button class="close-modal">X</button>
		</div>
		<div class="modal-info">
			<p>实施单位：奉贤区市场监管局受上海市工商局委托，负责登记本区（县）行政区域内除由上海市工商行政管理局登记以外的外商投资的公司。</p>
			<p>提交材料：</p>
			<p>1、设立</p>
			<p> （1）全体投资人签署的《企业名称预先核准申请书》；</p>
			<p>（2）全体投资人签署的《指定代表或者共同委托代理人的证明》（应标明具体委托事项、被委托人的权限、委托期限），及指定代表或者共同委托代理人的身份证复印件（本人签字）；</p>
			<p>（3）申请名称冠以“ 中国” 、“ 中华” 、“ 国家”、“全国”、“国际”字词的，提交国务院的批准文件复印件；
			</p>
			 <p>（4）特殊的申请名称，名称登记机关可以要求投资人提交相关的说明或者证明材料。</p>
			<p> 2、变更</p>
			<p>（1）公司法定代表人签署的《企业名称预先核准申请书》；</p>
			<p>（2）公司法定代表人签署的《指定代表或者共同委托代理人的证明》（应标明具体委托事项、被委托人的权限、委托期限），及指定代表或者共同委托代理人的身份证复印件（本人签字）；</p>
			<p>（3）申请名称冠以“ 中国” 、“ 中华” 、“ 国家”、“全国”、“国际”字词的，提交国务院的批准文件复印件；</p>
			<p>（4）特殊的申请名称，名称登记机关可以要求投资人提交相关的说明或者证明材料。</p>
			<p>办理地点：上海市奉贤区望园南路1529弄A楼2层企业注册大厅</p>
			<p>收费标准：本项业务不收费</p>
		</div>
	</div>
</template>


<template name="videoModal">
	<div class="modal-body videoM">
		<video src=""></video>
	</div>
</template>