<template name="process">
	
	{{> helper}}	
	{{> header}}

	<div id="process">
		<div class="nav">
			<a href="/">首页</a>
			&nbsp;>&nbsp;
<!-- 			<a href="#">投资流程</a>
			&nbsp;>&nbsp; -->
			<span class="changed">外资企业登记</span>
		</div>
		<div class="content">
			<ul class="tabs">
				<li class="active">内资企业登记</li>
				<li>外资企业登记</li>
				<li>建设工程项目</li>
			</ul>
			<div class="main-box">
				<div class="box outer-project show">
					<div class="outer-project1">
						<p>内资企业设立</p>
					</div>
					<div class="outer-project2">
						<p>企业名称预先</p>
						<p>核准登记</p>
						<p>(市场监管局)</p>
						<button type="" class="detail">查看详情</button>
					</div>
					<div class="outer-project3">
					    <div>
					    	<p>是否需要</p>
					    	<p>前置审批</p>
					    </div>
					</div>
					<div class="outer-project4">
						<div>
							<p>根据工商总局关于</p>
							<p>《严格落实先照后证改革严格执行工商登记前置审批事项的通知》</p>
							<p>凡涉及文件中所列的39项前置审批事项的，</p>
							<p>申请人应当依法报经相关审批部门审批，</p>
							<p>凭许可文件、证件向工商部门申请登记</p>
						</div>
					</div>
					<div class="outer-project5">
						<p>材料齐全</p>
						<p>出示收件凭证</p>
						<p>准予登记</p>
					<button type="">查看详情</button>
					</div>
					<div class="outer-project6">
						<p>发放载有</p>
						<p>统一社会信用代码的</p>
						<p>营业执照</p>
					</div>
					<div class="outer-project7">
						<p>开设银行基本户</p>
						<p>刻制企业公章</p>
					</div>
					<div class="outer-project8">
						<p>取得相关审批部门的经营许可文件、证件</p>
						<p>并在20个工作日</p>
						<p>自行在企业信息公示系统公示</p>
					</div>
					<div class="outer-project9">
						<p>企业开展</p>
						<p>经营活动</p>
					</div>
				</div>
		    	<div class="box inner-project">
		    		<div class="inner-project1">
		    			<p>外资企业设立</p>
		    		</div>
		    		<div class="inner-project2">
		    			<p>企业名称预先</p>
		    			<p>核准登记</p>
		    			<p>(上海市工商局)</p>
		    			<button type="">查看详情</button>
		    		</div>
		    		<div class="inner-project3">
		    			<p>通知“上海外资网上办事系统”录入申报信息，</p>
		    			<p>形成《外商投资企业设立/变更合同章程申报表》</p>
		    			<p>并作出承诺</p>
		    		</div>
		    		<div class="inner-project4">
		    			<p>预审《外商投资企业设立</p>
		    			<p>《变更合同章程申报表》内容</p>
		    			<p>指导申请人修改完善</p>
		    		</div>
		    		<div class="inner-project5">
		    			<p>预审通过后30日内</p>
		    			<p>提交书面材料至受理窗口</p>
		    			<p>书面材料须与网上提交</p>
		    			<p>预审内容一致</p>
		    		</div>
		    		<div class="inner-project6">
		    			<p>审批机关将</p>
		    			<p>依法作出审批结果</p>
		    			<p>（奉贤区经委）</p>
		    		</div>
		    		<div class="inner-project7">
		    			<p>是否需要</p>
		    			<p>前置审批</p>
		    		</div>
		    		<div class="inner-project8">
		    			<p>是</p>
		    		</div>
		    		<div class="inner-project9">
		    			<p>否</p>
		    		</div>
		    		<div class="inner-project10">
		    			<p>根据工商总局关于</p>
		    			<p>《严格落实先照后证改革严格执行工商登记前置审批事项的通知》</p>
		    			<p>凡涉及文件中所列的39项前置审批事项的，</p>
		    			<p>申请人应当依法报经相关审批部门审批，</p>
		    			<p>凭许可文件、证件向工商部门申请登记</p>
		    		</div>
		    		<div class="inner-project11">
		    			<p>材料齐全</p>
		    			<p>出示收件凭证</p>
		    			<p>准予登记</p>
		    		</div>
		    		<div class="inner-project12">
		    			<p>发放载有</p>
		    			<p>统一社会信用代码的</p>
		    			<p>营业执照</p>
		    		</div>
		    		<div class="inner-project13">
		    			<p>开设银行基本户</p>
		    			<p>刻制企业公章</p>
		    		</div>
		    		<div class="inner-project14">
		    			<p>取得相关审批部门的经营许可文件、证件</p>
		    			<p>并在20个工作日</p>
		    			<p>自行在企业信息公示系统公示</p>
		    		</div>
		    		<div class="inner-project15">
		    			<p>企业开展</p>
		    			<p>经营活动</p>
		    		</div>
		    	</div>
				<div class="box suggest-project">
					<div class="suggest-project1">
						<p>行政服务中心</p>
						<p>项目准入评审</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project2">
						<p>设计方案预审、</p>
						<p>签订《出让合同》</p>
					</div>
					<div class="suggest-project3">
						<p>建设用地批准书、</p>
						<p>建筑用地规划许可</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project4">
						<p>节能评估审查</p>
						<p>环境影响评价</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project5">
						<p>项目立项</p>
						<p>备案或核准</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project6">
						<p>环保、绿化、</p>
						<p>民防、卫生等</p>
						<p>相关部门审批</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project7">
						<p>设计方案审查</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project8">
						<p>工程报建</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project9">
						<p>勘察设计招标</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project10">
						<p>收取审图公司</p>
						<p>审图合同备案</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project11">
						<p>根据项目性质、</p>
						<p>内容实施分类征询</p>
					</div>
					<div class="suggest-project12">
						<p>建筑工程</p>
						<p>规划许可证</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project13">
						<p>设计文件审查</p>
						<p>审图合格证备案</p>
					</div>
					<div class="suggest-project14">
						<p>建设工程施工</p>
						<p>监理承发包</p>
						<p>中标合同备案</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project15">
						<p>建设工程报监</p>
						<p>施工许可证</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project16">
						<p>防雷装置设计</p>
						<p>审核</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project17">
						<p>同步受理、适量验收：</p>
						<p>1、城建档案验收、规划竣工验收同步受理，</p>
						<p>土地验收的工作在规划验收中一并开展;</p>
						<p>2、建筑质量管理验收</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project18">
						<p>消防、环保、卫生、</p>
						<p>绿化、防雷、交警、</p>
						<p>民防、节能中心</p>
						<p>等部门单项验收</p>
						<button type="">查看详情</button>
					</div>
					<div class="suggest-project19">
						<p>建筑工程竣工</p>
						<p>验收备案</p>
					</div>
				</div>
			</div>
		</div>
		<div class="qr-code">
		</div>
	</div>

	{{> footer}}

</template>




