<template name="successCases">
	{{> helper}}
	{{> header}}

	<div class="container">

		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">成功案例</span>
		</div>

		<div class="content">
			<div class="main-box">
				<div class="left" style="height: 1057px;">
					<div class="map">
						<div class="success-title">
							<!-- <img src="../images/dev/steps.png" alt=""> -->
							<span></span>
							<span>成功案例</span>
							<div class="inputType">
								<input type="text" name="">
								<button type="" value="">搜索</button>
							</div>
						</div>
						<!-- <div class="title">
							<img src="../images/cases/成功案例.png" alt="">
							<div class="inputType">
								<input type="text" name="">
								<button type="" value="">搜索</button>
							</div>
						</div> -->
					</div>
					<div class="case-list">
						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case1.png" alt="">
							<p>科思创</p>
						</a>
						</div>


						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case2.png" alt="">
							<p>如新</p>
						</a>

						</div>

						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case3.png" alt="">
							<p>碧梦技</p>
						</a>
						</div>


						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case4.png" alt="">
							<p>邑通道具</p>
						</a>
						</div>


						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case5.png" alt="">
							<p>南桥变压器</p>
						</a>
						</div>


						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case6.png" alt="">
							<p>中器环保</p>
						</a>
						</div>

						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case7.png" alt="">
							<p>阿波罗机械</p>
						</a>
						</div>


						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case8.png" alt="">
							<p>纳新塑化</p>
						</a>
						</div>
						<div class="case">
						<a href="">
							<img src="../images/cases/case100/case9.png" alt="">
							<p>派丽德高</p>
						</a>
						</div>

						{{> jqPaginator}}
					</div>

				</div>
				<div class="right">
					<div class="advance-title">
						<!-- <img src="../images/cases/优惠案例.png" alt=""> -->
						<span></span>
						<span>先进制造业</span>
						<!-- <div avalue = "advance" nvalue = "nowaday">
							<img src="/images/title/switch1.png" alt="">
						</div> -->
					</div>
					<div class="list">
						<div class="list-content">
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/adv/newMeterial.png" alt="">
									<p>新材料</p>
								</a>
								</div>
							</div>
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/adv/newEnergy.png" alt="">
									<p>新能源</p>
								</a>
								</div>
							</div>
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/adv/medicine.png" alt="">
									<p>美丽健康</p>
								</a>
								</div>
							</div>
							<!-- <div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/adv/IM.png" alt="">
									<p>智能制造</p>
								</a>
								</div>
							</div> -->
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/adv/advancedDevice.png" alt="">
									<p>先进装备</p>
								</a>
								</div>
							</div>
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/adv/powerGrid.png" alt="">
									<p>智能电网</p>
								</a>
								</div>
							</div>
						</div>
					</div>

					<div class="nowaday-title">
						<!-- <img src="../images/cases/优惠案例.png" alt=""> -->
						<span></span>
						<span>现代服务业</span>
						<!-- <div avalue = "advance" nvalue = "nowaday">
							<img src="/images/title/switch1.png" alt="">
						</div> -->
					</div>
					<div class="list">
						<div class="list-content">
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/now/cloud.png" alt="">
									<p>文创旅游休闲</p>
								</a>
								</div>
							</div>
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/now/yield.png" alt="">
									<p>生产性服务业</p>
								</a>
								</div>
							</div>
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/now/successTitle1.png" alt="">
									<p>金融服务业</p>
								</a>
								</div>
							</div>
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/now/business.png" alt="">
									<p>现代商贸</p>
								</a>
								</div>
							</div>
							<div class="list-case">
								<div>
								<a href="">
									<img src="/images/cases/now/eleSevice.png" alt="" style="margin-bottom: 0;">
									<p>平台及</p>
									<p>电子商务</p>
								</a>
								</div>
							</div>
						</div>
					</div>
					<div class="invest-title" style="margin-top:20px;">
						<!-- <img src="../images/dev/steps.png" alt=""> -->
						<span></span>
						<span>投资流程</span>
					</div>
					<div class="list">
						<div class="item-box">
							<div class="item"><a href="">内资企业登记流程</a></div>
							<div class="item"><a href="">外资企业登记流程</a></div>
							<div class="item"><a href="">建筑工程项目审批流程</a></div>
							<div class="item"><a href="">企业办事大厅入口</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="qr-code" style="bottom: 2.3%;">

		</div>
	</div>

{{> footer}}

</template>
