<template name="successCases">
	{{> helper}}
	{{> header}}

	<div class="container">
		
		<div class="nav">
			<a href="/">首页</a>
			&nbsp;>&nbsp;
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">成功案例</span>
		</div>

		<div class="content">
			<div class="main-box">
				<div class="left">
					<div class="map">
						<div class="title">
							<img src="../images/cases/成功案例.png" alt="">
							<div class="inputType">
								<input type="text" name="">
								<button type="" value="">搜索</button>
							</div>
						</div>
					</div>
					<div class="case-list">
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/caseRY.png" alt="">
							<p>如新</p>
						</div>
						<div class="demo">
							        <!-- <p id="demo3-text">当前第页</p> -->
					                <div id="demo3" class="pagination">
					                <a class="prev" href="javascript:void(0);" jp-role="prev" jp-data="">&lt;</a>
					                <a href="javascript:void(0);" jp-role="page" jp-data=""></a>
					                <a class="next" href="javascript:void(0);" jp-role="next" jp-data="">&gt;</a>
					                </div>
							</div>
					</div>

				</div>
				<div class="right">
					<div class="title">
						<img src="../images/cases/优惠案例.png" alt="">
					</div>
					<div class="list">
						<ul>
							<li>国务院办公厅关于促进进出口稳......</li>
							<li>关于运用工业企业绩效综合评价......</li>
							<li>奉贤区出台《关于加快建设中小......</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
							<li>上海市奉贤区人民政府关于进一.....</li>
						</ul>
					</div>
					<br><br>
					<div class="title">
						<img src="../images/dev/steps.png" alt="">
					</div>
					<div class="list">
						<div class="item"><a href="">内资企业登记流程</a></div>
						<div class="item"><a href="">外资企业登记流程</a></div>
						<div class="item"><a href="">建筑工程项目审批流程</a></div>
					</div>
				</div>
			</div>

		</div>

		<div class="qr-code">

		</div>
	</div>

{{> footer}}

</template>