<template name="successCases">
	{{> helper}}
	{{> header}}

	<div class="container">
		
		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">成功案例</span>
		</div>

		<div class="content">
			<div class="main-box">
				<div class="left">
					<div class="map">
						<div class="success-title">
							<!-- <img src="../images/dev/steps.png" alt=""> -->
							<span></span>
							<span>成功案例</span>
							<div class="inputType">
								<input type="text" name="">
								<button type="" value="">搜索</button>
							</div>
						</div>
						<!-- <div class="title">
							<img src="../images/cases/成功案例.png" alt="">
							<div class="inputType">
								<input type="text" name="">
								<button type="" value="">搜索</button>
							</div>
						</div> -->
					</div>
					<div class="case-list">
						<div class="case">
							<img src="../images/cases/rx.png" alt="">
							<p>如新</p>
						</div>
						<div class="case">
							<img src="../images/cases/jl.png" alt="">
							<p>珈蓝</p>
						</div>
						<div class="case">
							<img src="../images/cases/ry.png" alt="">
							<p>日野</p>
						</div>
						<div class="case">
							<img src="../images/cases/kb.png" alt="">
							<p>凯宝</p>
						</div>
						<div class="case">
							<img src="../images/cases/ml.png" alt="">
							<p>马勒</p>
						</div>
						<div class="case">
							<img src="../images/cases/be.png" alt="">
							<p>拜耳</p>
						</div>
						<div class="case">
							<img src="../images/cases/jli.png" alt="">
							<p>金力</p>
						</div>
						<div class="case">
							<img src="../images/cases/bql.png" alt="">
							<p>百雀羚</p>
						</div>
						<div class="case">
							<img src="../images/cases/ad.png" alt="">
							<p>艾动</p>
						</div>
						{{> jqPaginator}}
					</div>

				</div>
				<div class="right">
					<div class="important-title">
						<!-- <img src="../images/cases/优惠案例.png" alt=""> -->
						<span></span>
						<span>重点产业</span>
					</div>
					<div class="list">
						<div class="list-content">
							<div class="list-case blue">
								<div>
									<img src="/images/cases/newMeterial.png" alt="">
									<p>新材料</p>
								</div>
							</div>
							<div class="list-case blue">
								<div>
									<img src="/images/cases/newEnergy.png" alt="">
									<p>新能源</p>
								</div>
							</div>
							<div class="list-case blue">
								<div>
									<img src="/images/cases/medicine.png" alt="">
									<p>生物医药</p>
								</div>
							</div>
							<div class="list-case blue">
								<div>
									<img src="/images/cases/IM.png" alt="">
									<p>智能制造</p>
								</div>
							</div>
							<div class="list-case blue">
								<div>
									<img src="/images/cases/advancedDevice.png" alt="">
									<p>先进装备</p>
								</div>
							</div>
							<div class="list-case blue">
								<div>
									<img src="/images/cases/powerGrid.png" alt="">
									<p>智能电网</p>
								</div>
							</div>
							<div class="list-case">
								<div>
									<img src="/images/cases/cloud.png" alt="">
									<p>文创旅游休闲</p>
								</div>
							</div>
							<div class="list-case">
								<div>
									<img src="/images/cases/yield.png" alt="">
									<p>生产性服务业</p>
								</div>
							</div>
							<div class="list-case">
								<div>
									<img src="/images/cases/successTitle1.png" alt="">
									<p>金融服务业</p>
								</div>
							</div>
							<div class="list-case">
								<div>
									<img src="/images/cases/business.png" alt="">
									<p>现代商贸</p>
								</div>
							</div>
							<div class="list-case">
								<div>
									<img src="/images/cases/eleSevice.png" alt="" style="margin-bottom: 0;">
									<p>平台及</p>
									<p>电子服务</p>
									
								</div>
							</div>
						</div>
					</div>
					<br><br>
					<div class="invest-title">
						<!-- <img src="../images/dev/steps.png" alt=""> -->
						<span></span>
						<span>投资流程</span>
					</div>
					<div class="list">
						<div class="item-box">
							<div class="item"><a href="">内资企业登记流程</a></div>
							<div class="item"><a href="">外资企业登记流程</a></div>
							<div class="item"><a href="">建筑工程项目审批流程</a></div>
							<div class="item"><a href="">企业办事大厅入口</a></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="qr-code" style="bottom: 2.3%;">

		</div>
	</div>

{{> footer}}

</template>