<template name="transportation">
	{{> helper}}	
	{{> header}}

	<div id="contact-us">
		<div class="nav">
			<a href="/">首页</a>
			&nbsp;>&nbsp;
			<a href="#">区位交通</a>
		</div>

		<div class="content">
			<div class="transportation">
				<div class="transportation-img">
					<img src="/images/transport.jpg" alt="">
				</div>
				<div class="location">
					<p>地理位置</p>
					<p>距市中心40KM</p>
					<p>距上海自由贸易试验区50KM</p>
					<p>距浦东国际机场40KM</p>
					<p>距虹桥国际机场30KM</p>
					<p>距洋山深水港20KM</p>
					<p>距杭州湾跨海大桥50KM</p>
					<p>距上海迪斯尼15KM</p>		
				</div>
			</div>
		</div>
		<div class="qr-code">			
		</div>
	</div>
	{{> footer}}
</template>