<template name="zdev">
    {{> helper}} 
    {{> header}}
	<div class="slider"></div>
    <div id="zdev">
    	
		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">镇、开发区</span>
		</div>
		
		<div class="content">

			<!--四个小三角形-->
<!-- 			<div class="big-right"></div>
			<div class="big-left"></div>
			<div class="small-left"></div>
			<div class="small-right"></div> -->

			<div class="map">
				<button class="btn1" val="1">01</button>
				<button class="btn2" val="2">02</button>
				<button class="btn3" val="3">03</button>
				<button class="btn4" val="4">04</button>
				<button class="btn5" val="5">05</button>
				<button class="btn6" val="6">06</button>

				<div class="imgs">
				<img src="../images/dev/01.png" alt="" class="img1">
				<img src="../images/dev/02.png" alt="" class="img2">
				<img src="../images/dev/03.png" alt="" class="img3">
				<img src="../images/dev/04.png" alt="" class="img4">
				<img src="../images/dev/05.png" alt="" class="img5">
				<img src="../images/dev/06.png" alt="" class="img6">
				</div>


				<div class="area-list">
					<div class="item item1" >
						<div class="small-top"></div>
						<div class="info">
							<img src="../images/dev/areafx.png" alt="">
							<p class="name">上海市工业综合开发区</p>
							<p>地址：上海市奉贤区金海公路5885号</p>
							<p>电话：+86-4001820808</p>
							<p>网址：www.fxmar.com</p>
							<p>微信号：nfgs-123</p>
							<br>
							<a href="">查看详情</a>
						</div>
						
					</div>
					<div class="item item2">
						<div class="info">
							<img src="../images/dev/areafx.png" alt="">
							<p class="name">生物科技园区</p>
							<p>地址：上海市奉贤区金海公路5885号</p>
							<p>电话：+86-4001820808</p>
							<p>网址：www.fxmar.com</p>
							<p>微信号：nfgs-123</p>
							<br>
							<a href="">查看详情</a>
						</div>
						<div class="small-right"></div>
					</div>
					<div class="item item3">
						<div class="info">
							<img src="../images/dev/areafx.png" alt="">
							<p class="name">上海市海港综合经济开发区</p>
							<p>地址：上海市奉贤区金海公路5885号</p>
							<p>电话：+86-4001820808</p>
							<p>网址：www.fxmar.com</p>
							<p>微信号：nfgs-123</p>
							<br>
							<a href="">查看详情</a>
						</div>
						<div class="small-right"></div>
					</div>
					<div class="item item4">
						<div class="info">
							<img src="../images/dev/areafx.png" alt="">
							<p class="name">上海市奉贤区海湾旅游区</p>
							<p>地址：上海市奉贤区金海公路5885号</p>
							<p>电话：+86-4001820808</p>
							<p>网址：www.fxmar.com</p>
							<p>微信号：nfgs-123</p>
							<br>
							<a href="">查看详情</a>
						</div>
						<div class="small-right"></div>
					</div>
					<div class="item item5">
						<div class="info">
							<img src="../images/dev/areafx.png" alt="">
							<p class="name">上海市临港产业区奉贤园区</p>
							<p>地址：上海市奉贤区金海公路5885号</p>
							<p>电话：+86-4001820808</p>
							<p>网址：www.fxmar.com</p>
							<p>微信号：nfgs-123</p>
							<br>
							<a href="">查看详情</a>
						</div>
						<div class="small-right"></div>
					</div>
					<div class="item item6">
						<div class="info">
							<img src="../images/dev/areafx.png" alt="">
							<p class="name">上海市星火开发区</p>
							<p>地址：上海市奉贤区金海公路5885号</p>
							<p>电话：+86-4001820808</p>
							<p>网址：www.fxmar.com</p>
							<p>微信号：nfgs-123</p>
							<br>
							<a href="">查看详情</a>
						</div>
						<div class="small-right"></div>
					</div>
				</div>
				<div class="spans">
				<span class="span1" val="1"><img src="../images/dev/镇、开发区icon.png" alt="">庄行</span>
				<span class="span2" val="2"><img src="../images/dev/镇、开发区icon.png" alt="">四团</span>
				<span class="span3" val="3"><img src="../images/dev/镇、开发区icon.png" alt="">南桥</span>
				<span class="span4" val="4"><img src="../images/dev/镇、开发区icon.png" alt="">拓林</span>
				<span class="span5" val="5"><img src="../images/dev/镇、开发区icon.png" alt="">金汇</span>
				<span class="span6" val="6"><img src="../images/dev/镇、开发区icon.png" alt="">海湾</span>
				<span class="span7" val="7"><img src="../images/dev/镇、开发区icon.png" alt="">奉城</span>
				<span class="span8" val="8"><img src="../images/dev/镇、开发区icon.png" alt="">青村</span>
				</div>
				<div class="town-list">
					<div class="item item1" >
						<div class="big-left"></div>
						<div class="info">
							<h2>庄行镇</h2>
							<img src="../images/dev/townnq.png" alt="">
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
							<p class="contact">联系方式</p>
							<div class="infolist">
								<div class="infolist-content">
									<span>地址：奉贤区环城西路1999号</span>
									<span>电话：021-33655665</span>
								</div>
								<div class="infolist-content">
									<span>网址：www.fengpu.com</span>
									<span>微信号：shanghaifengpu</span>
								</div>
							</div>
							<div class="tabss">
								<ul class="tabs">
									<li class="areactive">相关园区</li>
									<li>相关企业</li>
								</ul>
								<div class="tabcontent">
									<div class="box box1">
										<div class="slider">
											<ul>
												<li style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider2.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div>
<!-- 									<div class="box box2" >
										<div class="slider">
											<ul>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="item item2" >
						
						<div class="info">
							<h2>四团镇</h2>
							<img src="../images/dev/townnq.png" alt="">
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
							<p class="contact">联系方式</p>
							<div class="infolist">
								<div class="infolist-content">
									<span>地址：奉贤区环城西路1999号</span>
									<span>电话：021-33655665</span>
								</div>
								<div class="infolist-content">
									<span>网址：www.fengpu.com</span>
									<span>微信号：shanghaifengpu</span>
								</div>
							</div>
							<div class="tabss">
								<ul class="tabs">
									<li class="areactive">相关园区</li>
									<li>相关企业</li>
								</ul>
								<div class="tabcontent">
									<div class="box box1">
										<div class="slider">
											<ul>
												<li style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider2.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div>
<!-- 									<div class="box box2" >
										<div class="slider">
											<ul>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
						<div class="big-right"></div>
					</div>
					<div class="item item3" >
						<div class="big-left"></div>
						<div class="info">
							<h2>南桥镇</h2>
							<img src="../images/dev/townnq.png" alt="">
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
							<p class="contact">联系方式</p>
							<div class="infolist">
								<div class="infolist-content">
									<span>地址：奉贤区环城西路1999号</span>
									<span>电话：021-33655665</span>
								</div>
								<div class="infolist-content">
									<span>网址：www.fengpu.com</span>
									<span>微信号：shanghaifengpu</span>
								</div>
							</div>
							<div class="tabss">
								<ul class="tabs">
									<li class="areactive">相关园区</li>
									<li>相关企业</li>
								</ul>
								<div class="tabcontent">
									<div class="box box1">
										<div class="slider">
											<ul>
												<li style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider2.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div>
<!-- 									<div class="box box2" >
										<div class="slider">
											<ul>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="item item4" >
						<div class="big-left"></div>
						<div class="info">
							<h2>拓林镇</h2>
							<img src="../images/dev/townnq.png" alt="">
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
							<p class="contact">联系方式</p>
							<div class="infolist">
								<div class="infolist-content">
									<span>地址：奉贤区环城西路1999号</span>
									<span>电话：021-33655665</span>
								</div>
								<div class="infolist-content">
									<span>网址：www.fengpu.com</span>
									<span>微信号：shanghaifengpu</span>
								</div>
							</div>
							<div class="tabss">
								<ul class="tabs">
									<li class="areactive">相关园区</li>
									<li>相关企业</li>
								</ul>
								<div class="tabcontent">
									<div class="box box1">
										<div class="slider">
											<ul>
												<li style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider2.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div>
<!-- 									<div class="box box2" >
										<div class="slider">
											<ul>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>

					<div class="item item5" >
						<div class="big-top"></div>
						<div class="info">
							<h2>金汇镇</h2>
							<img src="../images/dev/townnq.png" alt="">
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
							<p class="contact">联系方式</p>
							<div class="infolist">
								<div class="infolist-content">
									<span>地址：奉贤区环城西路1999号</span>
									<span>电话：021-33655665</span>
								</div>
								<div class="infolist-content">
									<span>网址：www.fengpu.com</span>
									<span>微信号：shanghaifengpu</span>
								</div>
							</div>
							<div class="tabss">
								<ul class="tabs">
									<li class="areactive">相关园区</li>
									<li>相关企业</li>
								</ul>
								<div class="tabcontent">
									<div class="box box1">
										<div class="slider">
											<ul>
												<li style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider2.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div>
<!-- 									<div class="box box2" >
										<div class="slider">
											<ul>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="item item6" >
						<div class="info">
							<h2>海湾镇</h2>
							<img src="../images/dev/townnq.png" alt="">
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
							<p class="contact">联系方式</p>
							<div class="infolist">
								<div class="infolist-content">
									<span>地址：奉贤区环城西路1999号</span>
									<span>电话：021-33655665</span>
								</div>
								<div class="infolist-content">
									<span>网址：www.fengpu.com</span>
									<span>微信号：shanghaifengpu</span>
								</div>
							</div>
							<div class="tabss">
								<ul class="tabs">
									<li class="areactive">相关园区</li>
									<li>相关企业</li>
								</ul>
								<div class="tabcontent">
									<div class="box box1">
										<div class="slider">
											<ul>
												<li style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider2.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div>
<!-- 									<div class="box box2" >
										<div class="slider">
											<ul>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
						<div class="big-right"></div>
					</div>
					<div class="item item7" >
						<div class="info">
							<h2>奉城镇</h2>
							<img src="../images/dev/townnq.png" alt="">
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
							<p class="contact">联系方式</p>
							<div class="infolist">
								<div class="infolist-content">
									<span>地址：奉贤区环城西路1999号</span>
									<span>电话：021-33655665</span>
								</div>
								<div class="infolist-content">
									<span>网址：www.fengpu.com</span>
									<span>微信号：shanghaifengpu</span>
								</div>
							</div>
							<div class="tabss">
								<ul class="tabs">
									<li class="areactive">相关园区</li>
									<li>相关企业</li>
								</ul>
								<div class="tabcontent">
									<div class="box box1">
										<div class="slider">
											<ul>
												<li style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider2.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div>
<!-- 									<div class="box box2" >
										<div class="slider">
											<ul>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
						<div class="big-right"></div>
					</div>
					<div class="item item8">
						<div class="info">
							<h2>青村镇</h2>
							<img src="../images/dev/townnq.png" alt="">
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
							<p class="contact">联系方式</p>
							<div class="infolist">
								<div class="infolist-content">
									<span>地址：奉贤区环城西路1999号</span>
									<span>电话：021-33655665</span>
								</div>
								<div class="infolist-content">
									<span>网址：www.fengpu.com</span>
									<span>微信号：shanghaifengpu</span>
								</div>
							</div>
							<div class="tabss">
								<ul class="tabs">
									<li class="areactive">相关园区</li>
									<li>相关企业</li>
								</ul>
								<div class="tabcontent">
									<div class="box box1">
										<div class="slider">
											<ul>
												<li style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider2.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li  style="background: url(../images/dev/slider1.png)">
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div>
<!-- 									<div class="box box2" >
										<div class="slider">
											<ul>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
												<li>
													<div><p>南郊宾馆夜景</p></div>
												</li>
											</ul>
											<span></span>
											<span></span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
						<div class="big-right"></div>
					</div>
				</div>

			</div>
			<div class="town">
				<p class="title">镇:</p>
				<ul>
					<li>庄行</li>
					<li>四团</li>
					<li>南桥</li>
					<li>拓林</li>
					<li>金汇</li>
					<li>海湾</li>
					<li>奉城</li>
					<li>青村</li>
				</ul>
			</div>
			<div class="devarea">
				<p class="title">开发区:</p>
				<ul>
					<li>01/&nbsp;上海市工业综合开发区</li>
					<li>02/&nbsp;生物科技园区</li>
					<li>03/&nbsp;上海市海港综合经济开发区</li>
					<li>04/&nbsp;上海市奉贤区海湾旅游区</li>
					<li>05/&nbsp;上海市临港产业区奉贤园区</li>
					<li>06/&nbsp;上海市星火开发区</li>
				</ul>
			</div>
		</div>

		<div class="qr-code">
			
		</div>

    </div>

   {{> footer}}
</template>
