<template name="zdev">
    {{> helper}}
    {{> header}}
	<div class="slider"></div>
    <div id="zdev">

		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">镇、开发区</span>
		</div>

		<div class="content">

			<!--四个小三角形-->
<!-- 			<div class="big-right"></div>
			<div class="big-left"></div>
			<div class="small-left"></div>
			<div class="small-right"></div> -->

			<div class="map">
				<button class="btn1" val="1">01</button>
				<button class="btn2" val="2">02</button>
				<button class="btn3" val="3">03</button>
				<button class="btn4" val="4">04</button>
				<button class="btn5" val="5">05</button>
				<button class="btn6" val="6">06</button>
        <button class="btn7" val="7">07</button>
        <button class="btn8" val="8">08</button>
        <button class="btn9" val="9">09</button>
        <button class="btn10" val="10">10</button>
        <button class="btn11" val="11">11</button>
        <button class="btn12" val="12">12</button>
        <button class="btn13" val="13">13</button>
        <button class="btn14" val="14">14</button>
        <button class="btn15" val="15">15</button>
        <button class="btn16" val="16">16</button>
        <button class="btn17" val="17">17</button>
        <button class="btn18" val="18">18</button>
        <button class="btn19" val="19">19</button>
        <button class="btn20" val="20">20</button>
        <button class="btn21" val="21">21</button>
        <button class="btn22" val="22">22</button>
        <button class="btn23" val="23">23</button>
        <button class="btn24" val="24">24</button>
        <button class="btn25" val="25">25</button>
        <button class="btn26" val="26">26</button>
        <button class="btn27" val="27">27</button>
        <button class="btn28" val="28">28</button>
        <button class="btn29" val="29">29</button>
        <button class="btn30" val="30">30</button>
        <button class="btn31" val="31">31</button>
        <button class="btn32" val="32">32</button>
        <button class="btn33" val="33">33</button>
        <button class="btn34" val="34">34</button>
        <button class="btn35" val="35">35</button>
        <button class="btn36" val="36">36</button>

				<!-- <div class="imgs">
				<img src="../images/dev/01.png" alt="" class="img1">
				<img src="../images/dev/02.png" alt="" class="img2">
				<img src="../images/dev/03.png" alt="" class="img3">
				<img src="../images/dev/04.png" alt="" class="img4">
				<img src="../images/dev/05.png" alt="" class="img5">
				<img src="../images/dev/06.png" alt="" class="img6">
				</div> -->


				<div class="area-list">
          <div class="item item1" >
            <!-- <div class="big-left"></div> -->
            <div class="info area-info">
              <h2>上海奉贤海湾经济园区二区（畜牧园区）</h2>
              <span>上海奉贤海湾经济园区二区（畜牧园区）经奉贤县人民政府批准成立于2001年2月12日，目前园区办公在金海公共3265号，拥有办公面积800平方米，员工22人，现有注册企业2721户，其中纳税户1300户，海湾二区是投资者实现价值，成功事业的理想港湾。</span>
              <p class="detail"><a href="">查看详情&gt;</a></p>
            </div>
            <div class="big-right2"></div>
          </div>
          <div class="item item2" >
            <div class="big-left2"></div>
            <div class="info">
              <h2>西渡经济开发区</h2>
              <span>区东临S4高速公路，西靠沪杭公路，南傍大叶公路，北至梅家港，总规划建设面积2400亩。目前已有3000多家企业落户园区，其中产值亿元以上企业15家，高新技术企业10家，纳税千万元以上企业8家，市、区级企业技术中心6个,全球500强企业研发中心1个。
    形成了以先进制造、服装纺织、智能家居等为特色的产业体系，吸引了美国SPX集团、上海水星家用纺织品股份有限公司、上海斯尔丽服饰有限公司、上海阿波罗机械股份有限公司、上海白猫专用化学品有限公司、上海美标陶瓷有限公司等国内外知名企业相继落户。同时，随着上海产业结构调整的推进，园区引进了食其家、掌柜的店等知名餐饮连锁企业，逐步形成了园区今后重点培育的现代服务行业。</span>
            </div>
          </div>
          <div class="item item3" >

            <div class="info">
              <h2>上海奉城工业园区</h2>
              <span>上海奉城工业园区成立于2009年3月，是经国家发改委核准、上海市人民政府批准设立的市级工业开发区，园区位于奉贤区青村镇团青公路以北、航塘公路以东，总规划占地面积约2.5平方公里。近年来，园区在青村镇人民政府和相关职能部门领导的关心、支持下，不断加大招商力度，实行实体型和商贸型招商并举的策略。截止2015年末，园区现有企业近5000家，其中实体型企业18家；2015年园区实现工业总产值49亿元。另外2010年-2012年奉城工业园区党总支部被评为奉贤区创先争优先进基层党支部；2010年-2013年连续被奉贤区精神文明建设委员会授予“文明窗口”单位；2009年以来连续被评为招商引资先进开发区。</span>
            </div>
          </div>
          <div class="item item4" >

            <div class="info">
              <h2>上海奉工综合经济小区</h2>
              <span>上海奉工综合经济小区是由市农委正式批准的新经济园区，成立于2000年初，到2015年为止，已有6000户企业落户在我们园区内，园区政策优惠。交通便捷，设施齐全，服务优良，是理想的投资宝地，也是市农委统一布点的奉贤区各经济局发展私营经济的唯一热土。园区位于上海市奉贤区南桥镇南桥路839号。320国道沪杭公路横贯园区，紧靠虹桥机场至杭州湾深水港的快捷干道和沪杭高速公路，地铁轨道交通即将要开通，交通十分便捷。上海奉工综合经济园区竭诚为投资者提供工商、税务等各种配套一条龙优质服务。投资环境宽松优越，欢迎各行业朋友前来落户，共享优惠扶持政策</span>
            </div>
            <div class="big-right2"></div>
          </div>
          <div class="item item5" >

            <div class="info">
              <h2>供销社经济园区</h2>
              <span>供销社经济园区位于上海市南部，杭州湾北侧的上海市工业开发区-奉浦开发区内。供销社经济园区是奉贤区人民政府批准，集工商、贸易、内外资、民营企业一体化的综合性园区。园区自2004年5月成立以来，至2015年12月，入驻企业已近2800多户。</span>
            </div>
            <div class="big-right2"></div>
          </div>

				</div>
				<div class="spans">
				<span class="span1 ss" val="1"><img src="../images/dev/镇、开发区icon.png" alt="">庄行</span>
				<span class="span2 ss" val="2"><img src="../images/dev/镇、开发区icon.png" alt="">四团</span>
				<span class="span3 ss" val="3"><img src="../images/dev/镇、开发区icon.png" alt="">南桥</span>
				<span class="span4 ss" val="4"><img src="../images/dev/镇、开发区icon.png" alt="">拓林</span>
				<span class="span5 ss" val="5"><img src="../images/dev/镇、开发区icon.png" alt="">金汇</span>
				<span class="span6 ss" val="6"><img src="../images/dev/镇、开发区icon.png" alt="">海湾</span>
				<span class="span7 ss" val="7"><img src="../images/dev/镇、开发区icon.png" alt="">奉城</span>
				<span class="span8 ss" val="8"><img src="../images/dev/镇、开发区icon.png" alt="">青村</span>
				</div>
				<div class="town-list">
					<div class="item item1" >
						<div class="big-left"></div>
						<div class="info">
							<h2>庄行镇</h2>
							<span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
						</div>
					</div>
          <div class="item item2" >

            <div class="info">
              <h2>四团镇</h2>
              <span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
            </div>
              <div class="big-right"></div>
          </div>
          <div class="item item3" >
            <div class="big-left"></div>
            <div class="info">
              <h2>南桥镇</h2>
              <span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
            </div>
          </div>
          <div class="item item4" >
            <div class="big-left"></div>
            <div class="info">
              <h2>拓林镇</h2>
              <span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
            </div>
          </div>
          <div class="item item5" >
            <div class="big-top"></div>
            <div class="info">
              <h2>金汇镇</h2>
              <span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
            </div>
          </div>
          <div class="item item6" >

            <div class="info">
              <h2>海湾镇</h2>
              <span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
            </div>
              <div class="big-right"></div>
          </div>
          <div class="item item7" >

            <div class="info">
              <h2>奉城镇</h2>
              <span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
            </div>
            <div class="big-right"></div>
          </div>
          <div class="item item8" >

            <div class="info">
              <h2>青村镇</h2>
              <span>南桥镇是是奉贤区区委、区政府所在地，也是奉贤区的政治、经济、文化、信息中心。随着杭州湾大桥通车、闵浦二桥开通，轨道交通五号线延伸段和金海路越江隧道的建设，南桥的交通优势和地理优势将获得极大提升。</span>
            </div>
            <div class="big-right"></div>
          </div>
		</div>

			</div>
			<div class="town">
				<p class="title">镇:</p>
				<ul>
					<li>庄行</li>
					<li>四团</li>
					<li>南桥</li>
					<li>拓林</li>
					<li>金汇</li>
					<li>海湾</li>
					<li>奉城</li>
					<li>青村</li>
				</ul>
			</div>
			<div class="devarea">
				<p class="title">园区:</p>
        <ul>
          <li class="y1">01/&nbsp;畜牧</li>
          <li class="y1">02/&nbsp;西渡</li>
          <li class="y1">03/&nbsp;奉城工业园区</li>
          <li class="y1">04/&nbsp;奉工</li>
          <li class="y1">05/&nbsp;供销社</li>
          <li class="y1">06/&nbsp;光明</li>
          <li class="y1">07/&nbsp;国际商贸园</li>
          <li class="y1">08/&nbsp;海港开发区</li>
          <li class="y1">09/&nbsp;海湾旅游区</li>
          <li class="y1">10/&nbsp;胡桥</li>
        </ul>
        <ul>
          <li class="y1">11/&nbsp;华严</li>
          <li class="y1">12/&nbsp;化工区</li>
          <li class="y1">13/&nbsp;新申</li>
          <li class="y1">14/&nbsp;星火</li>
          <li class="y1">15/&nbsp;江海</li>
          <li class="y1">16/&nbsp;交通</li>
          <li class="y1">17/&nbsp;金融基地</li>
          <li class="y1">18/&nbsp;开伦</li>
          <li class="y1">19/&nbsp;临港</li>
          <li class="y1">20/&nbsp;南方</li>
        </ul>
        <ul>
          <li class="y1">21/&nbsp;南华亭</li>
          <li class="y1">22/&nbsp;平安（准）</li>
          <li class="y1">23/&nbsp;钱桥园区</li>
          <li class="y1">24/&nbsp;商务区</li>
          <li class="y1">25/&nbsp;上海胡桥经济园区</li>
          <li class="y1">26/&nbsp;邵厂</li>
          <li class="y1">27/&nbsp;申粮</li>
          <li class="y1">28/&nbsp;生物科技园区</li>
          <li class="y1">29/&nbsp;泰磊</li>
          <li class="y1">30/&nbsp;泰顺</li>
        </ul>
				<ul>
					<li class="y1">31/&nbsp;南桥镇南桥经济园区</li>
					<li class="y1">32/&nbsp;奉城企业管理服务有限公司</li>
					<li class="y1">33/&nbsp;四团经济园区</li>
					<li class="y1">34/&nbsp;海湾经济园区</li>
					<li class="y1">35/&nbsp;金汇综合经济园区</li>
					<li class="y1">36/&nbsp;青村镇青港经济园区</li>
				</ul>
			</div>
		</div>

		<div class="qr-code">

		</div>

    </div>

   {{> footer}}
</template>
