<template name="zoneDetail">
	{{> helper}}
	{{> header}}

	<div id="zone-detail">
		
		<div class="nav">
			<a href="/">首页</a>
			>
<!-- 			<a href="#">投资指南</a>
			&nbsp;>&nbsp; -->
			<span class="changed">园区详情</span>
		</div>

		<div class="content">
			
			<div class="info">
				<img src="../images/land/infoimg.png" alt="">
				<div class="text">
					<h1>生物科技园区国家生物产业基地</h1>
					<p>所在区域：奉贤&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：+86-4001820808</p>
					<p>园区地址：上海市奉贤区金海公路5885号</p>
					<p class="address">企业数量：未知&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产业：生产型服务业&nbsp;&nbsp;生物医药产业</p>
				</div>
			</div>

			<div class="zone-intro">
				<div class="title">
					<img src="../images/title/园区简介.png" alt="">园区详情
				</div>
				<div class="textinfo">
					<p>“上海品牌园区”——上海奉贤经济开发区生物科技园区成立于2002年，是上海市首批市级开发区之一。园区地处上海市“十二五”规划重点发展的南桥新城，具有得天独厚的区位和点位优势。</p>
					<p>园区占地20平方公里，其中，15平方公里为南桥新城的核心区域，5平方公里为产业板块。在产业板块中，分为生物医药产业功能区和生产性服务业功能区。生物医药产业功能区，重点发展生物制剂、生物制品、血液制品、疫苗诊断试剂和医疗仪器设备等产业， 2009年园区分别被国家发改委和国家商务部及科技部列为“上海国家生物产业基地”和“国家科技兴贸创新基地（生物医药）”。生产性服务业功能区，重点发展生物医药等高新技术产业的配套服务业，包括：企业总部经济，研发中心，服务外包中心，展览展示销售中心，文化创业产业等。2010年9月园区的生产性服务业功能区被上海市经信委核准为南郊生产性服务业功能区，从而形成了城市功能辐射产业板块，产业板块支撑城市建设的“产城融合”发展格局。 园区自成立以来，先后引进了上海生物制品研究所、上海莱士、诺尔康神经电子、海利生物、铭源数康、康美药业、复旦奥医等知名企业和研发机构。</p>
					<p>“十二五”规划期间，园区将以全新的发展理念和创新思维，努力打造成具有现代化生物医药产业特色的“北杭州湾生物港”！</p>

					<p>入驻企业：伽蓝、晨冠乳业、莱士血液制品、海利生物、上海塞翁福农业发展有限公司、上海南郊石油交易中心、上海漕河泾新兴技术开发区等</p>
					<p>产业导向：生产型服务业和生物医药产业</p>
					<p>联系方式：</p>
					<p>地址：上海市奉贤区金海公路5885号</p>
					<p>电话：+86-400 182 0808</p>
					<p>网址：www.fxmar.com</p>
					<p>微信号：nfgs-123</p>
				</div>
			</div>
			<div class="main-box">
				<div class="left">
					<div class="map">
						<div class="title">
							<img src="../images/title/地图简介.png" alt="">地图简介
						</div>
						<div id="mapcontainer"></div>
					</div>
				</div>		
				<div class="right">
					<div class="title">
						<img src="../images/title/投资流程.png" alt="">投资流程
					</div>
					<div class="list">
						<div class="item"><a href="">内资企业登记流程</a></div>
						<div class="item"><a href="">外资企业登记流程</a></div>
						<div class="item"><a href="">建筑工程项目审批流程</a></div>
					</div>
				</div>		
			</div>

		</div>

		<div class="qr-code">

		</div>
	</div>

{{> footer}}

</template>