<template name="footer">
	
	<footer>
		<section class="main-list">
			<div class="content">
				<ul>
					<li><a href="/">首页</a></li>
					<!-- <li><a href="/mediaCenter">新闻详情</a></li> -->
					<!-- <li><a href="/indutryCluster/distribution">重点产业</a></li> -->
					<li><a href="/">三分钟了解奉贤</a></li>
					<!-- <li><a href="/select/focus">特色聚焦</a></li> -->
					<li><a href="/select/transportation">区位交通</a></li>
					<li><a href="/indutryResource/plant">资源信息</a></li>
					<li><a href="/searchPolicy">政策查询</a></li>
				</ul>
				<ul>
					<li><a href="">选择奉贤</a></li>
					<li><a href="/introduction">奉贤概况</a></li>
					<li><a href="/advantages">奉贤优势</a></li>
					<li><a href="/select/focus">特色聚焦</a></li>
				</ul>
				<ul>
					<li><a href="">产业集群</a></li>
					<li><a href="/indutryCluster/distribution">重点产业</a></li>
					<li><a href="/indutryCluster/distribution">产业分布</a></li>
				</ul>
				<ul>
					<li><a href="">产业资源</a></li>
					<!-- <li><a href="">资源信息查询</a></li> -->
					<li><a href="/indutryResource/plant">厂房资源</a></li>
					<li><a href="/indutryResource/building">商务楼宇</a></li>
					<li><a href="/indutryResource/land">土地资源</a></li>
				</ul>
				<ul>
					<li><a href="">投资指南</a></li>
					<li><a href="/investGuide/zdev">镇、开发区</a></li>
					<li><a href="/process">投资流程</a></li>
					<li><a href="/investGuide/concessions">优惠政策</a></li>
					<li><a href="/investGuide/successCases">成功案例</a></li>
				</ul>
				<ul>
					<li><a href="">媒体中心</a></li>
					<li><a href="/mediaCenter">最新项目</a></li>
					<li><a href="/mediaCenter">资料下载</a></li>
					<li><a href="/news">新闻动态</a></li>
				</ul>
				<ul>
					<li><a href="">联系我们</a></li>
					<li><a href="/contactus/aboutus">关于我们</a></li>
					<li><a href="/contactus/contact">联系我们</a></li>
					<li><a href="/contactus/advice">项目咨询</a></li>
					<li><a href="/contactus/map">交通路线</a></li>
				</ul>
				<div class="yqinfo">
					<p><img src="../images/index/footer-logo.png">上海市奉贤区人民政府招商办公室</p>
					<p class="small">Investment Promotion Office of FengXian District，Shanghai</p>
					<p>上海奉贤区望园路1529弄2号</p>
					<p>电话：(+86)021-67137517 传真：(+86)021-67137529</p>
					<p class="small">NO.2，Lane 1529，south Wangyuan Road，Fengxian District，Shanghai</p>
					<p class="small">Tel：(+86)021-67137517		Fax：(+86)021-67137529</p>
				</div>
				<div class="selections">
					<select name="" id="" onchange="window.open(this.value)">
						<option value="">区政府部门</option>
						<option value="http://www.fengxian.gov.cn/shfx/">奉贤区</option>
						<option value="http://www.luwan.sh.cn/shhp/#p">黄浦区</option>
						<option value="http://www.shyp.gov.cn/">杨浦区</option>
						<option value="http://hkq.sh.gov.cn/shhk/">虹口区</option>
						<option value="http://www.shzb.gov.cn/">闸北区</option>
						<option value="http://www.ptq.sh.gov.cn/gb/n6132/index.html">普陀区</option>
						<option value="http://app.changning.sh.cn/col/col229/index.html">长宁区</option>
						<option value="http://www.xh.sh.cn/H/xh/portal/index/index.htm">徐汇区</option>
						<option value="http://www.pudong.gov.cn/website/html/WZAindexNew/portal/index/index.htm">浦东新区</option>
						<option value="http://cmx.sh.gov.cn/cm_website/html/DefaultSite/portal/index/index.htm">崇明县</option>
						<option value="http://www.jingan.gov.cn/">静安区</option>
						<option value="http://bsq.sh.gov.cn/">宝山区</option>
						<option value="http://www.shmh.gov.cn/minhang_default.aspx">闵行区</option>
						<option value="http://www.jiading.gov.cn/">嘉定区</option>
						<option value="http://jsq.sh.gov.cn/gb/shjs/index.html">金山区</option>
						<option value="http://www.songjiang.gov.cn/website/pages/index.htm">松江区</option>
						<option value="http://www.shqp.gov.cn/gb/special/node_8989.htm">青浦区</option>
					</select>
					<div class="line"></div>
					<select name="" id="" onchange="window.open(this.value)">
						<option value="">镇、开发区</option>
						<option value="http://www.fxnq.gov.cn/">南桥镇人民政府</option>
						<option value="http://www.shfch.gov.cn/">奉城镇人民政府</option>
						<option value="http://www.qingcun.cn/Main/Index.asp">青村镇人民政府</option>
						<option value="http://www.situan.gov.cn/stz/">四团镇人民政府</option>
						<option value="http://www.fxzhelin.gov.cn/main/index.asp">柘林镇人民政府</option>
						<option value="http://hwz.fengxian.gov.cn/">海湾镇人民政府</option>
						<option value="http://www.jinhui.gov.cn/main/index.asp">金汇镇人民政府</option>
						<option value="http://www.zhuanghang.cn">庄行镇人民政府</option>
						<option value="http://www.shfxjhsq.gov.cn/">奉贤金海社区</option>
					</select>
					<div class="line"></div>
					<select name="" id="" onchange="window.open(this.value)">
						<option value="经济园区">经济园区</option>
						<option value=" http//www.fcqy.sh.cn/">奉城企业管理服务有限公司</option>
						<option value="http://www.21mip.com">上海奉城工业园区</option>
						<option value="经济园区4">供销社经济园区</option>
						<option value="http://www.fengpu.gov.cn">上海市工业综合开发区国际商贸园</option>
						<option value="http://www.hwpark.com">上海海湾经济小区</option>
						<option value="http://www.shseaport.com/">海港开发区</option>
						<option value="http://www.hqjjyq.com/">上海胡桥经济园区</option>
						<option value="http://huyansh.com">上海市奉贤区华严开发区</option>
						<option value="http://www.shhzw.com.cn/">上海杭州湾经济园区</option>
						<option value="http://www.jhjjyq.com">奉贤区南桥镇江海经济园区</option>
						<option value="http://www.jhyq.cc">上海金汇综合经济园区</option>
						<option value="http://www.f-park.cn">上海金融产业服务基地</option>
						<option value="http://www.lingangfx-service.com/">上海临港奉贤企业服务有限公司</option>
						<option value="http://www.qqjjyq.cn">上海市奉贤区青村镇钱桥经济园区</option>
						<option value="http://www.scyq.sh.cn">上海邵厂经济发展有限公司</option>
						<option value="http://www.fxmar.com/">生物科技园区 </option>
						<option value="http://www.jinhuitailei.com">上海金汇泰磊综合经济园区</option>
						<option value="http://www.shwqyq.com">上海邬桥经济园区 </option>
						<option value="http://www.xidupark.com">西渡经济园区</option>
						<option value="http://www.shspark.com">星火开发区经济园区</option>
					</select>
					<div class="line"></div>
					<select name="" id="" onchange="window.open(this.value)">
						<option value="开发区1">其他网站</option>
						<option value="http://service.shqp.gov.cn/gb/special/node_25547.htm">青浦行政服务中心</option>
						<option value="http://xzfw.shbs.gov.cn/BSFront/defaultnew.aspx">宝山区行政服务中心</option>
						<option value="http://xzfw.songjiang.gov.cn/Sjzwweb/">松江区行政服务中心</option>
						<option value="http://xzfw.jinshan.gov.cn/site/">上海徐汇网上行政审批平台</option>
						<option value="http://xzfw.jinshan.gov.cn/site/">金山区行政服务中心</option>
						<option value="http://xzfwzx.shcm.gov.cn/">崇明县行政服务中心</option>
						<option value="http://eservices.jiading.gov.cn/jdsp/Index.aspx">嘉定区行政服务中心</option>
						<option value="http://gsl.fengxian.gov.cn/">贤商网</option>
						<option value="http://nqxc.fengxian.gov.cn/">南桥新城</option>
						<option value="http://ghw.fengxian.gov.cn/">奉贤工会</option>
						<option value="http://www.fengxiannet.com/">奉贤网</option>
						<option value="http://www.fengxiannet.com/">奉贤网</option>
						<option value="http://www.fxzx.sh.cn/">区政协</option>
						<option value="http://wjw.fengxian.gov.cn/">区外资管理服务系统</option>

					</select>
				</div>
			</div>
		</section>
		<section class="copyright">
			<span>Copyright@2016上海市奉贤区人民政府招商办公室    沪ICP备09020003号-1</span>
		</section>
	</footer>

</template>