<template name="footer">
	
	<footer>
		<section class="main-list">
			<div class="content">
				<ul>
					<li><a href="/">首页</a></li>
					<li><a href="">新闻资讯</a></li>
					<li><a href="/indutryCluster/distribution">重点产业</a></li>
					<li><a href="">三分钟了解奉贤</a></li>
					<li><a href="/select/focus">特色聚焦</a></li>
					<li><a href="">区位交通</a></li>
					<li><a href="">资源信息</a></li>
					<li><a href="">信息查询</a></li>
				</ul>
				<ul>
					<li><a href="">为何选择奉贤</a></li>
					<li><a href="/introduction">奉贤概况</a></li>
					<li><a href="/advantages">奉贤优势</a></li>
					<li><a href="/select/focus">特色聚焦</a></li>
				</ul>
				<ul>
					<li><a href="">产业集群</a></li>
					<li><a href="/indutryCluster/distribution">重点产业</a></li>
					<li><a href="/indutryCluster/distribution">产业分布</a></li>
				</ul>
				<ul>
					<li><a href="">产业资源</a></li>
					<li><a href="">资源信息查询</a></li>
					<li><a href="/indutryResource/plant">厂房资源</a></li>
					<li><a href="/indutryResource/building">商务楼宇</a></li>
					<li><a href="/indutryResource/land">土地资源</a></li>
				</ul>
				<ul>
					<li><a href="">投资指南</a></li>
					<li><a href="">设立公司</a></li>
					<li><a href="">投资流程</a></li>
					<li><a href="">优惠政策</a></li>
					<li><a href="/investGuide/successCases">成功案例</a></li>
				</ul>
				<ul>
					<li><a href="">新闻中心</a></li>
					<li><a href="">最新项目</a></li>
					<li><a href="">宣传册、片</a></li>
					<li><a href="">新闻动态</a></li>
				</ul>
				<ul>
					<li><a href="/contactus">联系我们</a></li>
					<li><a href="/contactus">关于我们</a></li>
					<li><a href="/contactus">联系我们</a></li>
					<li><a href="">项目咨询</a></li>
				</ul>
				<div class="yqinfo">
					<p><img src="../images/index/footer-logo.png">上海市奉贤区人民政府招商办公室</p>
					<p class="small">Investment Promotion Office of FengXian District，Shanghai</p>
					<p>上海奉贤区望园路1529弄2号</p>
					<p>电话：021-67137517 传真：021-67137529</p>
					<p class="small">NO.2，Iane 1579，south Wangyuan Road，Fengxian District，Shanghai</p>
					<p class="small">Tel：021-67137517		Fax：021-67137529</p>
				</div>
				<div class="selections">
					<select name="" id="">
						<option value="市政府部门1">市政府部门1</option>
						<option value="市政府部门2">市政府部门2</option>
						<option value="市政府部门3">市政府部门3</option>
						<option value="市政府部门4">市政府部门4</option>
					</select>
					<div class="line"></div>
					<select name="" id="">
						<option value="区政府部门1">区政府部门1</option>
						<option value="区政府部门2">区政府部门2</option>
						<option value="区政府部门3">区政府部门3</option>
						<option value="区政府部门4">区政府部门4</option>
					</select>
					<div class="line"></div>
					<select name="" id="">
						<option value="经济园区1">经济园区1</option>
						<option value="经济园区2">经济园区2</option>
						<option value="经济园区3">经济园区3</option>
						<option value="经济园区4">经济园区4</option>
					</select>
					<div class="line"></div>
					<select name="" id="">
						<option value="开发区1">开发区1</option>
						<option value="开发区2">开发区2</option>
						<option value="开发区3">开发区3</option>
						<option value="开发区4">开发区4</option>
					</select>
					<div class="line"></div>
					<select name="" id="">
						<option value="职能部门1">职能部门1</option>
						<option value="职能部门2">职能部门2</option>
						<option value="职能部门3">职能部门3</option>
						<option value="职能部门4">职能部门4</option>
					</select>
				</div>
			</div>
		</section>
		<section class="copyright">
			<span>Copyright@2016上海市奉贤区人民政府招商办公室    沪ICP备09020003号-1</span>
		</section>
	</footer>

</template>