<template name="footer">
	
	<footer>
		<section class="main-list">
			<div class="content">
				<div class="lists">
					<ul>
						<li><a href="">首页</a></li>
						<li><a href="">新闻资讯</a></li>
						<li><a href="">重点产业</a></li>
						<li><a href="">三分钟了解奉贤</a></li>
						<li><a href="">特色聚焦</a></li>
						<li><a href="">区位交通</a></li>
						<li><a href="">资源信息</a></li>
						<li><a href="">信息查询</a></li>
					</ul>
					<ul>
						<li><a href="">为何选择奉贤</a></li>
						<li><a href="">奉贤概况</a></li>
						<li><a href="">奉贤优势</a></li>
						<li><a href="">特色聚焦</a></li>
					</ul>
					<ul>
						<li><a href="">产业集群</a></li>
						<li><a href="">重点产业</a></li>
						<li><a href="">产业分布</a></li>
					</ul>
					<ul>
						<li><a href="">产业资源</a></li>
						<li><a href="">资源信息查询</a></li>
						<li><a href="">厂房资源</a></li>
						<li><a href="">商务楼宇</a></li>
						<li><a href="">土地资源</a></li>
					</ul>
					<ul>
						<li><a href="">投资指南</a></li>
						<li><a href="">设立公司</a></li>
						<li><a href="">投资流程</a></li>
						<li><a href="">优惠政策</a></li>
						<li><a href="">成功案例</a></li>
					</ul>
					<ul>
						<li><a href="">新闻中心</a></li>
						<li><a href="">最新项目</a></li>
						<li><a href="">宣传册、片</a></li>
						<li><a href="">新闻动态</a></li>
					</ul>
					<ul>
						<li><a href="">联系我们</a></li>
						<li><a href="">关于我们</a></li>
						<li><a href="">联系我们</a></li>
						<li><a href="">项目咨询</a></li>
					</ul>
				</div>
				<div class="info">
					<p><img src="../images/index/footer-logo.png">上海市奉贤区人民政府招商办公室</p>
					<p>Investment Promotion Office of FengXian District，Shanghai</p>
					<p>上海奉贤区望园路1529弄2号</p>
					<p>电话：021-67137517 传真：021-67137529</p>
					<p>NO.2，Iane 1579，south Wangyuan Road，Fengxian District，Shanghai</p>
					<p>Tel：021-67137517		Fax：021-67137529</p>
				</div>
				<div class="selections">
					<ul>
						<li>
							<!-- <div>市政府部门<img src="images/index/arrow.png" alt=""></div> -->
							<div class="select-list">
								<select name="" id="">
									<option value="">市政府部门1</option>
									<option value="">市政府部门2</option>
									<option value="">市政府部门3</option>
									<option value="">市政府部门4</option>
								</select>
							</div>
						</li>
						<li>
							<div class="select-list">
								<select name="" id="">
									<option value="">市政府部门1</option>
									<option value="">市政府部门2</option>
									<option value="">市政府部门3</option>
									<option value="">市政府部门4</option>
								</select>
							</div>

						</li>
						<li>
							<div class="select-list">
								<select name="" id="">
									<option value="">市政府部门1</option>
									<option value="">市政府部门2</option>
									<option value="">市政府部门3</option>
									<option value="">市政府部门4</option>
								</select>
							</div>

						</li>
						<li>
							<div class="select-list">
								<select name="" id="">
									<option value="">市政府部门1</option>
									<option value="">市政府部门2</option>
									<option value="">市政府部门3</option>
									<option value="">市政府部门4</option>
								</select>
							</div>

						</li>
						<li>
							<div class="select-list">
								<select name="" id="">
									<option value="">市政府部门1</option>
									<option value="">市政府部门2</option>
									<option value="">市政府部门3</option>
									<option value="">市政府部门4</option>
								</select>
							</div>

						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="copyright">
			<span>Copyright@2016上海市奉贤区人民政府招商办公室    沪ICP备09020003号-1</span>
		</section>
	</footer>

</template>