<template name="header">

		<header>
			<section class="choose-language">
				<div class="content">
					<a class="qrcode">
						<img src="../images/index/qr-icon.png" alt="">
						官方微信
					</a>
					<ul>
						<li><a href="">繁体</a></li>
						<li><a href="" class="mid">English</a></li>
						<li><a href="" class="good">无障碍</a></li>
					</ul>
					<img src="../images/index/qr-code.png" alt="" class="qr-code">
				</div>
			</section>
			<div style="background: url(../images/index/header-bg.png)">
			<section class="head-box">
				<div class="content">
					<div class="left">
						<img src="../images/index/logo.png" alt="">
						<img src="/images/index/title.png" alt="">
					</div>
					<div class="right">
						<input type="text"/>
						<div class="search">
							<img src="../images/index/search.png" alt="">搜索
						</div>
						<div class="col-line"></div>
						<div class="login-regist">
							<ul>
								<li><a href="#" id="regist">注册</a></li>
								<li><a href="/login" id="login">登录</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="nav">
				<div class="content">
					<ul>
						<li class="nav1">
							<a href="/">
								<p>首页</p>
								<p class="en">HOME</p>
							</a>
						</li>
						<li  class="nav1">
							<a href="#">
							<p>选择奉贤</p>
							<p class="en">WHY FENGXIAN</p>
							</a>
							<ul>
								<li><a href="/introduction">奉贤概况</a></li>
								<li><a href="/advantages">奉贤优势</a></li>
								<li><a href="/select/focus">特色聚焦</a></li>
								<li><a href="/select/transportation">区位交通</a></li>
							</ul>			
						</li>
						<li  class="nav1">
							<a href="#">
							<p>产业集群</p>
							<p class="en">INDUSTRY CLUSTER</p>
							</a>
							<ul>
								<li><a href="/indutryCluster/distribution">重点产业</a></li>
								<li><a href="/indutryCluster/distribution">产业分布</a></li>
							</ul>
						</li>
						<li  class="nav1">
							<a href="#">
							<p>产业资源</p>
							<p class="en">INDUSTRY RESOURCE</p>
							</a>
							<ul>
								<li><a href="/indutryResource/plant">厂房</a></li>
								<li><a href="/indutryResource/land">土地</a></li>
								<li><a href="/indutryResource/building">楼宇</a></li>
								
							</ul>
						</li>
						<li  class="nav1">
							<a href="">
							<p>投资指南</p>
							<p class="en">INVESTMENT GUIDE</p>
							</a>
							<ul style="position: absolute;
							left: 40%;">
								<li><a href="/investGuide/zdev">镇、开发区</a></li>
								<li><a href="/process">投资流程</a></li>
								<li><a href="/investGuide/concessions">优惠政策</a></li>
								<li><a href="/investGuide/successCases">成功案例</a></li>
							</ul>
						</li>
						<li  class="nav1">
							<a href="/mediaCenter">
							<p>媒体中心</p>
							<p class="en">MEDIA CENTER</p>
							</a>
							<ul>
								<li><a href="">资料下载</a></li>
								<li><a href="/mediaCenter/projectDetail">项目详情</a></li>
							</ul>
						</li>
						<li  class="nav1">
							<a href="/contactus">
							<p>联系我们</p>
							<p class="en">CONTACT US</p>
							</a>
							<ul style="position: absolute;
							left: 44%;">
								<li><a href="">关于我们</a></li>
								<li><a href="">项目咨询</a></li>
								<li><a href="">联系方式</a></li>
								<li><a href="">交通路线</a></li>
							</ul>
						</li>
					</ul>
					<div class="nav2-bg"></div>
				</div>
			</section>
			</div>
			
		</header>


</template>