<template name="header">
		<header>
			<section class="choose-language">
				<div class="content">
					<a class="qrcode">
						<img src="../images/index/qr-icon.png" alt="">
						官方微信
					</a>
					<ul>
						<li><a href="">繁体</a></li>
						<li><a href="" class="mid">English</a></li>
						<li><a href="" class="good">无障碍</a></li>
					</ul>
					<img src="../images/index/qr-code.png" alt="" class="qr-code">
				</div>
			</section>
			<div style="background: url(../images/index/header-bg.png)">
			<section class="head-box">
				<div class="content">
					<div class="left">
						<img src="../images/index/logo.png" alt="">

					</div>
					<div class="right">
						<input type="text"/>
						<div class="search">
							<img src="../images/index/search.png" alt="">搜索
						</div>
						<div class="col-line"></div>
						<div class="login-regist">
							<ul>
								<li><a href="#" id="regist">注册</a></li>
								<li><a href="/login" id="login">登录</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="nav">
				<div class="content">
					<ul>
						<li class="nav1" name="nonav">
							<a href="/">
								<p>首页</p>
								<p class="en">HOME</p>
							</a>
						</li>
						<li  class="nav1">
							<a href="#">
							<p>选择奉贤</p>
							<p class="en">WHY FENGXIAN</p>
							</a>
						</li>
						<li  class="nav1">
							<a href="#">
							<p>产业集群</p>
							<p class="en">INDUSTRY CLUSTER</p>
							</a>
						</li>
						<li  class="nav1">
							<a href="#">
							<p>产业资源</p>
							<p class="en">INDUSTRY SOURCE</p>
							</a>
						</li>
						<li  class="nav1">
							<a href="">
							<p>投资指南</p>
							<p class="en">INVESTMENT GUIDE</p>
							</a>
						</li>
						<li  class="nav1">
							<a href="/mediaCenter">
							<p>媒体中心</p>
							<p class="en">MEDIA CENTER</p>
							</a>
						</li>
						<li  class="nav1" name="nonav">
							<a href="">
							<p>联系我们</p>
							<p class="en">CONTACT US</p>
							</a>
						</li>
					</ul>
				</div>
			</section>
			</div>
			<div class="second-nav">
				<div class="sec-nav">
					<div class="left">
						<ul>
							<a href="/introduction" title="" class="activeNav"><li>奉贤概况</li></a>
							<a href="/advantages" title=""><li>奉贤优势</li></a>
							<a href="/select/focus" title=""><li>特色聚焦</li></a>
							<a href="/select/transportation" title=""><li>区位交通</li></a>
						</ul>
					</div>
					<div class="right">
						<div class="nav-content show">
							<div class="nav-right">
								<a href="/introduction">
									<img src="../images/index/qrjh.png" alt="">
									<p class="detail-title">奉贤审批事项年内全部接入区级大厅</p>
									<p>奉贤市委、市政府着眼天津未来长远发展，着力优化空间布局。</p>
								</a>
							</div>
							<div class="nav-right">
								<a href="/introduction">
									<img src="../images/index/qrjh.png" alt="">
									<p class="detail-title">奉贤审批事项年内全部接入区级大厅</p>
									<p>奉贤市委、市政府着眼天津未来长远发展，着力优化空间布局。</p>
								</a>
							</div>
						</div>

						<div class="nav-content fxys hide">
						<a href="">
							<div>
								<a href="" class="fxys-a">
								<img src="../images/index/交通.png" alt="">
								<span>交通</span>
								</a>
							</div>
							<div class="red">
								<a href="" class="fxys-a">
								<img src="../images/index/潜力.png" alt="">
								<span>潜力</span>
								</a>
							</div>
							<div class="red">
								<a href="" class="fxys-a">
								<img src="../images/index/活力.png" alt="">
								<span>活力</span>
								</a>
							</div>
							<div>
								<a href="" class="fxys-a">
								<img src="../images/index/产业.png" alt="">
								<span>产业</span>
								</a>
							</div>
							<div>
								<a href="" class="fxys-a">
								<img src="../images/index/生态.png" alt="">
								<span>生态</span>
								</a>
							</div>
							<div>
								<a href="" class="fxys-a">
								<img src="../images/index/人才.png" alt="">
								<span>人才</span>
								</a>
							</div>
						</a>
						</div>


						<div class="nav-content tsjj hide">
						<a href="/select/focus">
							<div>
								<a href=""><img src="../images/index/qrjh.png" alt=""></a>
								<p>千人计划</p>
							</div>
							<div>
								<a href=""><img src="../images/index/qrjh.png" alt=""></a>
								<p>创新创业</p>
							</div>
							<div>
								<a href=""><img src="../images/index/qrjh.png" alt=""></a>
								<p>服务平台</p>
							</div>
							<div>
								<a href=""><img src="../images/index/qrjh.png" alt=""></a>
								<p>东方美谷</p>
							</div>
						</a>
						</div>

						<div class="nav-content qwjt fxgk hide">
						<a href="/select/transportation">
							<img src="../images/index/qrjh.png" alt="">
							<span>距离市中心40KM</span>
							<p>距离上海自由贸易试验区50KM</p>
							<p>距离浦东国际机场40KM</p>
							<p>距离虹桥国际机场30KM</p>
							<p>距离洋山深水港20KM</p>
						</a>
						</div>
					</div>
				</div>
				<div class="sec-nav">
					<div class="sec-container">
						<section class="con-list">
							<p>重点产业</p>
							<div class="list-detail">
							 <ul>
							 	<a href="/indutryCluster/distribution" title=""><li>新能源</li></a>
							 	<a href="/indutryCluster/distribution" title=""><li>智能电网</li></a>
							 	<a href="/indutryCluster/distribution" title=""><li>金融服务业</li></a>
							 </ul>
							 <ul>
							 	<a href="/indutryCluster/distribution" title=""><li>新材料</li></a>
							 	<a href="/indutryCluster/distribution" title=""><li>现代商贸</li></a>
							 	<a href="/indutryCluster/distribution" title=""><li>生产性服务业</li></a>
							 </ul>
							 <ul>
							 	<a href="/indutryCluster/distribution" title=""><li>美丽健康</li></a>
							 	<a href="/indutryCluster/distribution" title=""><li>文创旅游休闲</li></a>
							 </ul>
							 <ul>
							 	<a href="/indutryCluster/distribution" title=""><li>先进装备</li></a>
							 	<a href="/indutryCluster/distribution" title=""><li>平台及电子商务</li></a>
							 </ul>
							</div>
						</section>
						<section class="con-list">
							<p>产业分布</p>
							<div class="list-detail">
							   <a href="/indutryCluster/distribution" title=""><img src="/images/index/qrjh.png" alt="产业分布图"></a>
							</div>
						</section>
					</div>
				</div>
				<div class="sec-nav">
					<div class="left">
					  <ul>
					    <a href="/indutryResource/land" title="" class="activeNav"><li>土地</li></a>
					    <a href="/indutryResource/plant" title=""><li>厂房</li></a>
					    <a href="/indutryResource/building" title=""><li>楼宇</li></a>
					  </ul>
					</div>
					<div class="right">
						<div class="nav-content show">
							<div class="nav-right">
								<a href="/introduction">
									<img src="../images/index/qrjh.png" alt="">
									<p class="detail-title">奉贤审批事项年内全部接入区级大厅</p>
									<p>奉贤市委、市政府着眼天津未来长远发展，着力优化空间布局。</p>
								</a>
							</div>
							<div class="nav-right">
								<a href="/introduction">
									<img src="../images/index/qrjh.png" alt="">
									<p class="detail-title">奉贤审批事项年内全部接入区级大厅</p>
									<p>奉贤市委、市政府着眼天津未来长远发展，着力优化空间布局。</p>
								</a>
							</div>
						</div>

					</div>

				</div>
				<div class="sec-nav">
					<div class="left">
						<ul>
							<a href="/investGuide/zdev" title="" class="activeNav"><li >镇、开发区</li></a>
							<a href="/process" title=""><li>投资流程</li></a>
							<a href="/investGuide/concessions" title=""><li>优惠政策</li></a>
							<a href="/investGuide/successCases" title=""><li>成功案例</li></a>
						</ul>
					</div>
					<div class="right">
						<div class="nav-content show">
							<div class="nav-right">
								<a href="/introduction">
									<img src="../images/index/qrjh.png" alt="">
									<p class="detail-title">奉贤区金融服务业财政扶持办法（试行）</p>
									<p>奉贤市委、市政府着眼天津未来长远发展，着力优化空间布局。</p>
								</a>
							</div>
							<div class="nav-right">
								<a href="/introduction">
									<img src="../images/index/qrjh.png" alt="">
									<p class="detail-title">奉贤区金融服务业财政扶持办法（试行）</p>
									<p>奉贤市委、市政府着眼天津未来长远发展，着力优化空间布局。</p>
								</a>
							</div>
						</div>
						<!-- <div class="nav-content zdev">
							<div>
								<h3>镇</h3>
								<ul>
									<li><a href="">
										<img src="../images/index/qrjh.png" alt="">
										庄行
									</a></li>
									<li><a href="">
										<img src="../images/index/qrjh.png" alt="">
										四团
									</a></li>
									<li><a href="">
										<img src="../images/index/qrjh.png" alt="">
										南桥
									</a></li>
									<li><a href="">
										<img src="../images/index/qrjh.png" alt="">
										拓林
									</a></li>
									<li><a href="">
										<img src="../images/index/qrjh.png" alt="">
										金汇
									</a></li>
									<li><a href="">
										<img src="../images/index/qrjh.png" alt="">
										海湾
									</a></li>
									<li><a href="">
										<img src="../images/index/qrjh.png" alt="">
										奉城
									</a></li>
									<li><a href="">
										<img src="../images/index/qrjh.png" alt="">
										青村
									</a></li>
								</ul>
							</div>
							<div>
								<h3>开发区</h3>
								<ul>
									<li><a href=""><img src="../images/index/qrjh.png" alt="">上海市工业综合开发区</a></li>
									<li><a href=""><img src="../images/index/qrjh.png" alt="">上海市奉贤开发区</a></li>
									<li><a href=""><img src="../images/index/qrjh.png" alt="">上海市海港综合经济开发区</a></li>
								</ul>
								<a href="" class="more">更多</a>
							</div>
						</div> -->
						<div class="nav-content txlc hide">
							<div>
								<a href=""><img src="../images/index/qrjh.png" alt=""></a>
								<p>内容企业登记</p>
							</div>
							<div>
								<a href=""><img src="../images/index/qrjh.png" alt=""></a>
								<p>外资企业登记</p>
							</div>
							<div>
								<a href=""><img src="../images/index/qrjh.png" alt=""></a>
								<p>建筑工程项目</p>
							</div>
						</div>
						<div class="nav-content yhzc hide">
							<ul>
								<li>政策级别</li>
								<li><a href="">上海市</a></li>
								<li><a href="">国家</a></li>
								<li><a href="">上海市</a></li>
								<li><a href="">国家</a></li>
							</ul>
							<ul>
								<li>政策级别</li>
								<li><a href="">财政服务</a></li>
								<li><a href="">技术改造</a></li>
								<li><a href="">金融服务</a></li>
								<li><a href="">科技创新</a></li>
								<li><a href="">人才激励</a></li>
								<li><a href="">其他</a></li>
							</ul>
							<ul>
								<li>发布部门</li>
								<li><a href="">科委</a></li>
								<li><a href="">经委</a></li>
								<li><a href="">信息委</a></li>
								<li><a href="">财政局</a></li>
								<li><a href="">发改委</a></li>
								<li><a href="">组织部</a></li>
								<li><a href="">更多</a></li>
							</ul>
							<ul>
								<li>行业类别</li>
								<li><a href=""></a>新能源</li>
								<li><a href=""></a>生物医药</li>
								<li><a href=""></a>新材料</li>
								<li><a href=""></a>智能电网</li>
								<li><a href=""></a>先进装备</li>
								<li><a href=""></a>现代商贸服务</li>
								<li><a href=""></a>更多</li>
							</ul>
						</div>
						<div class="nav-content cgal hide">
							<a href="">
							<div>
								<img src="../images/index/demo1.png" alt="">
								<p>如新</p>
							</div>
							</a>
							<a href="">
							<div>
								<img src="../images/index/demo2.png" alt="">
								<p>日野</p>
							</div>
							</a>
							<a href="">
							<div>
								<img src="../images/index/demo1.png" alt="">
								<p>如新</p>
							</div>
							</a>
							<a href="">
							<div>
								<img src="../images/index/demo2.png" alt="">
								<p>日野</p>
							</div>
							</a>
							<a href="">
							<div>
								<img src="../images/index/demo3.png" alt="">
								<p>拜耳</p>
							</div>
							</a>
							<a href="">
							<div>
								<img src="../images/index/demo4.png" alt="">
								<p>巴斯夫</p>
							</div>
							</a>
							<a href="">
							<div>
								<img src="../images/index/demo3.png" alt="">
								<p>拜耳</p>
							</div>
							</a>
							<a href="">
							<div>
								<img src="../images/index/demo4.png" alt="">
								<p>巴斯夫</p>
							</div>
							</a>
							<a href="" class="more">更多</a>
						</div>
					</div>
				</div>
				<div class="sec-nav">
					<div class="left">
						<ul>
							<a href="" title="" class="activeNav"><li>新闻动态</li></a>
							<a href="" title=""><li>资料下载</li></a>
							<a href="" title=""><li>最新项目</li></a>
						</ul>
					</div>
					<div class="right">
						<div class="nav-content">
							<div class="nav-right">
								<a href="/introduction">
									<img src="../images/index/qrjh.png" alt="">
									<p class="detail-title">奉贤区金融服务业财政扶持办法（试行）</p>
									<p>奉贤市委、市政府着眼天津未来长远发展，着力优化空间布局。</p>
								</a>
							</div>
							<div class="nav-right">
								<a href="/introduction">
									<img src="../images/index/qrjh.png" alt="">
									<p class="detail-title">奉贤区金融服务业财政扶持办法（试行）</p>
									<p>奉贤市委、市政府着眼天津未来长远发展，着力优化空间布局。</p>
								</a>
							</div>
						</div>
						<div class="nav-content zlxz hide">
							<div>
								<img src="../images/index/qrjh.png" alt="">
								<span>2015南桥新城点线面动画片</span>
								<button>下载</button>
							</div>
							<div>
								<img src="../images/index/qrjh.png" alt="">
								<span>2015南桥新城点线面动画片</span>
								<button>下载</button>
							</div>
							<div>
								<img src="../images/index/qrjh.png" alt="">
								<span>2015南桥新城点线面动画片</span>
								<button>下载</button>
							</div>
						</div>
						<div class="nav-content zxxm xwdt hide">
							<div>
								<img src="../images/index/qrjh.png" alt="">
								<h3>晨光文具互联网项目</h3>
								<p>投资人：上海晨光文具股份有限公司<br>投资额：18亿元</p>
							</div>
							<div>
								<img src="../images/index/qrjh.png" alt="">
								<h3>晨光文具互联网项目</h3>
								<p>投资人：上海晨光文具股份有限公司<br>投资额：18亿元</p>
							</div>
						</div>
					</div>
				</div>
<!-- 				<div class="sec-nav">
					<div class="left">
						<ul>
							<li>关于我们</li>
							<li>项目咨询</li>
							<li>联系方式</li>
							<li>交通路线</li>
							<li></li>
						</ul>
					</div>
					<div class="right"></div>
				</div> -->
			</div>
		</header>
</template>
