<template name="helper">
	<div id="helper">
		<div class="content">
			<div class="text">
			<button><i class="sprite sprite-txt"></i>文本模式</button>
			</div>
			<div class="scale">
				<button><i class="sprite sprite-big"></i></button>
				<button><i class="sprite sprite-smll"></i></button>
				页面浏览
			</div>
			<div class="site-color">
				<button><i class="sprite sprite-three"></i></button>
				<button><i class="sprite sprite-black"></i></button>
				<button><i class="sprite sprite-red"></i></button>
				<button><i class="sprite sprite-blue"></i></button>
				<button><i class="sprite sprite-none"></i></button>
				配色
			</div>
			<div class="close-helper">
				<button><i class="sprite sprite-close"></i>
				<span>关闭</span></button>
			</div>
		</div>
	</div>
</template>